[2017-09-29 02:31] babbush opened #6 "Move to one branch git flow"
We have decided that we will move away from the master/develop style git flow and just have a master branch. The master branch should always be a stable build but every once and a while if there is a lot of development we will tag a new release, bump the version number, and update PyPI.

Craig, can you take care of this? The idea should be to somehow delete master and then rename develop as master

[2017-09-29 02:33] babbush opened #7 "Tests for the jupyter notebooks"
All of our repos have demo jupyter notebooks in the examples folders. Very often it happens that somebody makes a change to the code that breaks these notebooks because there are no tests. We want some sort of test that just makes sure the jupyter notebook was able to run without errors.

[2017-09-29 15:23] babbush opened #8 "Coveralls need to cover it mouth"
For some reason coveralls has a habit of commenting multiple times on pull requests, even when there is no new activity. I've used coveralls before but never seen this problem outside of our recently configured repos. The main reason I care is because I "watch" the repo and receive emails updates on all activity. It is somewhat obnoxious to have coveralls emailing me two or three times for most PR

[2017-09-29 15:26] babbush opened #9 "Sparse efficiency warning in tests"
When running tests in OpenFermion locally, one of the tests in utils/ gives a sparse efficiency warning. This should be addressed.

[2017-09-29 15:43] maffoo commented on #6
+1 for master-based workflow. @babbush you can just force-push the current `develop` branch to `master`; that would erase any history on the current master branch and just replace it with the develop branch. Since @Strilanc is out at the moment, I'd be happy to help with this.

[2017-09-29 15:47] babbush commented on #6
@maffoo that would be great! Thank you! If it is not too much trouble, can you do this for the other repos as well? You can ignore the pull request to master on OpenFermion-ProjectQ since I was just pulling develop to master anyways. I assume this won't hurt my pull request that is open on OpenFermion?

[2017-09-29 15:49] maffoo commented on #6
@babbush, I'll force-push the develop branch to master and then see if we can update your PR to merge into master instead. If it can't be updated in-place we might have to open a new PR.

[2017-09-29 15:49] babbush commented on #6
:+1:

[2017-09-29 15:59] maffoo commented on #6
Ok, I force-pushed master and changed the PR base on #5 to point to master so should be good. I also re-enabled branch protection on master and changed the repository default branch to master. Changing the default branch caused github to pop up a warning dialog about possible strangeness for forked repos and clones. If people run into any issues please comment on this issue and we'll figure it out

[2017-09-29 16:15] maffoo commented on #6
Looks like if you have cloned the repo locally you will want to change the file `.get/HEAD` to point to the correct branch. This file probably looks like
[code]
and should be changed to
[code]
Alternatively, you can just delete your local checkout and clone again from github (make sure to push any in-progress work on other branches to github so you don't lose it).

If you have a fork of the repo,

[2017-09-29 16:27] maffoo commented on #6
Pushed master and updated the default branch on the other repos.

[2017-09-29 17:57] babbush commented on #6
Thanks Matthew!!

[2017-09-29 17:57] #6 closed

[2017-09-29 18:01] babbush opened #10 "Developers: feel free to edit README to link to your names"
As I have done for myself, feel free to link your name to a personal webpage.

[2017-09-30 00:43] babbush opened #11 "CLA bot does strange things"
For instance, it is very clear that I am the only person who made commits on this pull request, https://github.com/quantumlib/OpenFermion-ProjectQ/pull/14

And yet the CLA bot seems to think multiple people are committing.

[2017-09-30 00:44] babbush commented on #11
Ah nevermind, Ian did comment. But he has definitely signed the CLA so that is strange.

[2017-09-30 00:44] #11 closed

[2017-09-30 01:11] babbush opened #12 "CVXOPT and GLPK in travis"
I want to add some code which optionally requires [CVXOPT](http://cvxopt.org/index.html) and [GLPK](https://www.gnu.org/software/glpk/) (Gnu Linear Programming Kit).

The code will also work with scipy but scipy supports only the simplex method of linear programming, which is very slow for my application. The code will use scipy by default and raise an exception saying that CVXOPT and GLPK are not

[2017-10-03 16:56] babbush commented on #9
Fixed in https://github.com/quantumlib/OpenFermion/pull/13

[2017-10-03 16:56] #9 closed

[2017-10-03 17:31] babbush commented on #8
coveralls has mostly behaved in the last few days so I will close this for now.

[2017-10-03 17:31] #8 closed

[2017-10-03 17:32] babbush commented on #12
Took care of this.

[2017-10-03 17:32] #12 closed

[2017-10-03 22:56] babbush commented on #8
I explicitly fixed this by having coveralls not make posts to the PR.

[2017-10-05 00:02] babbush commented on #7
Closed this by https://github.com/quantumlib/OpenFermion/pull/15
Wasn't as easy as I would have thought!

[2017-10-05 00:02] #7 closed

[2017-10-06 21:14] babbush opened #21 "automatic documentation generation for plugins"
Documentation is up and working well for OpenFermion but we don't have the sphinx docs or readthedocs up for our three plugins.

[2017-10-14 19:18] DanielSank opened #35 "Perhaps the README should indicate compatible python versions"

[2017-10-14 19:23] DanielSank opened #36 "Recommend virtualenv instead of pip install --user"
The README recommends the `--user` flag for pip install. This is generally a very good idea, but it seems like an attempt to avoid the generally accepted "right" way to isolate installed python packages from the system python, namely with [`virtualenv`](https://virtualenv.pypa.io/en/stable/).

[2017-10-14 19:25] babbush commented on #35
We support 2.7, 3.4, 3.5 and 3.6. So basically all of them (I don't think any of the other versions are really in use). We certainly can do this. I think a good option would be to add a badge showing the versions supported (for instance, this is done in [ProjectQ](https://github.com/ProjectQ-Framework/ProjectQ)). @Strilanc or @dabacon do you know how to add that badge?

[2017-10-14 19:31] babbush commented on #36
We actually provide a docker image which is a preconfigured virtual environment essentially. I'd like to hear some other opinions on this one because I am of the opinion that we want to avoid unnecessarily complicated install instructions, especially for those who are avoiding a develop install and are likely to be less sophisticated users. In other words, I think that most people who know how to

[2017-10-14 19:33] babbush commented on #35
Actually, @damiansteiger or @thomashaener can you comment on how to configure this badge? Since you guys set this up in ProjectQ you must know how to do it.

[2017-10-14 19:39] DanielSank commented on #36
Agreed. It's unfortunate that virtualenv is still unnecessarily complicated, but I guess that's the reality of life.

So, in that case, why recommend the `--user` flag in the first place? Is that to avoid having to `sudo`?

Well, see issue #37...

[2017-10-14 19:40] babbush opened #37 "Code for BCH expansion"
Several times now I have wanted to implement code which performs a BCH expansion on operator data structures in OpenFermion such as QubitOperator, FermionOperator, and sparse matrices. I started to write some code for this:

[code]

But I am thinking that what we really want to do is to  implement the [form derived by Dynkin in 1947](https://en.wikipedia.org/wiki/Baker%E2%80%93Campbell%E2%80%93Hau

[2017-10-14 19:41] DanielSank opened #38 "PyPI install fails without first updating pip"
I made a virtualenv and did this

[code]

and got

[code]

This was with python 2.7.6 and pip 1.5.4.

[2017-10-14 19:45] DanielSank commented on #38
Aha, upgrading to pip 9.0.1 fixed the problem. I should have known as I've seen this problem before. It's not this project's job to fix pip, but this problem happens *all* the time so we might want to add something to the README.

[2017-10-14 19:46] DanielSank commented on #38
My recommended installation for people who use virtualenv would be (after activating your virtualenv):

[code]

[2017-10-14 19:47] babbush commented on #36
Yes, its so they don't need to use sudo (we certainly don't want that). Regarding https://github.com/quantumlib/OpenFermion/issues/38, I think the solution is to (as you say) remind people to first upgrade pip. I will do this on my next pull request sometime this weekend.

[2017-10-14 20:07] babbush commented on #37
Yet another issue to be fixed is why GitHub is randomly choosing not to format the top of my function correctly in the post above.

[2017-10-14 20:20] DanielSank opened #40 "Make distinction between "development" install and "as a lib" install more visually clear"
In the readme, I'd do something like this

## Installation

### Developer installation

blah blah

### User installation (i.e. as a lib)

blah blah

[2017-10-14 20:39] #38 closed

[2017-10-14 21:19] #40 closed

[2017-10-14 21:21] DanielSank commented on #10
This issue should probably be to put that in the README.

[2017-10-14 21:35] #36 closed

[2017-10-14 21:36] babbush commented on #10
Nah, we don't need more clutter in the README. I might just go in myself and link everybody who hasn't added a link to their GitHub page.

[2017-10-14 21:37] DanielSank commented on #10
Ok consider making a `contributing.md` and linking that from the README. An added benefit is that when someone files a pull request, github automatically shows them a link to `contributing.md`!

[2017-10-14 21:40] babbush commented on #10
This is a good idea.

[2017-10-14 21:45] babbush opened #42 "Add "models" folder"
The utils folder is getting a bit bloated. I suggest that we move all code that is specialized to generating model Hamiltonians (i.e. hubbard, jellium, plane_wave, meanfield and possible molecular_data) to a different folder called "models". This will require changing imports in a lot of the code and also in docs/examples.rst and in the demo ipython notebook.

[2017-10-14 21:57] babbush opened #43 "QubitOperator and FermionOperator should inherit from same parent"
In a very early version of this library (known then as OpenPQRS), we had a parent class from which both QubitOperator and FermionOperator inherited. This was an obvious design choice because the classes are extremely similar and differ in only a few places. However, when making FermiLib (the predecessor to OpenFermion) we decided that the QubitOperator class should be embedded in ProjectQ and so w

[2017-10-15 00:56] dabacon commented on #35
Added badge.   This isn't pulling from anywhere specific, but using the custom badges from https://img.shields.io/

[2017-10-15 00:56] #35 closed

[2017-10-15 01:09] DanielSank commented on #37
@babbush The formatting was messed up because you didn't use github's formatting ;-)

To do a code block (in python), you do this:

[code]

[2017-10-15 01:10] DanielSank commented on #37
I fixed the formatting in the first comment.

[2017-10-15 01:10] babbush commented on #37
Nice work. I will now delete these comments to save face...

[2017-10-15 01:12] DanielSank commented on #37
@babbush Face is overrated.

[2017-10-15 01:13] babbush commented on #37
Give vanity a chance.

[2017-10-15 20:54] kevinsung opened #46 "Data structure for quadratic Hamiltonians"
The InteractionOperator class provides a convenient matrix represention of fermionic operators that conserve particle number and spin. However, there is another class of operators that I'd like a convenient matrix representation for: general (not necessarily particle-number-conserving) quadratic Hamiltonians.

There are several ways one could represent such Hamiltonians, and I think the most conve

[2017-10-15 20:59] babbush commented on #46
I also see a need for this. Along these lines, we may also want to implement InteractionTensor in a more general way at some point so that we can optionally support higher body terms. While these are unlikely to come up often for InteractionOperator, there are many reasons why one is sometimes interested in the 3-RDM, for instance, and thus should come up sometimes for InteractionRDM.

[2017-10-15 22:39] #10 closed

[2017-10-15 23:03] babbush commented on #21
@dabacon I added the docs folder to OpenFermion-ProjectQ. Can you help me link those to readthedocs? Note that I've decided that for little changes like this which don't touch actual code, it should be acceptable to override the code review. But NEVER for actual code.

[2017-10-16 17:55] babbush commented on #21
Done

[2017-10-16 17:55] #21 closed

[2017-10-16 21:31] #42 closed

[2017-10-16 22:33] kevinsung commented on #46
What if instead of `one_body_tensor` and `two_body_tensor`, we stored a dictionary called `n_body_tensors`? `n_body_tensors[n]` would be the tensor corresponding to n-body interactions, and `n_body_tensors.keys()` would contain the types of interactions that the object describes.

[2017-10-17 00:40] babbush commented on #46
So, for instance, in your implementation my_tensor.n_body_tensors[3][3, 4, 5, 6, 7, 8] would correspond to the coefficient (if InteractionOperator) or expectation value (if InteractionRDM) of a^\dagger_3 a^\dagger_4 a^\dagger_5 a_6 a_7 _a_8. Right? That is a reasonable solution. Perhaps a little on the ugly side but it's at least "explicit" and fairly clear what is going on.

One thing I've been t

[2017-10-17 07:52] kevinsung commented on #46
Maybe rename InteractionTensor to PolynomialOperator. From the fact that it stores the coefficients of a polynomial in the creation and annihilation operators (the n-body interactions correspond to the coefficients of monomials with degree 2n). Would double as a reminder that it's a special class of operators that have a polynomial-size description.

[2017-10-17 17:34] babbush commented on #46
👍

[2017-10-17 19:27] babbush opened #55 "OpenFermion logo"
We'd like to come up with a logo for OpenFermion. Among other things, if we get a good logo, the odds of eventually making OpenFermion schwag increases dramatically. We can probably get some professional assistance in actually drawing up the logo but it would help to crowd source some concepts for the design. Perhaps the logo should be a stylized way of writing OpenFermion with some symbol. For in

[2017-10-18 01:48] ncrubin commented on #46
I like @kevinsung's idea of generalizing all the various Interaction* objects relating to marginal type objects.  The object would have some notion of data (the actual scalar values associated with the RDM) and the 'type' of the RDM--namely, the number of creation/annihilation operators.  That way transformations to other objects via Jordan-Wigner and inverse Jordan-Wigner can query the operator '

[2017-10-18 02:38] kanavsetia commented on #55
Spherical Harmonics are really cool too! I was looking at this picture
https://www.flickr.com/photos/oskay/4498896878/
and trying to come up with ideas. I'll let you know, if I come up with something.

[2017-10-18 02:44] babbush commented on #55
I like those too. Maybe the first "O" in OpenFermion could be the 3s orbital or something. Too bad none of the other letters have enough symmetry to be orbitals!

[2017-10-18 02:59] kanavsetia commented on #55
That's exactly what I was thinking too! There are plenty of options for "O", but just couldn't find an "F"
Also, if you just take one of the orbitals, then it's kinda hard to guess that someone was going for spherical harmonics. So, I was thinking something like this
https://user-images.githubusercontent.com/2586352/31698882-c263c26a-b38d-11e7-8612-68a9956842e1.png
"F" made out of spherical harmon

[2017-10-18 03:04] babbush commented on #55
Yeah I am also concerned that if we make the letters out of multiple atomic orbitals then it will be too small to see the orbitals. Let's try to imagine something that could be printed in reasonable sized letters on the breast of a t-shirt or something.

[2017-10-18 21:13] kevinsung commented on #46
@babbush I just submitted a PR with the changes we discussed. The get/set magics were already implemented and just needed to be updated. I only implemented the dictionary part; I did not change names or add sparse support. I also did not implement arbitrary n-body rotations. I think that in principle, the current functions for one- and two-body rotations can be combined into one function that can

[2017-10-19 18:44] idk3 commented on #43
As a smaller part of this - FermionOperator has the static methods identity and zero, but QubitOperator doesn't have these methods.

[2017-10-23 17:32] nonhermitian opened #82 "BUG: Decoding error in setup.py on Windows."
Currently, installing OpenFermion on Windows with Python 3 (have not checked on Py2) fails due to a decoding error in the opening of `README.rst` for the long description:

[code]
this is fixed by adding `encoding="utf-8"` as an argument to `open`.

[2017-10-23 17:43] babbush commented on #82
Thanks! We'll look into this. Unfortunately because the electronic structure package dependancies (Psi4 and PySCF) are only supported on mac and linux, we do not yet fully support Windows. For those running on Windows we would recommend using the Docker installation.

However, it is nice to know that the core library installs at all Windows! This does seem like a fairly easy issue to address.

[2017-10-23 18:30] nonhermitian commented on #82
That should probably be mentioned in the readme then.  Having been doing open source quantum stuff for a while now, I know that Windows support is kind of a requirement for wide acceptance.  Sadly, it is also a pain in the butt.

[2017-10-23 21:01] #82 closed

[2017-10-24 08:18] cclauss opened #84 "Undefined names may raise NameError at runtime"
flake8 testing of https://github.com/quantumlib/OpenFermion on Python 3.6.3

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__
[code]
https://github.com/quantumlib/OpenFermion/blob/master/src/openfermion/ops/_interaction_rdm.py#L50-L56

[2017-10-27 05:11] #46 closed

[2017-10-27 17:42] kevinsung opened #86 "General n-body rotations for PolynomialTensor"
Currently, the `rotate_basis` method of the PolynomialTensor class only rotates the (1, 0) and (1, 1, 0, 0) tensors, i.e., the tensors corresponding to terms of the form a^\dagger_p a_q and a^\dagger_p a^\dagger_q a_r a_s. Ideally, it would correctly rotate all tensors that are stored in the PolynomialTensor instance.

The rotation of the (1, 0) tensor is straightforward (just a basis change for a

[2017-10-27 19:22] #84 closed

[2017-10-28 22:00] jdaaph commented on #37
I would love to contribute, can you assign it to me ~^~

[2017-10-28 22:08] babbush commented on #37
Sure, we'd love to have you contribute! I can only use GitHub's "assign" on you if you accept the invitation I just sent to be an official collaborator of the project. But consider yourself assigned!

[2017-10-30 23:14] kevinsung opened #94 "Circular dependency when importing from utils in ops"
I'm working on the file `ops/_quadratic_hamiltonian.py`. In there, I add the line

```from openfermion.utils._slater_determinants import swap_columns, swap_rows```

This causes the tests in the `hamiltonians` folder to fail; i.e., when I run `pytest hamiltonians/`, I get

[code]

It seems that there is a circular dependency
MolecularData -> ops -> utils -> MolecularData
 and any file in the `ops`

[2017-10-31 01:34] babbush commented on #94
These sorts of circular dependancies can be really annoying to deal with. You may need to change the order of imports in `__init__` somewhere (breaking the alphabetical order) or you may need to do a much more specific import somewhere that does the import just inside a function instead of at the top of the file. In this sort of situation, I recommend just hacking to try to make things work. I do

[2017-10-31 02:01] Spaceenter commented on #94
My past experience is that circular dependencies indicate design issues, and could usually be solved by a bit re-design.
For this case, it seems like 'util' should be the lowest level. I agree things like "swap_column" and "swap_rows" should belong to 'util'. But I feel trotter_error.py should probably belong to higher level, maybe even higher than Hamiltonion.

I think the layer should be util ->

[2017-10-31 02:04] Strilanc commented on #94
I agree with @Spaceenter

[2017-10-31 02:08] babbush commented on #94
Actually I think that in most cases op is lower level than util. Kevin's
example is a somewhat rare exception.

On Oct 30, 2017 19:04, "Craig Gidney" <notifications@github.com> wrote:

[2017-10-31 02:11] kevinsung commented on #94
In that case one solution is to move `swap_rows` and `swap_columns` to `ops/_quadratic_hamiltonian.py` and import these functions in `utils/_slater_determinants.py`.

[2017-10-31 02:12] babbush commented on #94
That sounds like a very reasonable solution.

On Oct 30, 2017 19:11, "Kevin Sung" <notifications@github.com> wrote:

[2017-10-31 02:12] kevinsung commented on #94
However, I realized that in my pull request, I import other things from `utils` in `ops/_quadratic_hamiltonian.py`.

[2017-10-31 02:13] kevinsung commented on #94
Namely, I need to use `givens_decomposition` and `fermionic_gaussian_decomposition` from `utils/_slater_determinants.py` in `ops/_quadratic_hamiltonian.py`.

[2017-10-31 02:26] kevinsung commented on #94
Perhaps `utils/_slater_determinants.py` needs a new home.

[2017-10-31 02:44] kevinsung commented on #94
Okay, I think I have a satisfactory solution. I will restructure the code to resolve this in PR #95 .

[2017-10-31 02:54] babbush commented on #94
Great. Write "Fixes #94" in that PR so that when we merge it will close this issue automatically.

[2017-10-31 06:13] #94 closed

[2017-10-31 15:33] idk3 commented on #94
@kevinsung I'm late to the party, but one solution when all else fails is to import within the function. It looks like you've found a better solution through restructuring :)

[2017-11-02 07:04] babbush opened #100 "Higher dimensional Jordan-Wigner transform"
Explained in [this 2005 paper](https://arxiv.org/abs/cond-mat/0508353) by Verstraete and Cirac, it is possible to transform local fermion Hamiltonians on a lattice in D dimensions into local spin Hamiltonians on a lattice in D dimensions. Myself and others I've spoken with recently, including @dabacon, would love to play around with this mapping. So it would be great to have it implemented in Open

[2017-11-02 07:07] babbush opened #101 "v0.2 release notes"
Whenever we cut a new release we need to write a list of the new features. I also forget what all the new features are by that time. We should keep a running list of new features in this "issue". Whenever you fix a bug or add a feature, just mention it here and when we cut the release we'll include what your write in the release notes. I'll start with a couple of points.

[2017-11-02 07:08] babbush commented on #101
* Generalized the InteractionTensor class to handle arbitrary marginals. Now called PolynomialTensor.
* Added a data structure for manipulating Majoranas called QuadraticHamiltonian

[2017-11-02 15:45] kevinsung commented on #101
Ryan, I edited your comment because QuadraticHamiltonian uses Majoranas only internally, in contrast with my original plans that I discussed with you.

[2017-11-06 20:51] fangzh-umich commented on #86
Before this is resolved, maybe make the code throw an exception if there are other tensors stored? Failing silently feels dangerous.

[2017-11-12 02:20] jdaaph commented on #37
Some quick updates on the implementation: I've worked with my theorist friend to find out an efficient implementation for Dynkin's formula. I'm in the process of writing up the procedure in a short paper on arxiv and will refer to it in the implementation.

[2017-11-13 04:37] babbush commented on #37
That's sounds awesome! I'm looking forward to it!

[2017-11-13 23:07] babbush opened #108 "small molecule library"
I think it would be great to distribute OpenFermion with some more preloaded molecule files. Of course, one of the great things about OpenFermion is that one can use our Psi4 and PySCF plugins to generate these files; however, some people might not want to do that. For instance, OpenFermion runs on Windows but Psi4 and PySCF do not. But even if you can run the plugins, a database of preloaded mole

[2017-11-13 23:17] kevinsung commented on #101
- Fixed a bug in `jordan_wigner_sparse` where Pauli-Z strings of the Jordan-Wigner Transform were placed on higher indices rather than lower.
- Added code to obtain arbitrary eigenstates of quadratic Hamiltonians (a.k.a. fermionic Gaussian states) and circuits to prepare them.

[2017-11-14 21:02] hsim13372 commented on #108
Hi Ryan, Jhonathan and I have been working on something similar so we might be able to contribute some examples soon. Also, is there a "github-like" platform for data? If so, could we put the data there and link OpenFermion?

[2017-11-14 22:51] babbush commented on #108
I don't know what would be the best platform for this. Anyone else? Looping in the software engineering core:
@Spaceenter
@maffoo
@dabacon
@Spaceenter

[2017-11-14 22:59] Spaceenter commented on #108
I think the easiest thing might be Google Cloud Storage. It's very easy to configure and use, and it's very cheap.

[2017-11-17 10:56] JohanWinther commented on #55
![openfermion](https://user-images.githubusercontent.com/28558941/32943967-2ce53746-cb8e-11e7-8636-1f1dcc3d685a.png)
Here is one concept, it is subtle but I think it gets too cluttered when I tried to add a spin arrow to any of the O:s in the logo.

[2017-11-20 20:27] babbush commented on #55
I like it! is it possible to make the "e" in Fermion even more stylized? That does give a good nod to the electrons. I do think we need a subtle nod to quantum computing, probably via the O. What if the O were a little thinner, more round, and had a coordinate axis inside so that it looked like a Bloch sphere? I could see that being too cluttered. Another option would be to put either the first O,

[2017-11-20 20:28] babbush commented on #55
Especially if the O is a "0", this sort of makes sense. Because people often write things like H|n> = E_n |n>, so we are often after the |0> state.

[2017-11-20 20:32] babbush commented on #55
I think less is more though. Perhaps just <O|penF_e_rmion would be best.

[2017-11-28 04:35] jdaaph commented on #37
Hi, our code is finished, however it seems I don't have the permission to push my local branch to remote, please check and I'll push it tomorrow, thanks!

[2017-11-28 04:40] babbush commented on #37
Indeed, nobody (not even me) has permission to push directly to the remote. Instead, you should open a pull request. See https://help.github.com/articles/about-pull-requests/ for details about doing this. Also, you will need to make sure you've sign the Google CLA (https://cla.developers.google.com/clas).

[2017-11-28 20:53] JohanWinther commented on #55
![image](https://user-images.githubusercontent.com/28558941/33343341-3262f050-d485-11e7-8843-e7ade38a6b1c.png)

By going [here](https://www.codecogs.com/eqnedit.php?latex=\dpi{300}&space;\huge&space;\hat{\textbf{O}}\textbf{pen}\text{F}e\text{rmio}|\text{n}\rangle) you can see for yourself how different configurations look. I am not actually a designer (merely self-taught) so my opinions should pro

[2017-11-29 05:12] fangzh-umich commented on #86
From what I have seen, the rotation is just applied to all the indices of the tensor, with no regards to the "key", i.e. the (1, 1, 0, 0) and the (0, 0, 1, 1) tensors should be rotated the same way. Can anyone confirm that this is indeed the correct behavior?

[2017-11-29 05:20] fangzh-umich commented on #86
It seems that the release paper "specialized" the rotation _U_ to be real and orthogonal. Shouldn't we support the general case anyway?

[2017-11-29 17:17] ncrubin commented on #55
<img width="868" alt="openfermion_logo" src="https://user-images.githubusercontent.com/7128746/33388745-9befcab0-d4e5-11e7-84b8-4d234cf4391d.png">

Alludes to a 2-Fermion diagram (minus the arrows) and also a molecule?  The diagram in the upper right can certainly be cleaned up/more and stylized.

[2017-11-29 18:49] babbush commented on #55
I like both of these. While I don't think we've found "the ultimate" OpenFermion logo yet, I am in favor of using one of these on the front page sooner rather than later (we can always change it later on). @JohanWinther did you make the first logo using latex as well? If so, perhaps you can share the latex? I'd like to try one that is sort of a combination of the two examples you gave. Perhaps in

[2017-11-29 19:47] JohanWinther commented on #55
The logo was created using Illustrator, but I've created a [ShareLatex project](https://www.sharelatex.com/read/tzrrrcpwgvnh) which you can check out.

[2017-11-29 20:13] schuylerfried commented on #55
@ncrubin's design is pretty sleek

[2017-11-29 22:19] babbush commented on #55
I like @ncrubin's Feynman diagram but I despise his font. So what if we wrote OpenFermion like [this](https://www.codecogs.com/eqnedit.php?latex=%5Cdpi%7B300%7D&space;%5Chuge&space;%5Chat%7B%5Ctextbf%7BO%7D%7D%5Ctextbf%7Bpen%7D%5Ctext%7BF%7De%5Ctext%7Brmio%7D%7C%5Ctext%7Bn%7D%5Crangle) but where the "e" is some sort of orange/yellow color (I feel electrons are yellow but it needs to be dark enough

[2017-11-29 22:34] ncrubin commented on #55
I think serif fonts for logos should be avoided.  But that's my personal preference.   Font for the logo I suggested is certainly negotiable.  Mostly a proposal for using a non-serif font with non-latex characters + diagram.  I can work on a couple of versions.   I think the |n>...<  thing might look a little cluttered but I can make a rough sketch of it.

[2017-11-29 22:37] babbush commented on #55
I'm totally cool losing the serifs. I think @JohanWinther's font in the first example is nice (and that doesn't have serifs). But I do like the idea of having an italics e that is orange in Fermion, a hat on O in Open, and n in Open inside a ket and the Feynman diagram closing that ket.

[2017-11-30 03:27] kevinsung commented on #86
Yes, we should support the general case. The rotations of the (1, 1, 0, 0) tensors and (0, 0, 1, 1) tensors should differ by some complex conjugate signs (as we discussed in person).

[2017-11-30 06:08] kevinsung opened #116 "Inconsistency in basis transformations between code and paper"
I believe there is an inconsistency in how basis transformations of PolynomialTensor are treated between the code and the paper. I think it applies to the implementation of both one- and two-body basis changes, but I'll explain it for one-body. In Eq. (21) of the paper, the molecular orbital functions are transformed by the matrix U. This corresponds to a transformation of the creation operators b

[2017-11-30 06:21] kevinsung commented on #86
I'll note here that for the complex one-body case, the transformation M' = R M R^T generalizes to R* M R^T.

[2017-11-30 17:34] babbush commented on #116
So you are suggesting that we are implementing R^T M R instead of R M R^T? @jarrodmcc do you have any concerns about this? If not, I am fine signing off on the change.

[2017-11-30 17:36] kevinsung commented on #116
Yeah, the code for `one_body_basis_change` actually implements R^T M R, and I'm suggesting that it should be R M R^T instead. I think the code for `two_body_basis_change` would need to be changed too.

[2017-11-30 17:40] babbush commented on #116
The thing is that rotation matrices have the property that R^T = R^{-1}, which is just a rotation in the other direction. So you could view what we're actually doing as (R^{-1}) M (R^{-1})^T. So its just rotating in the opposite direction. This doesn't seem like a significant problem to me. Can we not just change what is in the paper? I don't really have strong feelings though.

[2017-11-30 17:41] babbush commented on #116
I should also mention that when changing the basis of an operator you should rotate in the opposite direction as when you change the basis of an RDM. I don't think we're being careful about that right now though.

[2017-11-30 23:24] kevinsung commented on #116
Yes, this issue is simply a matter of convention, so in that sense it doesn't matter that much. I guess the choice is between whether we think of the rotation of the operator or the rotation of the RDM as the "inverted" one. I'd like to think of the rotation of the RDM as the inverted one, probably because the papers I've been reading lately deal mainly with operators and use this convention. Eith

[2017-11-30 23:30] babbush commented on #116
That sounds fine to me.

On Nov 30, 2017 15:24, "Kevin Sung" <notifications@github.com> wrote:

Yes, this issue is simply a matter of convention, so in that sense it
doesn't matter that much. I guess the choice is between whether we think of
the rotation of the operator or the rotation of the RDM as the "inverted"
one. I'd like to think of the rotation of the RDM as the inverted one,
probably beca

[2017-12-01 05:29] babbush commented on #37
Closed by #114

[2017-12-01 05:29] #37 closed

[2017-12-03 20:27] babbush commented on #86
Closed by #117

[2017-12-03 20:27] #86 closed

[2017-12-03 20:28] babbush commented on #116
Closed by #117

[2017-12-03 20:28] #116 closed

[2017-12-03 20:28] #101 closed

[2017-12-04 20:58] babbush opened #119 "papers that use OpenFermion"
I think it would be nice to keep a list of publications that use OpenFermion in some way. Perhaps when people publish a new paper they can mention it here and give a small description. Since I have put out several papers using OpenFermion I will start us off. Maybe at some later point when (and if) we make an OpenFermion website other than GitHub, we can publish a nicer list of these papers.

[2017-12-04 21:03] babbush commented on #119
_Low Depth Quantum Simulation of Electronic Structure_. Ryan Babbush, Nathan Wiebe, Jarrod McClean, James McClain, Hartmut Neven and Garnet Chan. [arXiv:1706.00023](https://arxiv.org/abs/1706.00023). 2017.

This paper discusses the use of special basis sets which change the structure of molecular Hamiltonians in order to obtain a simpler representations that is more efficient to simulate using qua

[2017-12-04 21:10] babbush commented on #119
_Improved Techniques for Preparing Eigenstates of Fermionic Hamiltonians_. Ryan Babbush, Dominic Berry, Mária Kieferová, Guang Hao Low, Yuval Sanders, Artur Scherer and Nathan Wiebe. [arXiv:1711.10460](https://arxiv.org/abs/1711.10460). 2017.

This paper discusses several techniques for using the phase estimation algorithm to prepare ground states of fermionic systems with reduced overhead. The se

[2017-12-05 01:22] kanavsetia commented on #119
_Bravyi-Kitaev_ Superfast simulation of fermions on a quantum computer._ Kanav Setia, James D. Whitfield. [arXiv:1712.00446v1](https://arxiv.org/abs/1712.00446). 2017

This paper details the Bravyi-Kitaev Superfast (BKSF) algorithm implemented in the OpenFermion. Starting from the electronic Hamiltonian, the details for mapping all the fermionic operators to qubit operators using BKSF transform ar

[2017-12-05 01:45] kevinsung commented on #119
_Quantum algorithms to simulate many-body physics of correlated fermions_. Zhang Jiang, Kevin J. Sung, Kostyantyn Kechedzhi, Vadim N. Smelyanskiy, and Sergio Boixo. [arXiv:1711.05395](https://arxiv.org/abs/1711.05395). 2017.

This paper gives quantum algorithms for preparing eigenstates of quadratic Hamiltonians and for performing the 2-d fermionic Fourier transform. The routines in OpenFermion fo

[2017-12-06 17:13] idk3 commented on #119
_Quantum simulation of electronic structure with linear depth and connectivity_. Ian D. Kivlichan, Jarrod McClean, Nathan Wiebe, Craig Gidney, Alán Aspuru-Guzik, Garnet Kin-Lic Chan, Ryan Babbush. [arXiv:1711.04789](https://arxiv.org/abs/1711.04789). 2017.

In this paper, we show that by using an arrangement of gates that we term the fermionic swap network, we can simulate a Trotter step of the el

[2017-12-06 18:06] jdaaph commented on #119
Efficient Implementation of Baker-Campbell-Hausdorff Formula
Cupjin Huang  https://arxiv.org/abs/1712.01348.  2017

This short paper presents an efficient implementation of Baker-Campbell-Hausdorff formula for calculating the logarithm of product of two possibly non-commutative Lie group elements using only Lie algebra terms.

[2017-12-10 16:22] kevinsung opened #121 "jordan_wigner_interaction_op is surprisingly slow"
In the code for `jordan_wigner`, InteractionOperators are handled with the helper function `jordan_wigner_interaction_op`, rather than simply mapping to a FermionOperator first and then transforming with the existing code. This is supposedly for the sake of speed. However, I found that doing it this way on a Hubbard Hamiltonian is apparently around 10 times slower. Does anyone have an idea why? Wa

[2017-12-10 17:08] kevinsung commented on #121
Actually, it seems that the currently implementation is faster for random InteractionOperators and those derived from molecular Hamiltonians, probably closer to what it would actually be used for. So probably this isn't a real issue.

[2017-12-10 17:08] #121 closed

[2017-12-11 15:08] kevinsung opened #122 "Saving and loading operators"
Currently, the `save_operator` function in `utils/_operator_utils.py` saves Fermion and QubitOperators using the data serialization module `marshal`. I think it's desirable to save these objects in a human-readable format, like JSON. What do people think? This would best be implemented after resolving issue #43.

Also, I'm wondering why `marshal` was chosen rather than `pickle` or `cPickle`.

[2017-12-11 15:14] TariniHardikar commented on #108
Hi Ryan!

I work with Kanav Setia on testing and implementing fermion-to-qubit mappings on molecules. I have, actually, been doing exactly what you have suggested above. I use the NIST Webbook for equilibrium geometries (I use the HF optimized geometries, but I can easily move to a better geometry), and then run calculations on them. In fact, I have been running them in different bases - the MO, t

[2017-12-11 15:39] kevinsung commented on #108
Perhaps the data files should be in a plugin stored in a separate Github repository?

[2017-12-11 19:37] babbush commented on #122
We actually had a large discussion about this back in the early days of FermiLib. See
https://github.com/ProjectQ-Framework/FermiLib/issues/91

The long story short is that pickle has security issues and also is less efficient. Myself and some collaborators are working on a project that involves computation of FermionOperators that are tens of gigabytes so this became a real issue for us. However,

[2017-12-11 19:45] idk3 commented on #122
Direct text representations are also possible and easy to implement. We could allow for different modes in our save_to_file function that save in different formats - thoughts? Would that address things for you @kevinsung ?

[2017-12-11 20:01] kevinsung commented on #122
Yeah, I think adding an option to the `save_operator` to save it in JSON format would be good.

[2017-12-11 20:36] Spaceenter commented on #122
I think the reason we chose marshal over JSON a few months ago is performance:

1. I think we originally implemented using JSON, but @idk3 found it uses too much memory, and switching to marshal reduced the memory usage by an order of magnitude.

2. Another issue was that JSON requires every key (and value?) must be string, so we end up having lots of conversions from number to string and string t

[2017-12-11 20:57] idk3 commented on #122
One thing is that we have str but can't convert from string. A possible
nice solution would be expanding init to allow longer input strings (as is
only the term operators are possible), and adding "as string" modes for
load/save (which look at a file). I think we could do the first without the
second but it's nice to have it encapsulated.

On Mon, Dec 11, 2017 at 3:37 PM Wei Sun <notifications@git

[2017-12-11 22:37] babbush commented on #108
Hi Tarini,

We definitely do want to proceed with this. Let me push the issue internally at Google and try to find a nice solution. The thing is that I don't think we should use GitHub for a variety of reasons. First, many of the computed files are actually quite large and we should take care not to blow up the size of the repo. Stay tuned!

[2017-12-11 23:14] QuantumLeaves commented on #108
Sounds good pull via plugin from  http://webbook.nist.gov/  there used to be some work Standards and Reference Data for First-Principles Simulations  as re-use would be of interest as this field moves along

[2017-12-14 21:18] kevinsung commented on #122
@Spaceenter Yeah the `str` method prints it out in a nice format. I like @idk3 's suggestion to expand `init` to allow longer strings, rather than just a single term.

[2017-12-15 18:37] babbush commented on #108
An update: we are still looking into options for this. We are considering setting up GitHub LFS and also looking at some other options involving Google Cloud. One cannot simply use this repo for this purpose. GitHub does not allow files larger than 100Mb and they get upset if your repo is over 1Gb. Storing the integrals for even some small molecules is larger than 1Gb.

[2017-12-15 18:57] Spaceenter commented on #108
I still feel Google Cloud Storage is the best option, easy to use, cheap, and reliable. You can think it as a giant Google Drive that everyone can have access. If needed I could help set it up (takes 15min at most).

[2017-12-15 19:19] Spaceenter commented on #108
How about this:
Set up two buckets: a) Staging bucket, b) Production bucket. All the newly added files are uploaded to Staging bucket, and people only have write permission to the Staging bucket but no read permission. After the file is uploaded (which they cannot read), it needs to be reviewed by us, then we move it t o the Production bucket if the file is good. And finally, everyone is able to r

[2017-12-15 19:51] babbush commented on #108
I think this is a good suggestion. I'll look into it now. One other thing we should have is perhaps a few lines of code in OpenFermion which can be used to automatically pull things from the Cloud library. The idea is that when people want to add a new dataset they edit those lines in OpenFermion which is the prompt for us to take a look at what they put in the staging bucket. We can also have dis

[2017-12-18 18:39] babbush opened #128 "Travis CI not running"
Unfortunately Travis is not automatically running on open pull requests anymore. We are not aware of any straightforward way to force Travis to run. Until this problem is fixed, we cannot merge any new PRs. Thus, this is a very high priority issue.

[2017-12-18 19:57] dabacon commented on #128
I don't think that this leads to a solution, but note that you can trigger a travis build by going to travis-ci.org and then going to OpenFermion project and then triggering a manual build (see the "..." in upper right corner).

[2017-12-18 19:59] babbush commented on #128
Unfortunately I only see an option to trigger a build of the master branch. But what I really want to do is trigger a build of the feature branch of an OpenFermion fork, from where the pull request is coming.

[2017-12-18 22:19] babbush commented on #128
Mysteriously, the problem seems to be specific to PRs from @kevinsung

[2017-12-18 23:48] babbush commented on #128
We have determined that the error is with Travis, not with OpenFermion. It pertains only to Kevin's account. We will get to the bottom of this but since it is not an  OpenFermion issue I will close.

[2017-12-18 23:48] #128 closed

[2017-12-19 01:28] kevinsung commented on #100
I implemented the transformation on 2-d square grids with an even number of columns. However, I can still think of some things to do:
- Extend to an odd number of columns (this is straightforward and explained in the paper).
- It would be great if we could check that the ground state decomposes as a tensor product, but I don't know how to do this. I don't think it works to check that the qubit sta

[2018-01-03 05:28] tobigithub commented on #108
Ryan,
I was wondering, most of the experimental data and calculations for small molecules have been stored in the Computational Chemistry Comparison and Benchmark DataBase at http://cccbdb.nist.gov/introx.asp

It contains experimental and theoretical geometries and energies for many levels of theory (DFT, MP2, MP4, CCSD) and basis sets (cc-pVDZ, cc-pVTZ, cc-pVQZ, aug-cc-pVDZ, aug-cc-pVTZ, aug-cc-p

[2018-01-03 21:10] jarrodmcc commented on #108
@tobigithub , I believe that's a good starting point for the geometries and I've had success in the distant past getting information from the CCCBD maintainers in a computationally friendly format.  Loading the energies might be a different story, just because we'd want the integrals to be present for people as well, and something done in an aug-cc-pvqz basis set is probably larger than what we wa

[2018-01-04 18:56] bgimby commented on #43
Hey, I was thinking of working on this issue.

Reading through the definitions of `FermionOperator` and `QubitOperator`, I think once this is completed, behavior of `compress` should be changed to remove small real parts of complex coefficients, as it does for small imaginary coefficients. At present, it would reduce `1+i*1e-15` to `1`, but leave `i+1e-15` unchanged, which I don't see a reason for

[2018-01-04 21:33] babbush commented on #43
Awesome! I agree completely with you that compress should also remove the small real components.

If you'd like, email me at my github username @google.com and I can send you some very old code that might be helpful. As I said in comment, in the early days of the code (before this GitRepo), we did have things setup this way. So I do have some old code implementing the SymbolicOperator that also ha

[2018-01-04 21:40] babbush commented on #108
We've made some progress on this and should have everything configured by end of next week at the latest. We have setup a Google Cloud account where the data will be stored. The workflow for contributing to the molecule data library will be roughly that once a pull request is opened, we will email the pull requester a signed URL that can be used to upload the data to a staging bucket. We will then

[2018-01-04 21:55] jdwhitfield commented on #108
I'm still confused about why you would want to store the Gaussian integrals.  The point of using Gaussians is that the integrals can be generated on the fly.  Depending on molecular size and integral usage, it's probably faster to generate the necessary integral when its required.  This is how Psi4 and most electronic structure packages work.

[2018-01-04 22:00] babbush commented on #108
There are a number of reasons for this. One of the reasons is simply that we have noticed that less advanced users are not using our electronic structure package plugins. Having a library with the integrals precomputed makes things very convenient for them. Furthermore, in some cases it can be challenging for non-chemists to get SCF convergence in some cases. As you know, this often involves fiddl

[2018-01-04 22:04] jdwhitfield commented on #108
Exactly.  It should be possible to embed the integral generation routines into OpenFermion or at least the test cases.  There are standalone integral generation packages that can be embedded into the test case libraries (libxc and libint come to mind immediately) to avoid downloading and working with needlessly large integral files.

[2018-01-04 22:06] babbush commented on #108
So, I see. So you are suggesting saving the molecular orbitals but not the integrals and then providing code which can quickly regenerate the integrals. Is that right?

[2018-01-04 22:14] babbush commented on #108
I think it is a good suggestion to give people the freedom to just download a) molecule information b) the molecular orbitals or c) everything. I think more advanced users would prefer (a) or (b) since I agree that in most cases it will be faster to run Psi4 with a good initial guess for the orbitals, or just feed them to libint, etc.) but I know for a fact that some users would prefer to skip all

[2018-01-04 22:17] jdwhitfield commented on #108
Sure.  I would select only smaller molecules for option (c) otherwise deflating the integral file will be as bad as anything.

Even, in the case that one has no interest in running electronic structure, if the computation is fast enough it can be considered part of the pre-processing.  Since these are test-cases, the electronic structure part can be hardcoded into the test case so that a user woul

[2018-01-04 22:38] babbush commented on #108
Upon thinking about it some more, I doubt that one can download just part of the HDF5 file in a straightforward fashion. Thus, it might be best if one were to upload both the HDF5 file with integrals and HDF5 file without integrals (or if it is large molecules, just the HDF5 file without integrals).

[2018-01-08 20:16] babbush commented on #55
@ncrubin a month back you showed me some designs at IBM conference and we talked about small modifications that would make everyone happy. Any progress on those? I'm serious about trying to get some schwag for March meeting but we'll need to decide on a logo first!

[2018-01-09 18:34] babbush opened #151 "OpenBoson?"
There are many reasons why one might want to study the physics of bosonic systems. Such is not the focus of OpenFermion but some limited functionalities for simulating bosons, or systems of interacting bosons and fermions, should be possible to incorporate. For instance, one might want to simulate models of molecules interacting with light which involve electrons and photons. There are also many r

[2018-01-09 18:40] babbush opened #152 "Visualization modules"
There are tools such as VMD and Avogadro which are designed to visualize molecular orbitals and charge densities. Thus, one should be able to use these tools to visualize the 1-RDM output from molecular simulations in OpenFermion or its plugins. Such visualizations would steal the show at many of our quantum computing conferences. Imagine how awesome it would be to visualize how the wavefunction o

[2018-01-09 18:54] babbush opened #153 "Intelligent optimizers for variational algorithms"
Implementing variational algorithms requires some classical outer loop routine which takes as input a collection of measurements together with a specification of the variational parameters and outputs new variational parameters which should be run by the circuit.

Several papers have explored different optimizers including (https://arxiv.org/abs/1704.05018) which focuses on simultaneous perturbati

[2018-01-09 19:01] babbush opened #154 "Using symmetries to reduce qubit requirements"
This is a very broad topic, and one that is also long overdue for including in OpenFermion.

There are several interesting papers about reducing the number of qubits in second quantized Hamiltonians. The usual idea is that second quantization does not leverage good quantum numbers such as particle number and having definite spin, and thus wastes qubits. Here are a few papers that introduce valuabl

[2018-01-09 19:13] babbush opened #155 "Impurity models"
Schemes such as Dynamical Mean-Field Theory (DMFT) or Density Matrix Embedding Theory (DMET), to name just two ideas from a larger family, allow one study the properties of a much larger system by simulating a smaller "impurity" system that is coupled to a bath. Usually there is some iterative self-consistent procedure involved in computing the impurity and bath Hamiltonian.

Since these procedure

[2018-01-09 19:34] ncrubin commented on #55
![openfermion](https://user-images.githubusercontent.com/7128746/34739176-54484cd0-f530-11e7-8976-aa4284daf2d3.png)

Integrating some of the ideas from above: Feynman diagram is cleaned up a little, diagram is now part of $\vert n \rangle$, orange for fermion (hat-tip @babbush), different font.  I think the diagram is still a little heavy on the ket lines but that can be changed when this is mocke

[2018-01-09 19:43] ncrubin commented on #55
![openfermion_2](https://user-images.githubusercontent.com/7128746/34739773-36b43ccc-f532-11e7-981e-1b27098e0086.png)
slightly darker border on the circles in the diagram.

[2018-01-09 19:43] babbush commented on #55
I love it.

[2018-01-09 20:08] ncrubin commented on #55
![openfermion_3](https://user-images.githubusercontent.com/7128746/34740858-a87a9cea-f535-11e7-8e7e-973d9390a765.png)
adjusted F-e spacing and n-ket spacing.  O-F vertical and n-bra vertical are now aligned

[2018-01-09 20:13] jarrodmcc commented on #55
Just wanted to leave a comment saying I think it looks really good!

[2018-01-10 19:25] babbush commented on #55
I actually think I like the font that Open was written in, in the second-to-last one.

[2018-01-11 22:38] babbush commented on #55
Logo is now on repo front page. I'll update with more professional version once we get it touched up.

[2018-01-11 22:39] babbush commented on #55
It might also be cool to see a version of exactly this with them both on the same line. That might look better on the GitHub page.

[2018-01-11 23:46] babbush commented on #108
So we now have a working prototype of what this data repository might look like. Jarrod and I put up a few examples. Checkout cloud_library (from the top level of the GitHub repo). We'll add some more datasets over the coming weeks and I hope you will too if you're interested. The procedure for uploading the files is a bit elaborate but we were constrained in some of the design decisions by securi

[2018-01-12 02:21] jarrodmcc opened #165 "File verification for cloud repo"
As we expand the molecule library that is available in the cloud, we should develop an automated test for pulling those files down and running some basic sanity checks.  For example it might be useful to attempt loading each of the required fields to verify none of the data was corrupted, and also load the 1- and 2-electron integrals as well as the orbitals, and verify that the Hartree-Fock energy

[2018-01-12 22:45] jarrodmcc commented on #152
I think a few more specifics to this might be that one path forward might be to

1. Add basis function meta data to the MolecularData structure we currently store in HDF5 files. E.g. Gaussians with their contraction coefficients and exponents etc. This gives meaning to the coefficients we'll be using as input.
2. Use the 1-RDM and this information to allow plotting of both something like (a) A sel

[2018-01-13 01:54] babbush commented on #108
@TariniHardikar @kanavsetia @hsim13372 did you have any thoughts on our implementation? I know you seemed interested in contributing to the molecule library.

[2018-01-13 21:31] ncrubin commented on #119
_Application of fermionic marginal constraints to hybrid quantum algorithms_
Nicholas C. Rubin, Ryan Babbush, Jarrod McClean. [arXiv:1801.03524](https://arxiv.org/abs/1801.03524). 2018.

This paper explores how geometric constraints on marginals of a fermionic density matrices can be used to augment various aspects of hybrid quantum algorithms. Linear constraints are used to reduce the number of m

[2018-01-15 13:58] babbush opened #167 "OpenFermion schwag"
Now that we have a prototype logo, it is time to start thinking about schwag. While we're not committing to anything at this point, I think it would be nice to have some sort of schwag made in time for APS March Meeting. We do have some sort of a budget for this.

What kind of schwag would people like to see? Shirts? Fleeces? Hoodies? It would be great if people could make design suggestions (e.g.

[2018-01-15 17:31] conta877 commented on #154
I'm already working on this. If anyone is interested in collaborating/working together let me know.

[2018-01-16 05:56] babbush commented on #154
The papers I mentioned all introduce different approaches. Which are you working on?

[2018-01-17 07:53] conta877 commented on #154
I wasn't working on any one of the papers mentioned above but after reading I'm thinking of switching to 1712.07067

[2018-01-17 08:02] babbush commented on #154
Cool. I am at a conference right now and I believe one of the authors on that paper are also here. I will try to track them down and ask if they'd be willing to share any of their code.

I think it is important to note that while 1510.04048 seems easier to implement than the latter two papers, the technique has the unfortunate consequence of increasing the number of terms in the Hamiltonian expone

[2018-01-17 20:39] pldallairedemers commented on #155
The overarching theory of impurity methods in condensed matter is self-energy functional theory (SFT):
[https://arxiv.org/abs/1108.2183](https://arxiv.org/abs/1108.2183)
In all cases at some point in the variational loop we have to integrate over the frequency domain of two-point correlation functions. This can be done either as an integral over the real frequency domain or as a Matsubara sum. In

[2018-01-17 23:31] babbush commented on #155
Thanks for this helpful overview Pierre-Luc! A couple thoughts though. First, I've had several conversations with Bela (the author of https://arxiv.org/abs/1510.03859) who seems to believe that evaluating the correlation functions at just tens of time points would already be enough to enable truly interesting simulations in some cases. Even if it would take many more than this though, OpenFermion

[2018-01-18 01:25] babbush commented on #108
the cloud library is live. I am going to close this issue and open a new one about populating the library.

[2018-01-18 01:25] #108 closed

[2018-01-18 01:39] babbush opened #172 "Populate the molecular cloud library!"
@TariniHardikar @kanavsetia @hsim13372 @jarrodmcc

Now that we have the alpha version of our cloud library up and running (thanks again to @Spaceenter who did a lot of work on this) we should start to add some more benchmarks. It would be nice to see a few different diatomics as well as atoms on the periodic table, the alkane series, and some triatomic energy surfaces for important molecules like

[2018-01-18 04:03] pldallairedemers commented on #155
I didn't know much about DMET, thanks for the link Ryan!

There are two time-dependence notions that have to be distinguished. There is the non-equilibrium situation where the Hamiltonian itself is time-dependent and therefore macroscopic observables also vary in time. There is also the linear response regime where a system is assumed to be at equilibrium under a constant Hamiltonian and a small p

[2018-01-18 14:19] kanavsetia commented on #172
Hi Ryan,
Sorry for the late reply. Tarini ran calculations for many molecules (and I think she also included couple of molecules from alkane, alkene, and alkyne series) and has been running calculations for hydrogen lattices. She has been trying few other things. So, I can talk to her and James and we can contribute the data that makes the most sense for OpenFermion.
Also, the implementation for t

[2018-01-18 17:31] jdwhitfield commented on #172
Over here, the test set we've been playing around with the AE6 and BH6 library (Lynch BJ, Truhlar DG (2003) J Phys Chem A 107:8996).  The subset is designed to be representative of the larger Database/3 collection of atomization energies and barrier heights.  As Kanav says, we've had a look at the implementation and we're discussing some of the design decision before cleaning and uploading our tes

[2018-01-18 19:59] gaming-hacker opened #175 "h5py warning"
hello,
OSX 10.12.6, clang-6.0, python2.7,numpy 1.14.0, scipy 1.0.0

installed openfermion from github repo as well as the plugins.

running the basic example
[code]

the following warning happens

.../h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.

[2018-01-18 20:16] kevinsung commented on #175
The output you got is correct.

This is the same warning that I mentioned getting with Python2.7 in #173 . My details are

Python 2.7.14
Jupyter notebook server version 5.0.0
numpy 1.14.0
scipy 1.0.0
h5py 2.7.1

I also get the warning when simply running `import openfermion`.

[2018-01-18 22:12] babbush commented on #175
This seems to have come up very recently. It is just a warning, not a bug, and the code output still looks correct. This is likely due to something that changed recently in one of our dependancies. I'll take a look briefly tonight but may need to return to this tomorrow or Saturday - it doesn't seem critical (albeit ugly). Kudos to anyone else who tracks it down.

[2018-01-18 22:21] kevinsung commented on #175
I just found out that I get the same warning from simply executing "import h5py". So I think this has nothing to do with OpenFermion.

[2018-01-18 22:27] kevinsung commented on #175
From looking at https://github.com/h5py/h5py/issues/961, it appears that the h5py developers are aware of this issue and are currently working on a fix at https://github.com/h5py/h5py/pull/926.

[2018-01-18 22:50] babbush commented on #172
Sounds great James. We'd love to hear thoughts on the implementation. Keep in mind that any data bucket which allows users to upload a large data file and also download that data file will surely invite security exploits in the form of people using the system for storage or sharing of content that is surely inappropriate for OpenFermion. So any system needs to involve a secure upload where we are

[2018-01-18 22:53] babbush commented on #175
Hmm, thanks Kevin. Unfortunately they haven't updated that PR in ten days. The funny thing though is that I cannot reproduce this error on my mac. @kevinsung @gaming-hacker What version of h5py are you running?

[2018-01-18 22:54] kevinsung commented on #175
I'm using h5py 2.7.1

[2018-01-18 23:42] conta877 commented on #154
did you manage to track them down? are they willing to share?

[2018-01-18 23:44] babbush commented on #175
I see. I am using Anaconda python and their latest distribution only uses h5py 2.7.0 which seems to not have this problem. I guess we should just wait until h5py people get this fixed.

[2018-01-18 23:48] babbush commented on #122
Yes, that is a great suggestion. I think we should open a new issue about that functionality.

[2018-01-18 23:55] babbush commented on #154
Yes! I spoke to Stephanie and Mark a few hours ago actually. Mark said that at this point the code is entirely in mathematica and that they actually distributed it on arXiv with the source, which you should be able to find here: https://arxiv.org/e-print/1712.07067 (you will need to change the file to another name with the extension .tar.gz). Mark also indicated that he may be interested in helpin

[2018-01-19 00:00] babbush opened #177 "Expand string initializations"
As discussed in https://github.com/quantumlib/OpenFermion/issues/122 it would be helpful if sums of FermionOperators and QubitOperators could be initialized from their string representation so that
my_fermion_operator - FermionOperator(str(my_fermion_operator)) = 0 and
my_qubit_operator - QubitOperator(str(qubit_operator)) = 0.
This should be easy for a beginner to implement.

[2018-01-19 00:01] conta877 commented on #154
Awesome! Will translate to python. (probably won't happen before monday - in case someone else wants to work on it ASAP)

[2018-01-19 00:24] babbush commented on #167
Okay so perhaps let's just start with the assumption there are going to be shirts for APS March meeting with the OpenFermion logo on the front breast. Should we have openfermion.org/ written on the back? Perhaps with some slightly geeky slogan under it like:
"where anti-symmetry is beautiful"
"where electrons get quantum computed"
"quantum computing fermions since 2017"
etc.

Hopefully others have

[2018-01-19 02:43] kevinsung commented on #43
@idk3 What do you think about removing those static methods completely? I think our code would look cleaner if there's only one way to initialize the zero and identity operator.

[2018-01-19 08:08] jarrodmcc commented on #155
I agree with most of the discussion here that while there are some clear theoretical bottlenecks, the need for these methods at some point means that the community at large would probably benefit from having the building blocks to work with within OpenFermion.  It's such a large undertaking however, that spending some time considering independent, reusable pieces from such a project would be worth

[2018-01-19 09:44] babbush commented on #43
I brought up that same suggestion once Kevin and I think Ian and Craig pushed back. @idk3 @Strilanc can you remind us why you think they are necessary?

[2018-01-19 14:16] kevinsung commented on #43
Hmm I see your concerns @idk3 . I guess what I'm proposing is that we agree here that the meaning of `FermionOperator()` and `FermionOperator(())` shouldn't be changed in the future. Their current meanings have always made a lot of sense to me, and I'm pretty sure I'd be strongly opposed to any future change to them. In general, initializing a class instance with no arguments means "do the bare mi

[2018-01-19 15:52] kevinsung commented on #152
@jarrodmcc Are the contraction coefficients and exponents already stored in the HDF5 files? In the example files, I see a dataset called 'basis' but it appears to simply store a string like 'sto-3g'.

[2018-01-19 19:14] conta877 commented on #167
mugs?

[2018-01-19 19:32] gaming-hacker commented on #175
i'm using h5py (2.7.1)

[2018-01-19 21:13] bgimby commented on #43
Hi guys, quick update on where I'm at. I've changed the `QubitOperator` and `FermionOperator` classes to inherit from `SymbolicOperator` and moved over all functions with identical behavior between them into `_symbolic_operator.py`. So far, all tests continue to pass and existing tests give 100% coverage of `_symbolic_operator.py`.

Up next will be messing with behavior a bit (adding static method

[2018-01-19 22:39] pldallairedemers commented on #155
I'll share some more thoughts and personal observations to build on Jarrod's comments.

On the big picture side of thing I view impurity solvers somewhat as higher level methods that have correlation functions both as inputs and outputs (self-energy can be determined from the correlations functions). From my understanding translation invariance of infinite systems is mostly dealt with at this leve

[2018-01-19 23:01] pldallairedemers commented on #151
At Xanadu we are evaluating if we can make a significant contribution here that would also align with our business goals. I should have more details and questions in a few weeks.

[2018-01-20 00:17] babbush commented on #175
Thanks! I think it might be helpful to leave the issue open just so people can see this easily if they encounter the warning. I have marked it as "not our fault". We can close whenever h5py fixes this.

[2018-01-20 00:20] babbush commented on #167
My main worry about mugs is just that I am much less inclined to want to haul mugs to a conference or something as opposed to a less breakable item like shirts. @jarrodmcc has convinced me that we don't necessarily need any words on the back. I feel like openfermion.org written somewhere (maybe in smallish letters on sleeve) would be good though.

[2018-01-20 00:52] ncrubin commented on #167
@babbush mugs are hard to pack back from conferences. I think t-shirts are a great piece of swag for a large group.  I guess the purpose of "schwag"  is to get the product name out there...so if t-shirts are the cheapest and easiest to port around then I'd say go for it.  Stickers (to put on laptops or water bottles) are also a good way to go.

On a less feasible note: It would be really awesome t

[2018-01-20 11:19] babbush commented on #43
This sounds like great progress. The first thing I will mention though is that you might want to check in the SymbolicOperator class once it is essentially "done". After that, you can check in the change that alters the FermionOperator and QubitOperator classes to inherit from the SymbolicOperator class. I suggest doing things this way to keep the pull requests manageable. This is going to be a bi

[2018-01-20 11:31] babbush commented on #167
What about putting something like

quantum software for chemistry
openfermion.org

on the back? I am also thinking it could be fun to have a shirt in a different color that says "developer" on the sleeve. These are obviously the "cool" shirts and are perhaps made in some higher quality fabric. Anyone who contributes code and can find me at a conference would be entitled to those. The other ones wo

[2018-01-20 11:34] babbush commented on #155
Thanks both Jarrod and Pierre-Luc for the great discussion. I don't think Jarrod or myself will have time to dive into this project at this point. But if another contributor (ideally one with a condensed matter background) wants to work on this in the future, I think Pierre-Luc would be an awesome source of advice / feedback on the implementation.

[2018-01-20 14:44] gaming-hacker commented on #175
i forked it and pulled in a few PRs and now without the warning

gaming-hacker/h5py

[code]

[2018-01-20 15:59] babbush commented on #175
Hmm, so the problem disappeared for you? Does this mean the h5py people fixed the issue?

[2018-01-20 16:28] kevinsung commented on #175
I'm still getting the warning. I'm still on version 2.7.1 though and can't seem to get 2.7.1.post0.

[2018-01-20 16:53] gaming-hacker commented on #175
h5py haven't merged the PRs to fix this issue into their master branch.  i forked my own repo, applied the correct PRs and now it works.

[2018-01-20 16:59] gaming-hacker opened #180 "documentation:: examples"
is it possible to provide in the documentation a simple example of using this lib to compute

what is the current state of Schroedinger's cat using various circuits, etc versus random binary 0 or 1?

then if Alice and Bob are separated by a huge distance, 10 million light years.  Alice wants to transport the cat's status to Bob.  the current example uses transport.  how does Alice transmit the inf

[2018-01-20 17:10] babbush commented on #180
That's a bit out of scope for this library. This library is for manipulating and compiling representations of chemistry problems to quantum computers.

To answer your question though, one cannot transmit information using entanglement alone. You can read about it [here](https://en.wikipedia.org/wiki/No-communication_theorem).

Perhaps it might be better to explore these questions using a general p

[2018-01-20 17:10] babbush commented on #180
Since this question is really not about OpenFermion, I will close it now.

[2018-01-20 17:10] #180 closed

[2018-01-20 17:37] kevinsung commented on #175
Cool. It looks like we just need to wait for them to release the next version, then we can close this issue.

[2018-01-20 21:35] gaming-hacker commented on #180
of course it is.  the documentation is part of a software package, see repos like ffmpeg, opencv, boost.
example documentation for this software is severely lacking and is more of a how to on python that the actual package.

[2018-01-20 21:48] babbush commented on #180
Documentation is important and I agree our documentation could be better.
If you have questions about how to simulate quantum chemistry on a quantum
computer that you'd like to have addressed, or certainly if you have
questions about OpenFermion functionality, we're happy to try to help.

But the examples you gave - one about quantum measurement and another about
quantum communication - seemed out

[2018-01-23 07:37] max-radin commented on #177
I'll work on implementing this. I'm new to OpenFermion and would like to get familiar with the code.

[2018-01-24 01:35] kevinsung commented on #43
With the change I proposed in #190 it would be clear from the documentation that FermionOperator and QubitOperator inherit from SymbolicOperator.

[2018-01-24 07:13] bgimby commented on #43
All right, I've submitted 2 separate PRs, one only containing the SymbolicOperator declaration file and another containing only the changes to QubitOperator and FermionOperator. Of course, the latter will fail tests right now, but I wanted to make the code simple to get to. Once the first one is accepted I can update the second one to include the SymbolicOperator declaration.

I did notice a poten

[2018-01-25 22:12] idk3 commented on #43
@bgimby nice catch in `JelliumTest`! I think that explains an issue I was having on another PR.

[2018-01-25 22:45] babbush commented on #167
Y'all were mostly not helpful with this. Some schwag has been ordered. A rough mockup is below.  The color is more of a textured black than gray. I'll bring some to APS.
![image](https://user-images.githubusercontent.com/14242687/35416521-3390379a-01de-11e8-9aeb-43ae3209fca3.png)

[2018-01-25 22:45] #167 closed

[2018-01-29 00:57] babbush commented on #175
Are people still seeing this bug?

[2018-01-29 03:20] kevinsung commented on #175
I'm still getting the warning. The latest version of h5py on pip is still 2.7.1.

[2018-01-30 19:27] conta877 commented on #154
sorry - this is taking longer than I anticipated - if anyone wants to collaborate I keep my fork updated. for now introduced openfermion/simplifications not to break anything.

[2018-01-31 05:48] kevinsung commented on #177
I had this issue in mind while completing #194 so I did it in a way that made this task easy to incorporate. Basically you just fill in the body of `_long_string_init` in `ops/_symbolic_operator.py`. @max-radin, are you okay with doing it this way?

[2018-01-31 05:55] kevinsung commented on #43
@bgimby I noticed your change to `__iadd__` and changed it back in my last PR, without realizing that you did it for this reason. However, on my computer the JelliumTest still passes. Indeed, it must also have passed on the coveralls server because otherwise we couldn't have merged the PR.

[2018-01-31 06:17] bgimby commented on #43
It passes tests because in your merged PR the behavior was overridden by the definition in `_qubit_operator.py`. https://github.com/quantumlib/OpenFermion/blob/aac09d038def315f775eb39b30b083623b7caa91/src/openfermion/ops/_qubit_operator.py#L398

In the version of PR #192 that removed the `QubitOperator` definition and left the `SymbolicOperator` definition as it is now, the [travis tests failed](h

[2018-01-31 06:24] kevinsung commented on #43
Ah I see. Hmm we'll need to come up with a better solution than fudging with `EQ_TOLERANCE`...

[2018-01-31 06:41] bgimby commented on #43
IMO the best solution is to only remove identically zero terms in functions that do not explicitly state that they remove small terms (like `compress`).

The user probably has a better idea than us when it is safe to remove or reduce small terms.

So we can either only remove identically zero terms in `__iadd__` and friends, or mention in the documentation that small terms will be removed and then

[2018-01-31 08:14] max-radin commented on #177
Yes that makes sense to me. I have written some code for long string initialization in FermionOperator that I can move into `_long_string_init`.

[2018-01-31 08:35] kevinsung commented on #177
Great. Keep in mind that the task now is basically to reverse-engineer the `__str__` method of SymbolicOperator, which now uses the attributes `action` and `action_string`, so your implementation will also need to use these attributes of SymbolicOperator. Let me know if you have any questions.

[2018-02-01 01:16] babbush commented on #43
Closed by https://github.com/quantumlib/OpenFermion/pull/192

We should perhaps also write something about this in the arXiv paper...

[2018-02-01 01:16] #43 closed

[2018-02-01 19:04] msteudtner commented on #154
Hi conta877, I was not aware that someone is already working on implementing my stuff to OpenFermion, but that's great. Can I help you?

[2018-02-01 19:25] conta877 commented on #154
Hi Mark, yes that would be awesome! I'll send you an email

[2018-02-01 19:31] babbush commented on #154
Do feel welcome to discuss as much as possible on the thread, I think that's often helpful so people can understand design decisions, etc. But also no problem corresponding about some aspects privately.

[2018-02-05 23:00] babbush commented on #177
Closed by #201

[2018-02-06 00:36] babbush commented on #122
The string initialization functionality has now been expanded. Accordingly, if anyone wants to work on this, go ahead!

[2018-02-06 03:49] conta877 commented on #154
Design decisions time!

We have introduced a code_operator which is the (encoder,decoder) pair. One can define many transforms using the code_operator.

A logical place for this to live is under openfermion.transforms or codes can have their own folder.

We also have pre-defined transforms, checksum, segments (code_operator versions of JW,BK) and more can be added; so question is do we create sepa

[2018-02-06 04:14] babbush commented on #154
This sounds cool. I'd like to understand a bit better though. Should I look at particular parts of 1712.07067 or your fork @conta877 ?

[2018-02-06 05:29] conta877 commented on #154
we've been working on my fork, so starting there could be helpful.
everything is living under simplifications for now and can be moved anywhere.
the code functions, but needs additional love and care.

there are two new operators,
  symbolic_binary -> for decoder
  code_operator -> (encoder,decoder) pair.  [-- or (e,d) from the paper.]
the code_operator is used for the transformation.

_code_opera

[2018-02-07 03:23] babbush commented on #154
Sorry I took so long to respond! I had to look through the paper again to make sense of what is going on with this but I've done that now. My vote is that we put this in transforms for now. It looks like some juicy pull requests are coming up. When you're ready, please try to make more small requests rather than one or two huge ones! It's much easier to review that way.

[2018-02-07 16:29] conta877 commented on #154
Ok - I will release them one by one!

[2018-02-08 22:33] babbush commented on #175
Still?

[2018-02-08 23:12] kevinsung commented on #175
Yeah. This will be an issue at least until the next h5py version (after 2.7.1) is released on pip (https://pypi.python.org/pypi/h5py). Again, this has nothing to do with OpenFermion because I get the warning when I execute just `import h5py`.

[2018-02-12 21:41] kevinsung opened #205 "Module for special operators"
I propose that we rename `hamiltonians/_fermion_spin_operators.py` to `hamiltonians/_special_operators.py` and move `number_operator` and `majorana_operator` to this file from `ops/_fermion_operator.py`. What do people think? @ncrubin @babbush

[2018-02-12 22:46] babbush commented on #205
Sounds okay to me.

[2018-02-12 23:07] ncrubin commented on #205
👍

[2018-02-13 07:24] max-radin opened #207 "freezing orbitals in FermionOperator"
I have a FermionOperator, and I'd like to make the assumption that some of the orbitals are always empty and others are always full. (As I understand it, this is similar to the active space functionality in `MolecularData`.) My question is, what's the best way to do this?

What I'm thinking of doing is implementing two methods for `FermionOperator`, `assume_occupied(index)` and `assume_unoccupied(

[2018-02-13 08:21] max-radin commented on #207
Ok, I just realized that it's a bit more complicated than I originally thought and the above example isn't right. I'll have to think about this some more...

[2018-02-13 14:46] babbush commented on #205
Closed by #206

[2018-02-13 14:46] #205 closed

[2018-02-13 18:38] jarrodmcc commented on #207
I won't speak to its perfect accuracy, but I attach the following note I used a long time ago for deriving some parts of the active space routine in OpenFermion.  You may find the general methodology useful in deriving what you want to do:

[ActiveSpaceHamiltonian.pdf](https://github.com/quantumlib/OpenFermion/files/1721145/ActiveSpaceHamiltonian.pdf)

[2018-02-15 03:16] max-radin commented on #207
Ok thanks!

[2018-02-18 21:24] max-radin opened #213 "External potential operator in plane wave basis non-Hermitian for even grids"
It seems that the Hamiltonians produced by `plane_wave_external_potential` and `dual_basis_external_potential` are non-Hermitian if the number of grid subdivisions is even and any atoms are not at the origin. For example, the program below returns False:

[code]

I think this is due to the "dualling" (meaning that momentum subtraction is done modulo the maximum momentum). When I remove the duallin

[2018-02-18 22:28] babbush commented on #213
Thanks for pointing this out. This is very strange indeed, I'll take a look
next week. The issue can't occur in dual without also occurring in plane
waves since one is the Fourier transform of the other. Based on the
equations in 1706.00023 there shouldn't be a problem. Thus, there is likely
some bug in our implementation for the dual which is incorrectly expecting
some structure that only occurs

[2018-02-19 20:02] max-radin commented on #213
Ok! Just to be clear, I think the behavior is consistent between the plane wave basis and dual plane wave basis – both give non-Hermitian operators with even grids in the current implementation.

[2018-02-19 20:16] babbush commented on #213
Very strange. I'm without a laptop at the moment but will look again soon.
The external potential operator is both real and diagonal in the dual basis
so I really have no idea what is going on.

On Feb 19, 2018 12:02, "Max Radin" <notifications@github.com> wrote:

[2018-02-20 00:39] babbush commented on #213
I've spent a while looking into this. The problem has to do with the way we set the momentum and real space grids when there are an even number of grid points. The problem is a fairly fundamental one which has to do with even versus odd grids. For an odd grid, we can take momenta values [-2, 1, 0, 1, 2]. But for an even grid we must either take [-1.5, -.5, .5, 1.5] or [-2, -1, 0, 1]. Currently, th

[2018-02-20 03:35] Spaceenter commented on #213
@babbush
Hi Ryan,
I searched for our old emails and I copy below your explanations to me at that time:
"You might think that if we have four modes, for instance, they would be [-1.5, -.5, .5, 1.5]. But I do not think that would work. Because the basis functions associated with those frequencies would have the wrong boundary conditions. This is because the frequency is really 2 pi * \nu / \Omega. S

[2018-02-20 03:47] babbush commented on #213
Yes, I did say that. However, I now realize that when we have a grid with an even number of points on it, the problem identified by @max-radin occurs and so [-2, -1, 0, 1] solution isn't acceptable for cases when one is considering an external potential with nuclei away from the lattice sites. Other than "feeling icky" I'm not completely certain that using the [-1.5, -.5, .5, 1.5] modes would be s

[2018-02-20 22:21] babbush commented on #213
I spoke to Garnet, and he thinks there is not really a problem using momenta modes like [-1.5, -.5, .5, 1.5]. So we should try to see if this would work. Does anyone want to help make this change? @max-radin @Spaceenter @kevinsung any interest?

@idk3 any idea whether this will mess up the FFFT?

[2018-02-23 00:23] conta877 opened #216 "orbital reordering in FermionOperator class"
We would like to add a function to FermionOperator class that reorders the orbitals as
0,1,2,3,4,5,... -> 0,2,4,...,1,3,5...
(from updownupdown... to upupupupdowndowndown)
two ways we can do this:

1) just writing a function that takes in a FermionOperator and spits out a reordered FermionOperator. which is what I did to begin with but @msteudtner raised the following concern:
the FermionOperator

[2018-02-23 07:47] max-radin commented on #213
Sure I can help with this. Is it sufficient just to change the behavior of the `momentum_vector` function?

[2018-02-23 16:28] jarrodmcc commented on #216
To clarify, when you say re-order, you are just talking about relabeling
rather than actually permuting the operators to something other than normal
ordering right?

Can you talk a bit more about the application you had in mind? As the
orbital labels usually only matter relative to coefficients of tensors
defining some action on the space, like the Hamiltonian coefficients.
Those objects are perha

[2018-02-23 16:32] babbush commented on #213
That's the main conceptual thing that needs to change but I suspect that other parts of the code rely on this in a way that will necessitate other changes. For instance, you will almost certainly also need to change the position_vector function in the analogous way and there are certain to be some tests that need to be adjusted after doing this.

[2018-02-23 16:34] msteudtner commented on #216
Hi @jarrodmcc
We want to relabel the indices.

Maybe to highlight a bit the relevance of this problem:
Let's say we have  a molecule with spatial orbitals labeled  ( A, B, C, ... ). The multiplicity of the spin will give you a spin-up version of A, let's call it A0, and a spin-down version of A, called A1. Similar for all other orbitals.
Now in OpenFermion, we consider (when we talk about a Fermio

[2018-02-23 17:25] babbush commented on #216
I am not a big fan of increasing the complexity of FermionOperator for this purpose. So I would vote against any solution that involves letting FermionOperator "know" its order. While it is conceivable that users could make the mistake mentioned in (1) by @conta877 , I don't have a lot of sympathy for such users. If one reorders FermionOperator A but not FermionOperator B and then adds them, that'

[2018-02-23 17:32] kevinsung commented on #216
I agree with Ryan. Right now our approach is that users can specify the spin-indexing in functions that generate Hamiltonian models; the default is the even-odd scheme, but you can also specify other schemes (right now this is true for the functions in `hamiltonians/_special_operators.py` but #217 makes this true for Hubbard and mean-field as well). @conta877 @msteudtner is this approach is good e

[2018-02-23 18:14] msteudtner commented on #216
Would it perhaps be more practical to define a function somewhere that takes a FermionOperator and the number of modes as input and outputs the reordered FermionOperator (+ a function to undo this)?

The advantage would be that you wouldnt need to define it into every model, also not  for any model in the future. Furthermore it allows me to do this reordering to a custom Hamiltonian. The disadvant

[2018-02-23 18:43] kevinsung commented on #216
Do you have an example of a situation where you would want to use different spin-indexing schemes for different parts of the computation? If not, then I think it's better to just initialize all of your FermionOperators using the indexing scheme that you intend to use.

I just noticed that the even-odd scheme is hard-coded into the MolecularData data structure, but I think we can change that too.

[2018-02-23 18:55] msteudtner commented on #216
Actually, if we could build in a 'half up'-option for the molecules, I would be deeply satisfied.

[2018-02-23 18:56] babbush commented on #216
Sure, this should be fairly straightforward. I think this is a good solution.

[2018-02-23 19:15] msteudtner commented on #216
I am not sure if someone else is doing it at the moment, but in principle
yes.

Am 23.02.2018 20:08 schrieb "Isil Ozfidan" <notifications@github.com>:

[2018-02-23 19:56] babbush commented on #216
Yes I think that is okay. @jarrodmcc or @kevinsung do you have any specific thoughts about that?

[2018-02-23 20:53] kevinsung commented on #216
I think a boolean toggle to indicate which spin-indexing scheme to use is fine.

[2018-02-23 21:00] jarrodmcc commented on #216
Such an option seems okay. I have no strong feelings between allowing
arbitrary mappings in this sense vs the even odd or up then down ordering.
You may just want to write a general permutation routine for tensors
though, otherwise it may require modifications throughout MolecularData
including the code that manually reads in RDMs from certain packages in
their spinful representations.

On Fri, Fe

[2018-02-23 21:13] idk3 commented on #216
@msteudtner @conta877 a while back I implemented something that can generically reorder fermionic modes in OpenFermion-ProjectQ. But looking at the discussion you might not need it after all :)

https://github.com/quantumlib/OpenFermion-ProjectQ/blob/master/openfermionprojectq/_ffft.py#L242 has `swap_adjacent_fermionic_modes`, the other half you'd need is some of the parallel bubble sort routines

[2018-02-25 00:36] max-radin commented on #213
I tried shifting the grid (888af80739300e9a9028ffa0a9b67f84e0ee9f88), but this didn't result in a Hermitian operator. For example, in the plane-wave basis, terms like `0^ 0` end up having complex coefficients because k_{p-q} is non-zero when p = q. Any thoughts?

[2018-02-25 22:05] babbush commented on #213
Hmm, I think k_{p-q} should be replaced then with (k_p - k_q). Of course, that is zero when p = q.

[2018-02-26 04:24] #216 closed

[2018-02-26 08:38] kevinsung opened #219 "Improve mechanism for choosing spin indexing scheme"
Some functions in `hamiltonians/._hubbard`, `hamiltonians/._mean_field_dwave`, `hamiltonians/._special_operators`, and `utils/_sparse_tools.py` have keyword arguments `up_map` and `down_map` to set the indexing scheme for spin; i.e., whether up spins map to even indices or to lower indices. #218 introduced this feature to the MolecularData structure, using a different method, opting to have a stri

[2018-02-26 08:50] kevinsung commented on #219
Actually, I'm having second thoughts about this. I can imagine situations where one would want the spin indexing to depend on the problem instance. For instance, for a Hamiltonian on a lattice, the two options currently supported by the MolecularData structure are intrinsically one-dimensional, and different schemes may be more useful in higher dimensions. Perhaps the function method is better the

[2018-02-26 14:05] ncrubin commented on #219
For hamiltonians defined in the context of action on spin-full orbitals (e.g. spatial sites for Hubbard ) then using the string ordering in #218 is fine but I don't see how you would maintain a separation between the MolecularData object and hamiltonians (FermionOps).  The "even-odd" or "up-then-down" etc... seems to be tightly coupled with the Molecular data object and not FermionOperator.  I kno

[2018-02-26 15:40] babbush commented on #219
@ncrubin can you imagine any other ordering one might want to explore other than even_odd or up_then_down?

[2018-02-26 16:53] babbush opened #220 "Perturbative gadgets"
Perturbative gadgets are techniques for manipulating representations of qubit Hamiltonians which would be very useful in some contexts. They are particularly interesting in the context of quantum simulation and multiple papers have explored their application to electronic structure specifically. One can use perturative gadgets to reduce the many-body order of a QubitHamiltonian, or change the conn

[2018-02-26 18:46] jarrodmcc commented on #219
When I used to write one-off versions of these for myself, I used functions
for general mappings due to imagining using them for very low depth
circuits where permutations across the entire system wouldn't be possible.
That is, the qubits are on a restricted lattice, and it doesn't seem to be
possible to reliably swap or f-swap from one corner to another.  In this
case, it makes some sense to do a

[2018-02-26 19:07] babbush opened #222 "More demos and comprehensive description of features"
Pull request #221 starts a comprehensive list of features which we will merge once completed (help on that welcome, especially if making additions which explain your contribution). This should help raise awareness about the many functionalities currently implemented in OpenFermion.

However, the best way to show people a new feature is to write an example. I believe these are best demonstrated thr

[2018-02-27 02:55] ncrubin commented on #219
@babbush I was imagining something like @jarrodmcc described but had not worked out an explicit example.  In this fictitious example, I pictured an ordering scheme that helped map to various physical qubit topologies given a particular transform.  But I agree with @jarrodmcc that the place for the mapping is at the interface to qubit Ops not internal to the workings of OpenFermion.  I really like

[2018-02-27 04:26] babbush commented on #219
So the suggesting here is to always enforce a certain convention in the order of FermionOperators (for instance, always interleave spin up and spin down)? And then all transforms should come with the option to change the ordering with a mapping function? If that is the suggestion, I am okay with it if somebody wants to implement.

[2018-02-27 17:11] kevinsung commented on #219
I think this suggestion is fine, but note that it would involve undoing the changes made in #218. That PR actually leaves some things hanging because it introduces the possibility of InteractionOperators which use differing spin conventions, and the current implementation of `rotate_basis` only supports one convention.

My suggestion at the top of this thread is actually in the same spirit, but it

[2018-02-27 17:24] babbush commented on #219
I still disagree that it makes sense to keep track of spin in FermionOperator. I think we should go with one convention for all routines and then give people the option to change the ordering at the time of mapping to qubits. The reason why is because it never matters what the order is until one maps to qubits. So I think it just complicates code unnecessarily to even give people the option of the

[2018-02-27 17:28] babbush commented on #220
Papers that provide diagonal representations of the electronic structure Hamiltonian may also be of interest since this makes the gadgetization much easier:
https://arxiv.org/abs/1706.00023
https://arxiv.org/abs/1709.08059

Likewise, for certain systems, such as the Hubbard model, fermion to qubit mappings of constant locality may also be important:
https://arxiv.org/abs/cond-mat/0508353
https://a

[2018-02-27 17:43] kevinsung commented on #219
Sure, the order does not matter in FermionOperator, but it could matter in InteractionOperator or other subclasses of PolynomialTensor. For instance, maybe in one ordering the one-body tensor is block diagonal. However, we can take care of this by providing a basis change matrix to switch between the orderings, so I guess it's not necessary to keep track of an attribute.

[2018-02-27 17:43] babbush commented on #177
`my_operator = FermionOperator('1.7 [3^ 2] - 8 [4^]')`
seems to throw and error whereas
`my_operator = FermionOperator('1.7 [3^ 2] + 8 [4^]')`
and
`my_operator = FermionOperator('1.7 [3^ 2] -8 [4^]')`
and
`my_operator = FermionOperator('1.7 [3^ 2] + -8 [4^]')`
do not. I guess subtraction is not supported as expected? @max-radin can you assist with this?

[2018-02-27 17:45] babbush commented on #219
But what do you care if the one-body tensor is block diagonal? What does that matter?

[2018-02-27 17:46] ncrubin commented on #219
I think I'm still on the side of keeping a consistent internal convention for ordering.  I worry about adding too much to FermionOperator which would reduce it's abstractness.  As for the spin-less fermion example cited by @kevinsung, I think it's a great example of something where the current objects can be easily used (adding an "ordering" would require the user to stub out that feature).  I wor

[2018-02-27 17:48] babbush commented on #177
Also, it seems to always assume numbers are complex, for instance
`my_operator = FermionOperator('-1.7 [3^ 2] + 8.0 [4^]')
print(my_operator)`
returns
`(-1.7+0j) [3^ 2] +
(8+0j) [4^]`

[2018-02-27 17:50] babbush commented on #177
Also, I am not sure how one is supposed to provide complex coefficients.
`my_operator = FermionOperator('(2.3 + 1.7j) [3^ 2]')`
throws an error.

[2018-02-27 18:01] kevinsung commented on #219
For instance, to take advantage of spin symmetry in parallelizing the Givens rotation algorithm for preparing Slater determinants, we need to use the up-then-down ordering so the one-body tensor is block diagonal. Another advantage is that orbitals of different spin don't get mixed together, so this would be helpful for preparing Slater determinants with fixed spin.

[2018-02-27 18:05] babbush commented on #219
I disagree with your example @kevinsung . You could have written the Givens rotation algorithm to just focus on diagonalizing the matrix by only ever rotation between orbitals of the same spin. It does not matter their order. Then, when mapping to qubits, if you choose the up then down ordering you will find that your Givens rotations are perfectly parallelized between up and down spin.

[2018-02-27 18:08] kevinsung commented on #219
Well, then it would need to be aware whether spin is being represented at all, and it so, whether it is possible to diagonalize the matrix by only rotating orbitals of the same spin. For instance, this is possible for the Hubbard model but I don't think it's possible for the BCS Hamiltonian.

[2018-02-27 18:09] babbush commented on #219
So then there should be a flag in the Givens rotation code that says "spin_symmetry = True/False".

[2018-02-27 18:14] kevinsung commented on #219
That's a fine suggestion! You all have convinced me. Perhaps we should loop in @conta877 here because it looks like we've agreed to actually choose option (1) of what he originally proposed in #218. Ryan summarized it above as

[2018-02-27 18:20] babbush commented on #219
@conta877 is a "she". And yes, it is closer to that suggestion. Sorry @conta877 ! To reiterate, I think the way to do this is to have a single "mapping" function which takes FermionOperator as input and reorders the modes. Perhaps this should be a "private" function that is the first step in all fermion to qubit transforms. Then, the fermion to qubit transforms should all have an optional paramete

[2018-02-27 18:23] conta877 commented on #219
I can start by reverting to (1) and adding a toggle to all transform functions. I like the idea of arbitrary re-ordering but is it too much to ask from a user?

[2018-02-27 18:26] babbush commented on #219
Perhaps we should implement the arbitrary reorder function and use it to define a function called "up_then_down_map". So the user can always provide that if it's what they want. But if they want something more sophisticated, like what @jarrodmcc suggested, they can also do that.

[2018-02-27 18:29] conta877 commented on #219
Ok - sounds good! Where should these mapping functions live?

[2018-02-27 18:30] babbush commented on #219
Probably in utils or transforms somewhere. Suggestions welcome!

[2018-02-27 18:34] idk3 commented on #219
@babbush @conta877 @jarrodmcc I do have some code from earlier that could be built upon without too much effort to do arbitrary reordering (mentioned in https://github.com/quantumlib/OpenFermion/issues/216). The basic principle is fairly simple - you use fermionic swaps to implement a sorting algorithm. You can sort to go from input_order to [0, 1, 2, ..., n], and then de-sort (reverse the operati

[2018-02-27 18:38] babbush commented on #219
@idk3 that is not needed here. This is before mapping to qubits so it's nearly trivial to do these mappings. One needs only to relabel the modes.

[2018-02-27 18:57] idk3 commented on #219
@babbush fair - my case has the mapping order already imposed. In that case the only advantage to my procedure is avoiding having to redo the normal ordering (which wouldn't be very expensive anyway if the operator is already normal-ordered).

[2018-02-27 18:58] babbush commented on #219
There is no reason to normal order if we are about to map to qubits. The mapping to qubits is unique.

[2018-02-27 19:01] conta877 commented on #219
@idk3 I was normal ordering just to make sure my transforms work (visual inspection) - forgot to remove it afterwards.

[2018-02-27 19:24] max-radin commented on #177
Yes I'll fix these issues shortly. Evidently, the `complex` initializer does not support white space, so you'd have to write `'(2.3+1.7j) [3^ 2]'`.

[2018-02-27 19:27] babbush commented on #177
Thanks Max! I think we should try to be flexible with respect to the white space.

[2018-03-01 18:51] babbush commented on #219
@kevinsung @conta877 do we feel that #224 closed this issue?

[2018-03-01 19:08] conta877 commented on #219
we were talking about transforms handling the ordering - I don't know if I like the idea of introducing an order_function variable to every single transform, but I'll implement it if thats what everyone prefers.

[2018-03-01 19:08] kevinsung commented on #219
The one last thing is that the Hamiltonian generators no longer need to have the optional arguments `up_map` and `down_map`. Do you agree @ncrubin ?

[2018-03-01 19:56] #207 closed

[2018-03-03 08:11] Konjkov opened #234 "get_n_alpha_electrons & get_n_beta_electrons gives wrong result"
Hello all
get_n_alpha_electrons() & get_n_beta_electrons() functions gives wrong results
https://github.com/quantumlib/OpenFermion/blob/master/src/openfermion/hamiltonians/_molecular_data.py#L734

Multiplicity is a property that describes an atom’s or molecule’s electronic structure. The total number of alpha and beta electrons in an atom/molecule are needed to calculate multiplicity.
Before calcu

[2018-03-03 12:09] Konjkov opened #235 "get_ground_state(sparse_operator) sometimes fails with SIGSEGV"
Hello OpenFermion developers
I have the code like

[code]
where eigsh branch always produce SIGSEGV while eigh always gave me reasonable eigenvectors.
what can be the problem of use eigsh?
my scipy version is 1.0.0

Best Vladimir.

[2018-03-03 22:25] jarrodmcc commented on #235
This particular example seems to converge relatively fast (and correctly) in both cases for me.  To get to the root of this problem, can you tell me if eigsh work for you in other circumstances?  For example on just a simple 4x4 matrix? If you watch your resources, are you running out of memory when you get the SIGSEGV error?

[2018-03-04 02:25] #234 closed

[2018-03-04 02:25] babbush commented on #234
Thanks for pointing this out. The issue has been corrected.

[2018-03-04 02:27] babbush commented on #235
This example runs just fine for me as well. Which version of OpenFermion are you running? What about your scipy version?

[2018-03-04 03:25] Konjkov commented on #235
Hello Jarrod, Ryan
I have  scipy version 1.0.0 and eigsh never work fine for me even in _hydrogen_integration_test.py or _lih_integration_test.py where  eigsh is used in get_ground_state() function
Openfermion is latest from master (2 march commit)

best vladimir

[2018-03-04 03:51] jarrodmcc commented on #235
Hi Vladimir
It sounds like the test is failing at the level of ARPACK.  If your python distribution was self-contained you may want to reinstall scipy and/or numpy.  If it's linking to existing linear algebra packages or ARPACK, you may need to reinstall those and ensure they are working.

[2018-03-04 04:13] Konjkov commented on #235
Hi Jarrod
I created a simpler test that reproduces an issue on my computer
[code]

I think I need to write to scipy tech support, sorry.

[2018-03-04 04:13] #235 closed

[2018-03-04 05:23] idk3 opened #240 "Confusions about checks in PolynomialTensor"
I've been looking over `PolynomialTensor` after seeing some PRs touch it, and had a few questions. I'm not very familiar with the class, so I think one of them might be a misunderstanding, but the others appear to be problems that are a) not sufficiently tested and b) could give errors in the code.

My questions have to do with several places where a `TypeError` is raised, or tensors are considere

[2018-03-04 06:06] kevinsung commented on #240
1. The `keys()` method of dictionaries actually returns a key view, which is a set-like object. See https://docs.python.org/3/library/stdtypes.html#dict-views.
2. I suppose you're right, but I think a valid comparison between two PolynomialTensors with different sets of keys is an extraordinary circumstance and it may be worth keeping it as is for the sake of code simplicity. I say extraordinary b

[2018-03-04 06:28] Konjkov opened #241 "VQE and PEA tutorial help wanted"
Hello Ryan I just read your article https://arxiv.org/abs/1512.06860

Could you provide examples/tutorial of OpenFermion codes for VQE Experiment and  PEA Experiment
which results plotted on the FIG 3.

As far as I understand the OpenFermion functionality is enough for but on my own I could not write such code.

Best Vladimir.

[2018-03-04 06:51] idk3 commented on #240
1. This is true in Python 3 but not in Python 2, see e.g. https://stackoverflow.com/questions/5629023/key-order-in-python-dictionaries .

2. This is a fair question in general - I don't have a good solution really. I agree that `isclose` is a better way to handle things rather than `__eq__` at least for the purposes of consistency.

3. I think you're misinterpreting a point about functions and met

[2018-03-04 06:59] kevinsung commented on #240
1. We can handle this by adding the line `from builtins import dict` and initializing our dictionaries with `dict()`.
3. Okay, I agree that we should raise ValueError in some of these cases then.

[2018-03-04 15:18] babbush commented on #222
We have a specific request from @Konjkov to add a demo for compiling phase estimation circuits.

[2018-03-04 15:18] babbush commented on #241
Hi Vladimir,

In our plugin [OpenFermion-ProjectQ](https://github.com/quantumlib/OpenFermion-ProjectQ) we have [this demo](https://github.com/quantumlib/OpenFermion-ProjectQ/blob/master/examples/openfermionprojectq_demo.ipynb) which shows how to perform UCC. We do not actually have a phase estimation tutorial. However, there are routines in ProjectQ for Trotterization so it should not be too diffi

[2018-03-04 15:18] #241 closed

[2018-03-06 19:59] babbush commented on #151
This paper seems like it should be of interest for this issue: https://arxiv.org/abs/1802.07347

[2018-03-06 20:54] babbush commented on #154
@conta877 and @msteudtner have made some excellent contributions towards this issue. Do you two feel there are interesting methods to implement along these lines that would be low hanging fruit? If not, perhaps we should "close" this issue for now? What do you think?

[2018-03-06 21:59] conta877 commented on #154
now that the tools are there we can always add new "code".  if we decide to implement a completely different method we can reopen the issue maybe?

[2018-03-06 22:26] babbush commented on #154
Yep, I think that sounds like a good plan. I will close the issue then. Thanks!

[2018-03-06 22:26] #154 closed

[2018-03-07 04:08] conta877 commented on #219
whats the situation on this one; do we want to add an option to transforms or should we leave it to the user to reorder before sending it in?

[2018-03-07 04:09] conta877 commented on #222
is there a plan to divide the huge one into smaller pieces?

[2018-03-07 06:17] kevinsung commented on #219
I say we leave it to the user and just document somewhere our chosen spin-indexing convention. @ncrubin are you okay with removing the spin-indexing keyword arguments from the routines for generating spin operators and Hamiltonians?

[2018-03-07 06:57] babbush commented on #222
Not currently but there should be such a plan!

[2018-03-07 21:57] babbush commented on #219
I suggest doing this and just adding a note about our conventions somewhere in get_molecular_hamiltonian() or something like that. This would close this issue.

[2018-03-07 22:04] babbush opened #244 "Basis downfolding"
[arXiv:1502.04698](https://arxiv.org/abs/1502.04698) describes a method for "folding" correlations from Hamiltonians in larger basis sets into Hamiltonians in smaller basis sets. Thus, this is a method for obtaining minimal basis sets with accuracy much higher than something like STO-6G. The technique essentially seeks an effective Hamiltonian which describes ground states with more accuracy than

[2018-03-08 15:38] Konjkov opened #245 "Initial UCCSD amplitudes from MP2"
Hello OpenFermion developers

I need the method (can contribute code) for generation of initial amplitudes for UCCSD from MP2 amplitudes as formula is well known.

I do not quite understand what kind of class this should be, but if it would MolecularData
the next code is valid for closed shell system

[code]

Also I've found that Powell minimization method is more stable than CG.

Best Vladimir.

[2018-03-10 21:48] babbush opened #246 "Diagonal interaction Hamiltonian class"
Many of our recent papers including [arXiv:1706.00023](https://arxiv.org/abs/1706.00023) and [arXiv:1711.04789](https://arxiv.org/abs/1711.04789) have focused on simulating the electronic structure Hamiltonian in a basis where the Coulomb operator is diagonal. Thus, the Hamiltonian can be expressed as:
\sum_{pq} T_{pq} a^\dagger_p a_q + \sum_{pq} V_{pq} n_p n_q
where I have subsumed the usual "U_p

[2018-03-10 22:23] kevinsung commented on #246
Naturally, this is a PolynomialTensor with keys `(1, 0)` and `(1, 0, 1, 0)`. The memory footprint would be the same as InteractionOperator (N^2 + N^4 numbers); are you looking for an even more memory-efficient structure?

[2018-03-10 22:25] babbush commented on #246
The memory footprint really only needs to be O(N^2) not O(N^4). So yes, I am thinking of something even more efficient.

[2018-03-10 22:32] kevinsung commented on #246
Ok, then it should not inherit from PolynomialTensor. We can always map back and forth. What sorts of operations do want to perform? A specialized Jordan-Wigner, and perhaps Bravyi-Kitaev? Anything else?

[2018-03-10 22:42] babbush commented on #246
Jordan-Wigner is incredibly simple and that is certainly a class we'll want. But I also expect that we're going to want to have routines for compiling circuits that are based around this class.

[2018-03-11 07:18] babbush commented on #246
In fact, many of the things we may want to do with this class would perhaps be done more to the post-JW transformed version of this Hamiltonian. I wonder if we should think about a class to store those coefficients (since they are slightly different from the FermionOperator coefficients).

[2018-03-11 18:35] kevinsung opened #248 "Renaming binary code things"
Hi @conta877 , sorry I wasn't more help earlier, but I do have some thoughts now on naming things. What do you think of renaming the file `_code_transform_functions.py` to `_binary_codes.py`? Also, I think the name `SymbolicBinary` is not very descriptive (or maybe I just don't understand it). Perhaps it should be called `BinaryPolynomial` or `BooleanPolynomial` instead?

@babbush , @msteudtner, a

[2018-03-11 18:53] kevinsung opened #249 "Bravyi-Kitaev binary code from Fenwick trees"
Currently the implementation of the function `bravyi_kitaev_code` in `_code_transform_functions.py` uses the binary code defined via recursive matrices in arXiv:1208.5986. I think that instead, it should use the more general binary code defined via Fenwick trees in arXiv:1701.07072, to match up with our canonical implementation of the Bravyi-Kitaev transform in `transforms/_bravyi_kitaev.py`. I th

[2018-03-11 21:35] conta877 commented on #248
I like the name binary_codes for the functions.
SymbolicBinary because they are defined on symbolic variables. (\omega, w or any other variable name representing the qubit basis)

[2018-03-11 21:38] conta877 commented on #249
how about recursive_bravyi_kitaev for the current version?
it should be a straightforward implementation - I can work on it next weekend (unless @msteudtner wants to)

[2018-03-11 23:07] kevinsung commented on #248
I still think the name should suggest _what_ is being defined (have a noun in it).

[2018-03-11 23:09] kevinsung commented on #249
I don't think `recursive_bravyi_kitaev` is descriptive enough because Fenwick trees are recursive objects too.

[2018-03-12 00:49] kevinsung commented on #249
Maybe `bravyi_kitaev_binary`.

[2018-03-12 04:36] #219 closed

[2018-03-12 05:33] msteudtner commented on #249
Hi. I might be wrong, but I believe the Bravyi-Kitaev transform of arXiv:1208.5986 , is  identical to the original proposal (https://arxiv.org/abs/quant-ph/0003137).  Maybe this should somehow be taken into account in the process of picking names.  I'll leave the naming to you guys though, I'm really bad at this.

[2018-03-12 05:39] msteudtner commented on #248
I think I referred to it in the demo as binary expressions, you could also call it binary functions or something. It would take some editing in doc strings and demo but another idea would be to introduce the variables ('w0',  'w1',  and so on) as operators. (I believe I should have done this in my paper, actually.)

So some of my suggestions would be BinaryFunction, BinaryExpression or BinaryOpera

[2018-03-12 05:39] babbush commented on #249
It is true that the BK transform of arXiv:1208.598 is identical to that of arXiv:quant-ph/0003137. Technically speaking, the earlier paper was focused on simulating qubits with fermions, whereas the latter paper focused on simulating fermions with qubits. But the mapping is the same. The later paper introduced the name "Bravyi-Kitaev transform" in homage to the earlier one.

[2018-03-12 05:41] kevinsung commented on #248
@msteudtner Is there any advantage to letting the variables be operator-valued? My understanding is that they only need to take the values 0 and 1.

[2018-03-12 05:52] kevinsung commented on #249
We've already picked the name `bravyi_kitaev` for the Fenwick tree version (as defined in `transforms/_bravyi_kitaev.py`). I think that picking names here should be equivalent to picking our canonical implementation, and I'd like to stick with the current implementation (but we can have a discussion about changing that). I'm not advocating removing the phrase `bravyi_kitaev` from the binary tree v

[2018-03-12 05:54] msteudtner commented on #248
Indeed, my point is to regard a 'SymbolicBinary' as an operator that returns either 0 or 1.

[2018-03-12 05:59] msteudtner commented on #249
Would it make sense to somehow insert 'binary tree' in the name to distinguish it from the  the default Bravyi-Kitaev transform, that is based on a Fenwick tree ?

[2018-03-12 06:12] kevinsung commented on #248
I see, you mean the same thing by "function" and "operator". Any binary function can be expressed as a polynomial, and that's how SymbolicBinary is representing it, so while BinaryFunction or BinaryOperator may be correct, I think BinaryPolynomial would be also be correct and more specific. Please correct me if I have misunderstood something.

[2018-03-12 08:26] kevinsung opened #251 "Binary code transforms map creation operators to annihilation operators"
Executing the lines
[code]
yields
[code]
However, according to Eq. (19) of arXiv:1208.5986, the second term should have a plus rather than minus sign. @conta877 or @msteudtner do you have any idea why?

[2018-03-12 21:19] conta877 commented on #251
Yeah I agree with you based on eq 19.
I'll wait @msteudtner to comment on this.

[2018-03-13 13:28] michaelkaicher opened #252 "issues in tutorial examples"
In "Basic OpenFermion example" in the tutorial there is an issue with

`from openfermion.ops import hermitian_conjugated`
I think it should be
`from openfermion.utils import hermitian_conjugated`

[2018-03-13 13:59] babbush commented on #252
Thanks for pointing this out Michael! Indeed, I don't think we've checked the code in the "examples" in a while. We do keep the "demo" up to date. I wonder if we shouldn't just remove the "tutorial" part of the docs and instead refer users to the jupyter notebook demo, which is both more comprehensive and more up-to-date. What do others think?

[2018-03-13 14:01] babbush commented on #172
I am not sure exactly what sort of "quality assurance" you have in mind but we have determined a reasonable way to store these. This is explained (along with instructions for uploading), here: https://github.com/quantumlib/OpenFermion/tree/master/cloud_library

[2018-03-13 14:04] msteudtner commented on #251
Hi, I can take a look at it tomorrow, but I forsee that there isn't much I
can do: the parity code gives isospectral results (we have a test) and I
used the same matrix as in their paper. Are we sure the sign isnt flipped
in eq. 20 and 21 ?

Am 12.03.2018 22:19 schrieb "Isil Ozfidan" <notifications@github.com>:

[2018-03-13 16:19] conta877 commented on #252
I agree that having a single place for people to go to as a reference is a good idea.
That can also be the push to create better demos.

[2018-03-13 17:40] kevinsung commented on #251
I'm quite sure that you're mapping creation operators to annihilation operators and vice versa. This cannot be tested for by looking at the spectrum (particle-hole transformations are just a change of basis). However, if we map all the way to sparse matrices, then we can initialize a state with only mode 1 occupied, and try to annihilate mode 1. This should give the vacuum state, but instead it ju

[2018-03-13 17:43] conta877 commented on #251
it is isospectral. sign is not flipped in eq21. (the annihilation operator)
This is actually a pretty deep bug - awesome catch @kevinsung

In the parity operator way it is defined currently the decoder is not the inverse of the encoder because its mod2.
I believe the way this should be handled is when there is a -1 in a decoder matrix, in linearization one should look at its absolute value to intr

[2018-03-13 18:13] kevinsung commented on #251
It seems that you want the inverse over the binary field, and not the inverse over the real numbers. Is there an intrinsic problem with assuming all decoders are input as zero-one matrices (over the binary field)?

[2018-03-13 18:33] conta877 commented on #251
yeah I'm very wrong - they are still inverse of one another as binary. My fix might not be the right sign fix here then.

[2018-03-13 18:45] kevinsung commented on #251
Yes, the `enc_mtx` and `dec_mtx` defined in `parity_code` are indeed inverses modulo 2.

I think the big clue here is that creation operators are getting mapped to annihilation operators and vice versa, so we need to think about what could be causing that. Other than that, the mapping seems perfect.

[2018-03-13 19:04] kevinsung commented on #251
It turns out that this issue is not unique to the parity code. Even for the Jordan-Wigner, it is mapping creation operators to annihilation operators and vice versa:
[code]
yields
[code]
As you can see, the two operators are different. After we fix this, I'd like to see a test like `op1.isclose(op2)` should evaluate to True.

[2018-03-13 19:07] msteudtner commented on #251
oh yeah hehe,  I just noticed myself. I have an idea where the problem is. I feel though that I have that one checked already a thousand times.
Very good catch, @kevinsung !!

[2018-03-13 19:12] conta877 commented on #251
ok this actually relieves me. its the count variable in transform function.

[2018-03-13 19:17] kevinsung commented on #251
This is an interesting example of a bug that can't be caught be checking the spectrums of operators!

[2018-03-13 19:20] msteudtner commented on #251
indeed. I can fix it after fixing my jetlag. I'll keep you updated.

[2018-03-13 19:21] kevinsung commented on #251
Thank you!

[2018-03-13 19:32] babbush commented on #175
A hacky way to suppress this from the issue on the h5py repo (where I recently complained):
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import h5py
warnings.resetwarnings()

Maybe it's better than always seeing this message? @kevinsung what do you think?

[2018-03-13 19:36] kevinsung commented on #175
Thanks, that will be helpful for suppressing the warning in Jupyter notebook demos. I'm not sure that should actually go into our codebase though.

There is a new release candidate at https://pypi.python.org/pypi/h5py so hopefully this issue will be resolved soon!

[2018-03-13 20:15] conta877 commented on #251
#254 fixes the issue.
I will not work on stuff until after my second cup of :coffee:

again, this is a great catch @kevinsung

[2018-03-14 23:09] kevinsung commented on #251
Closed by #254 .

[2018-03-14 23:09] #251 closed

[2018-03-14 23:12] kevinsung commented on #252
I agree that instead of the out-of-date examples section we should have a page with links to the demo notebooks on GitHub, at least for now.

[2018-03-14 23:28] Strilanc commented on #252
I just wrote an execute-documentation-snippets-and-expect-it-to-pass test for another project. It should do a good job of catching these kinds of mistakes, though it comes with its own downsides. Does that sound interesting?

[2018-03-14 23:59] kevinsung commented on #252
Sounds interesting to me! What are the downsides?

[2018-03-15 07:30] kevinsung commented on #222
I'm working on a transforms demo! See my work in progress here: https://github.com/kevinsung/OpenFermion/blob/transforms_demo/examples/transforms.ipynb. Comments welcome. I'm taking a very (too?) pedagogical approach.

[2018-03-15 16:29] conta877 commented on #213
has this been resolved? if not, I'm playing around with these - can look into it

[2018-03-15 16:30] babbush commented on #252
As nice as this would be, I think that our demos are much more pedagogical and complete anyways. I think we should just refer people there as a rule and remove the text tutorial.

[2018-03-15 16:30] babbush commented on #213
It has not been resolved. That would be awesome @conta877 !

[2018-03-15 17:29] kevinsung opened #258 "Change normalization convention of Majorana operators"
Right now our convention is (a^\dagger + a) / sqrt(2), but I think omitting the normalization factor is more common in the literature and also more natural from a coding point of view (the coefficient can be passed to the function). I'd like to change the definition of Majorana operators to omit the normalization factor by default. People cool with that? @babbush? Not sure if anyone actually cares

[2018-03-15 17:37] babbush commented on #258
That's your class as far as I'm concerned. Go for it.

On Thu, Mar 15, 2018, 11:30 Kevin J. Sung <notifications@github.com> wrote:

[2018-03-15 21:14] jarrodmcc commented on #245
Sorry for the delay in getting to this, I think it is a good idea to have such a function.  I think there are two ways one could think about introducing this into the package.  One (the simplest) would be to contribute these as functions to the unitary coupled cluster files in uccsd that take MolecularData structures as input.  For this it would also be good to check if it's stored first, and use

[2018-03-15 21:15] jarrodmcc commented on #258
It seems like you are using it the most, so I would say that is fine.  If there are places where it is appropriate, maybe add a comment that we have chosen a particular normalization in that module, so it's clear that is a choice we have made rather than a given.

[2018-03-15 21:18] Strilanc commented on #252
The downside is that if you put expensive code into the documentation, your tests take forever. Also the doc code may touch the network, and other unfortunate things.

[2018-03-16 01:37] Konjkov commented on #245
Hello Jarrod
I think that this code depends on this https://github.com/quantumlib/OpenFermion/pull/257

Also I do not quite understand how you are going to separate the closed shell and open shell cases.
In the first case, the number of qubits should be half as much because of the symmetry between the alpha and beta orbitals, the same applies to amplitudes.

I think one can somehow implement also

[2018-03-16 07:27] kevinsung opened #259 "Which Bravyi-Kitaev transform?"
As discussed at #232 , our current implementation of the Bravyi-Kitaev transform comes from arXiv:1701.07072, and this definition is actually different from the one given by Bravyi and Kitaev in arXiv:quant-ph/0003137, which is the same as the one in arXiv:1208.5986. Apparently this fact had gone unnoticed until that discussion so I thought we should discuss now whether or not we should change our

[2018-03-16 07:28] kevinsung commented on #249
@msteudtner you are totally right about arXiv:1208.5986 being the same as arXiv:quant-ph/0003137. I opened an issue at #259 to discuss changing our implementation.

[2018-03-16 07:39] kevinsung commented on #259
Now that I think of it, if one of them gives slightly lower weight operators in the cases in which they differ, then we should probably go with that one. I haven't investigated that yet though.

[2018-03-16 13:35] msteudtner commented on #259
@kevinsung  Operator weight depends on the structure of the tree, right ? (the width and depth or however it is actually called)  For a number of modes that is 2^integer, Fenwick and binary BK seem the same - I think when you are in between the 2^integer and 2^(integer-1) in the binary BK, you basically delete the upper part (I mean thepart closer to the root)  of the tree. This clips the update o

[2018-03-16 15:15] kevinsung commented on #259
Yes, a binary-indexed tree for non-powers of 2 can be thought of as taking the Fenwick tree from the next power of 2 and omitting the higher indices.

[2018-03-16 22:51] kevinsung commented on #259
Ok so with the binary-indexed tree version the weight of an annihilation operator is always exactly floor(log N) + 1. I believe that with the Fenwick tree version (currently implemented), it can never be smaller than this, but it can be strictly larger. I haven't proved this but here is an example from running it:
[code]
yields
[code]
For each pair in between the `--------`, the first one is the F

[2018-03-17 16:13] hsim13372 opened #260 "Import errors for function(s)"
Hello, I tried to use the function `jordan_wigner_interaction_op` from `openfermion.transforms` and kept running into an ImportError so I added the function to the` __init__.py` file in the openfermion.transforms subdirectory. I'm not sure if this was just an issue for me, or is this something to edit?

[2018-03-17 16:48] kevinsung commented on #260
You should use `jordan_wigner` instead, which checks the types of the input operator and uses `jordan_wigner_interaction_op` as a helper function.

[2018-03-17 16:51] hsim13372 commented on #260
Ah I see. Thanks for the quick response!

[2018-03-17 17:25] #260 closed

[2018-03-18 18:26] kevinsung commented on #249
Actually we should wait to resolve #259 before doing this.

[2018-03-18 19:02] #248 closed

[2018-03-19 02:03] max-radin commented on #213
@babbush sorry I just realized that I never responded to your earlier questions! Yes, the complex number operators are coming from the external potential.

The reason why I thought the problem was due to dualling was that disabling the dualling yielded a Hermitian external potential operator in the plane-wave basis, even with a [-2, -1, 0, 1] type grid. (By disabling dualling, I mean replacing `k_

[2018-03-19 05:08] kevinsung commented on #222
Ok I made my demo only about Jordan-Wigner and Bravyi-Kitaev. If others want to make a demo about Bravyi-Kitaev Superfast and/or the Verstraete-Cirac, please go ahead. It might make sense to put those in the same notebook.

[2018-03-19 05:25] #258 closed

[2018-03-20 12:52] cmendl opened #266 "Explicit operator representation on fermionic Fock spaces and RDM computation?"
Starting from the symbolic operator representation in OpenFermion, an interesting feature could be the explicit (sparse) matrix representation of the action of these operators on fermionic Fock spaces (using Slater determinants as basis functions). This idea has been worked out in https://arxiv.org/abs/1103.0872, with utility functions like getting p-marginals and the computation of reduced densit

[2018-03-20 16:42] kevinsung commented on #266
I'm not sure what sparse matrix functionality you're referring to beyond those provided by functions that convert to sparse matrices and additional ones like `jw_number_restrict_operator` and `jw_number_restrict_operator`.

However, I like the idea (inspired by your reference) of having a data structure to symbolically manipulate Fock states! At first thought, I think we'd want more flexibility an

[2018-03-21 16:38] conta877 commented on #259
I like the original version. But I feel like the fenwick version is also useful in a pedagogical way.

We can maybe change the default openfermion implementation to the original version and add a fenwick version into binary codes?

[2018-03-21 17:13] jarrodmcc opened #270 "Change default data location to current working directory"
Right now using most of the plugins or MolecularData class will default to the installation directory specified in the config file, which could be in a very inconvenient location for some people.  Also, in my own workflows I'm most interested in keeping data local to a particular project rather than OpenFermion itself, hence it would be better if the universal defaults were the working directory o

[2018-03-21 17:23] kevinsung opened #271 "Reorganization"
I think some reorganization is in order:
- I think `ops/__init__.py` should only import classes, and that the following moves make sense anyway:
-- `general_basis_change`, `prune_unused_indices`, `freeze_orbitals`, `normal_ordered` -> `utils/_operator_utils.py`.
-- `linearize_decoder` -> `transforms/_binary_codes.py`
- I think `transforms/_conversion.py` actually belongs in `utils`. It is the only

[2018-03-21 17:25] babbush commented on #271
Fine with me

[2018-03-21 17:31] idk3 commented on #270
+1, it was pointed out to me (didn't know this was a thing at all) that storing data in lib/.../site-packages is considered bad form and that that directory is usually considered semi-volatile.

[2018-03-21 17:35] idk3 commented on #271
+1. My only concern is about this breaking some code (looks like only stuff in `_conversion.py` will be affected though really - is that right?)

[2018-03-21 18:12] jarrodmcc commented on #271
One thing to ask is if the code has gotten developed and wide spread enough
that we should start phasing in 1 version deprecation warnings to help
people.  That is, when we move core functions, we leave something in place
for one version that calls the correct location with a printed or otherwise
raised warning that says "Deprecated in version ... in future use....".
Then remove that in the subseq

[2018-03-21 18:13] babbush commented on #271
Indeed, I worry quite a lot about this.

[2018-03-21 18:33] kevinsung commented on #271
It also might be good to leave in `isclose` with a DeprecationWarning for the next version (it was eliminated in #265 ).

[2018-03-21 19:45] TariniHardikar commented on #270
This might be unique to me and how I use OpenFermion, but I appreciate having all the data in one place. I tend to sort directories by molecule/ensemble, and having all data about various molecules/basis sets in one place makes it very convenient to sort through files/analyze things.

[2018-03-21 20:38] idk3 commented on #271
+1 to all. Honestly though I would recommend leaving the deprecation warnings even longer than a single version - perhaps until we actually need to change them to something else.

But also along these lines we should be careful about how we handle warnings in other contexts (e.g. the h5py import warning from earlier in https://github.com/quantumlib/OpenFermion/issues/175 - we have to make sure to

[2018-03-21 21:10] jarrodmcc commented on #271
+1 to both of your thoughts on keeping them around for a little bit, adding
them for recent core functions, and using the official python "warning"
module to do them the right way.  We may also want a code style philosophy
that moves deprecated functions to the bottom of a file with an extra
comment line on expected removal dates etc?

Jarrod

On Wed, Mar 21, 2018 at 1:38 PM, idk3 <notifications@g

[2018-03-21 21:15] jarrodmcc commented on #270
Given the above two comments, I guess this sort of implies we want it out
of the installation directory, but some people might prefer to keep a
central repository, sort of database style, instead of defaulting to the
current working directory.  I suppose the dividing line here is if you
group projects within a data directory and keep scripts from them separate,
or you group projects with scripts a

[2018-03-21 21:23] kevinsung commented on #270
I like @jarrodmcc 's last idea. Perhaps the setting of the directory can be done with a function, like `openfermion.set_data_directory('DIRECTORY_NAME')` or something like that.

[2018-03-21 22:15] idk3 commented on #270
Setters are usually not necessary without a specific reason, I think it's simpler to just change the variable here. Thoughts on saving into `cwd/OpenFermion-data/` or something instead of directly into cwd?

[2018-03-22 00:04] jarrodmcc commented on #270
I'd still opt for the default being that the user has maximal control
relative to cwd for determining the directory.

With regards to "setters", anything of that sort is probably still better
than now, where the options are basically to (1) specify an absolute path
or (2) manually change the config setting in the file in the installation
directory.

On Wed, Mar 21, 2018 at 3:15 PM, idk3 <notificat

[2018-03-22 02:30] kevinsung opened #274 "Generalize __add__ and __eq__ methods of PolynomialTensor"
As discussed in #240, we should be able to add and compare PolynomialTensors with different sets of keys (if the key is not present then it counts as the zero tensor). Currently, attempting these operations raises an error.

[2018-03-22 15:44] kevinsung commented on #240
@idk3 I made a new issue at #274 to implement the changes discussed here. Do you think that covers everything? If so I think we can close this issue.

[2018-03-22 15:46] #240 closed

[2018-03-22 15:48] idk3 commented on #274
+1, closed the old issue. The only thing remaining from the old issue is to add new tests addressing Python 2/3 differences. Importing dict from builtins is one good way to address this for the class, but we could also do something more order independent (with the downside perhaps of more time).

[2018-03-23 05:20] kevinsung commented on #259
I have verified numerically for all possible annihilation operators in systems with up to 1000 modes that the original Bravyi-Kitaev transform (arXiv:quant-ph/0003137) results in an equal or lower weight operator than the currently implemented one (from arXiv:1701.07072). In many cases the weight (or many-body locality) is less than half as much. It would be nice to have a proof of this but I don'

[2018-03-23 12:45] SerkanGuldal opened #280 "ImportError: No module named openfermion.hamiltonians"
I am trying to run on Fedora (Fedora release 27 (Twenty Seven)), but I have no success so far.
Everything is up to date.
I am receiving following error message

  File "HH.py", line 1, in <module>
    from openfermion.hamiltonians import MolecularData
ImportError: No module named openfermion.hamiltonians

when I try to run the example: [example](https://github.com/quantumlib/OpenFermion/blob/maste

[2018-03-23 15:27] kevinsung commented on #280
What's the output of `pip show openfermion`?

[2018-03-23 16:06] kevinsung opened #281 "Bug in Jordan Wigner for InteractionOperators"
Executing
[code]
results in an AssertionError. That's a bug, right?

I suspect there's something wrong with how the indices are handled in `jordan_wigner_interaction_op`. A consistency test like this is actually not present in `transforms/_jordan_wigner_test.py`, though there are similar ones for the helper functions `jordan_wigner_one_body` and `jordan_wigner_two_body`.

[2018-03-23 16:08] babbush commented on #281
Is the random interaction operator Hermitian? The specialized Jordan-Wigner code that works for InteractionOperators might expect that it is.

[2018-03-23 16:08] babbush commented on #259
This is very interesting @kevinsung , thanks. This suggests we should probably implement the original one at some point.

[2018-03-23 16:11] kevinsung commented on #281
Yes, it is.

[2018-03-23 16:12] babbush commented on #281
Hmm. It would be good (and perhaps difficult) to track down this bug. This routine is about 10X faster than first mapping to a FermionOperator and then mapping to qubits.

[2018-03-23 16:13] jarrodmcc commented on #259
Just to be clear since I haven't checked myself, are we saying there 3 or 2
versions of this transform in practice?  That is, do we have (1) original
(2) seeley paper (3) fenwick tree version?  Or is it just original vs
others?

On Fri, Mar 23, 2018 at 9:08 AM, Ryan Babbush <notifications@github.com>
wrote:

[2018-03-23 16:14] kevinsung commented on #259
No, there are only 2. The original one and Seeley one are the same. The Fenwick tree one is different, and that is the one we have implemented, but it is inferior for 3 reasons:
1. Results in higher-weight operators
2. Slower to compute
3. More complicated code

I already have an implementation of the original one so I can submit a PR for that shortly.

[2018-03-23 16:26] kevinsung commented on #281
Here is a more damning indictment:
[code]
raises AssertionError.

Are there additional symmetries beside hermiticity that this function can take advantage of? Or should it work on a general Hermitian InteractionOperator?

[2018-03-23 16:28] babbush commented on #281
the structure of the InteractionOperator already bakes in symmetries like particle number conservation. So yes, it should work with a general InteractionOperator.

[2018-03-23 16:32] kevinsung commented on #281
I don't think the structure is enforced, however. For instance, if you initialize an InteractionOperator with some tensors that don't result in a Hermitian operator, it won't raise an error. So I guess I'm asking about what a "proper" InteractionOperator is; I know it must be Hermitian, but is there anything else? This is related to my PR #282 .

[2018-03-23 16:35] babbush commented on #281
That's it basically.

[2018-03-24 00:27] murmur1225 opened #284 "How to prepare multiple degenerate ground state?"
It seems the current gaussian_state_preparation_circuit(quadratic_hamiltonian) only spit out one ground state and is agnostic about the degeneracy. How can we make the function produce the preparation circuit for other degenerate ground states as well? Thanks!!

[2018-03-24 00:40] kevinsung commented on #284
The header of `gaussian_state_preparation_circuit` looks like
[code]
As you can see, there is a keyword argument `occupied_orbitals`. The value of this argument indicates which eigenstate of `quadratic_hamiltonian` you want to prepare. The default behavior is to give you a circuit that prepares the ground state.

The "orbitals" in `occupied_orbitals` refer to the pseudo-particle orbitals that corr

[2018-03-24 00:45] babbush commented on #284
Looks like this closes the issue.

[2018-03-24 00:45] #284 closed

[2018-03-24 00:45] babbush commented on #280
This certainly looks like an install error.

[2018-03-24 00:46] babbush commented on #175
People still getting this? I like to check every week or so, lol

[2018-03-24 00:47] #259 closed

[2018-03-24 01:00] kevinsung commented on #175
Yup

[2018-03-24 16:51] kevinsung commented on #249
Ok, #259 has been resolved by #283 and we can go ahead with this. #283 changed the implementation of `bravyi_kitaev` to use the original one (arXiv:quant-ph/0003137, which is equivalent to the recursive matrices one from arXiv:1208.5986), and left the old implementation from arXiv:1701.07072 in as `bravyi_kitaev_tree`. In my opinion, the old implementation (currently `bravyi_kitaev_tree`) should n

[2018-03-24 17:52] babbush commented on #249
I think it is good to keep the bravyi_kitaev_tree implementation. At the very least, it is helpful to people who might want to learn how that method works but don't want to need to learn how the binary code transforms work. I am going to close this issue.

[2018-03-24 17:52] #249 closed

[2018-03-24 17:53] babbush commented on #280
I will close issue for now.

[2018-03-24 17:53] #280 closed

[2018-03-24 19:32] kevinsung opened #285 "Bug in FermionOperator <-> InteractionOperator conversion"
Another alarming bug. Executing
[code]
raises AssertionError. After running this code,
[code]
has value 0 when it should rightfully be 1. This should be fixed before #281 .

[2018-03-24 20:10] kevinsung commented on #285
Never mind, this is not a problem. I forgot to normal order.

[2018-03-24 20:10] #285 closed

[2018-03-24 20:59] SerkanGuldal commented on #280
Thank you. It seems you are right. After I have installed properly, it worked as expected. :)

[2018-03-24 21:50] cmendl commented on #266
OK, thanks for the suggestion! The "lazy" storage seems to resemble a sparse vector or matrix representation, right?

By translating the FermiFab functionality to Python, one feature would then be the (symbolic) computation of p-marginals or RDMs given a (pure) input state as sparse vector. This is not implemented in OpenFermion yet, is it?

[2018-03-24 23:54] kevinsung opened #287 "Bad test for Bravyi-Kitaev SuperFast Transform"
The file `transforms/_bksf_test.py` contains the following test:
[code]
The line
[code]
depends on the Jordan-Wigner routine for InteractionOperators, which is incorrect, as pointed out in #281 . Indeed, if we change this line to use the standard Jordan-Wigner,
[code]
then the test fails. At the end, `evensector_H` has value 2 instead of 8. This is the same reason that my PR #286 cannot pass Travi

[2018-03-25 00:06] kanavsetia commented on #287
Thanks @kevinsung  for bringing this to my notice. I will take a look and update soon.

[2018-03-25 21:18] jarrodmcc commented on #266
I don't know of anything currently in OpenFermion that has that
functionality.  We generally haven't gone to either the level of 1. fully
symbolic manipulation (meaning string type coefficients instead of
numerics) or 2. implementations of operators that are implicit (meaning the
action of the operator on a vector is specified, but the full matrix
representation of the operator is not).  I think b

[2018-03-25 21:48] kevinsung commented on #266
Yes, I guess my proposal is similar to a sparse vector representation.

[2018-03-25 21:53] babbush commented on #266
True symbolic representations are really hard. One could perhaps build on
top of sympy?

On Sun, Mar 25, 2018, 14:48 Kevin J. Sung <notifications@github.com> wrote:

[2018-03-25 21:56] kevinsung commented on #266
I think symbolic representations of _numbers_ probably have no place in OpenFermion, but I can see the potential for symbolic representations of _states_ with floating point coefficients. My ideas on this are half-baked though.

[2018-03-25 22:03] babbush commented on #266
There is plenty of reasons to have symbolic representations of essentially
everything in OpenFermion. This would make it a very versatile tool capable
of deriving general closed form formulas. But it would also be a lot of
work. For instance, having a fully symbolic form of FermionOperator would
definitely be fun to play around with.

On Sun, Mar 25, 2018, 14:56 Kevin J. Sung <notifications@github

[2018-03-25 22:17] kevinsung commented on #266
Sure, that would be really cool.

[2018-03-25 22:51] jarrodmcc commented on #213
Did anyone dive deeper into this? I will probably get to this as a side effect of something I plan to do this week for generalized unit cells and their reciprocal lattices.  Two guesses I would make at a glance before working on this

1) The shifting of the grid as it's being called seems odd, because it's more correct to think of the k's as integer translations of the reciprocal lattice that sati

[2018-03-25 22:57] jarrodmcc commented on #266
This is perhaps not the right place to mention it again, but I just want to
emphasize having an implicit operator representation, sparse matrix
representation, and "sparse vector" representation are all somewhat
distinct and can be mixed and matched.  For problems without additional
structure or some restrictions, having sparse vectors specifically often
adds more overhead than it gains in efficie

[2018-03-25 23:30] conta877 commented on #213
I looked at it a little this week. its a bit of a mess; kp-kq are integers even if you shift the k's by 0.5 -> that destroys the fourier transforms.

Things to test: is it hermitian, are the FTs giving one another (pw, dual). Is the spectrum real.

here is an example problem: if you stick to integers for grid length = 2 you have (0,1). k0-k1 = -1 = 1 and k1-k0 = 1 which causes the hamiltonian to b

[2018-03-26 00:42] jarrodmcc commented on #213
I think half integer shifts are a bad idea for many reasons including those
I listed above.  We shouldn't confuse the continuous variable that can be
used for k-point sampling with functions that we really want to both have
the correct periodicity and orthogonality relations.  Everything so far is
assuming Gamma point only as far as I can tell.

Regarding the modulo choice, I'll look more into how

[2018-03-26 01:52] conta877 commented on #213
I agree with no half shifts. I tried the p>=p the FT is still not diagonal.

[2018-03-26 02:02] jarrodmcc commented on #213
That's good information, thanks! I don't have a proof, but I guess it's
possible this specific trick only really works for odd numbers of grid
points.  The diagonal FFFT requirement goes a bit beyond what a typical
electronic structure code would need, in that the plane wave dual basis is
a bit non-standard.  This could be related to the conflict between ternary
vs dyadic wavelets and symmetry req

[2018-03-26 02:16] conta877 commented on #213
I have a feeling you are right. I tried a bunch of tricks and was gonna dive into it pen&paper next.

[2018-03-26 02:26] babbush commented on #213
I could very well be wrong, but I am not entirely convinced that it is impossible to make all of this work with odd number grids. For what its worth, @gkc1000 has insisted to me on several occasions that everything to should extend to odd grids without a problem. I also find it very strange that the one-body operator is the only problematic part, and only when the nuclei are not centered on a grid

[2018-03-26 02:29] babbush commented on #287
Thanks @kanavsetia - this issue needs to be resolved before we can merge one of our open PRs that fixes a rather dangerous bug. So this very high priority.

[2018-03-26 02:55] babbush commented on #213
Right, I actually had forgotten which one wasn't working. But now that I think of it, I recall seeing that there is a way to make it work for even grids but I was never able to figure out how to do the Fourier transform in a way that made a unitary equivalence between plane wave and dual forms. I'll try to help think about this next week as well - it is rather important for where we're headed.

[2018-03-26 02:58] gkc1000 commented on #213
Since my mailbox is filling up ...

I'm not completely sure what is implemented inside OpenFermion, but:

1. Hermiticity is obviously a property of the operator i.e. so we can choose an arbitrary set of basis functions and <m|H|n> = <n|H|m>*. So any possibility of observing non-Hermiticity can only arise from an approximation in computing the matrix element <m|H|n> (in relation to the earlier ques

[2018-03-26 03:19] jarrodmcc commented on #213
Thanks for the clarifications Garnet. I’m confident that the implementation can be made hermitian as you say; I guess the question is whether doing so with our other approximations immediately implies the diagonal property in the dual basis for any choice of integer grid. I’m only going off what people have written here(as opposed to the code or my own derivations) so far as I was planning to look

[2018-03-26 03:25] kanavsetia commented on #287
Hi Ryan,
I could not spend time with the code today. I will try to spend time on the code tomorrow and will surely update by evening.
My initial thoughts are: BKSF uses the same iteration routine as in Jordan-Wigner to go through the terms in the Hamiltonian. And if the eigenspectrum are different for the for the get_fermion_operator() and the iop, then the iteration routine must be missing terms

[2018-03-26 04:10] yurivict opened #288 "[question] Is OpenFermion usable without the closed-source mosek?"
OpenFermion depends on "cvxopt", and it in turn depends on "mosek", which is closed source.
On FreeBSD I can't install closed source libraries.
Does this mean that OpenFermion is unusable on FreeBSD?

[2018-03-26 04:15] babbush commented on #288
I'll look into this tomorrow. The dependency on cvxopt can easily be removed if necessary - we use it only for the linear programming simplex routine.

[2018-03-26 05:17] gkc1000 commented on #213
No problem, feel free to chat more. Even grids are odd.

On Sun, Mar 25, 2018 at 8:19 PM, Jarrod <notifications@github.com> wrote:

[2018-03-26 06:00] kanavsetia commented on #287
Line 106 in current jordan-wigner and line 111 in BKSF, I think, was written for the case where the number of unique indices are 2. This case is double counting or sometimes completely missing the case when the number of unique indices are 3.
An easy fix is to just go over all the cases where number of unique indices are 3 and divide the coefficient by 2. I added following code for the 3 unique in

[2018-03-26 06:18] kevinsung commented on #287
I think you're right that the bug is in the part of the loop that reads
[code]
I found this part hard to understand. In my PR #286 I replaced the entire iteration procedure with a new one that is also faster. I'm going to try to use my iteration procedure to fix the BKSF code, so you're off the hook for now!

[2018-03-26 06:44] kevinsung commented on #287
Ok nevermind @kanavsetia my attempt led to some error messages that I'm unwilling to debug. Specifically, in line 365,
[code]
`operator` has the value `(-1, 'X')`, and `-1` is not a valid index.

I think it would be nice if we used a better looping structure but that's not necessary. I'm fine with just fixing the bug with whatever way you suggest.

[2018-03-26 06:52] kevinsung commented on #287
In case you're interested, I replaced the body of `bravyi_kitaev_fast_interaction_op` with the following code:
[code]
I thought that would work but it gave me the error I mentioned above.

[2018-03-26 09:12] yurivict commented on #288
Actually, "mosek" is only an optional dependency of "cvxopt", so there is no real problem here.
Sorry for bothering! -)

[2018-03-26 09:12] #288 closed

[2018-03-26 09:29] yurivict opened #289 "Install problem in v0.4 with python-3.6"
[code]

Succeeds with python-2.7

[2018-03-26 16:29] kanavsetia commented on #287
Hi Kevin,
I will try to look at the new code and the error that you got. But, I think the earlier code should also work fine with the modification.

[2018-03-26 16:34] babbush commented on #289
Hmm, haven't seen this one before. You run into this while trying to install the develop branch?

[2018-03-26 16:54] yurivict commented on #289
No, it's with version 0.4.

[2018-03-26 17:04] kevinsung commented on #289
@yurivict Would you mind trying again after replacing the line
[code]
with
[code]
in `setup.py`?

[2018-03-26 17:12] kevinsung commented on #289
@yurivict wait... I just realized you can't do that if you're installing from `pip`; you'd need to get the source code (for instance, by cloning this repository) and install it from source.

[2018-03-26 17:24] kevinsung commented on #289
The problem seems to be that on some systems (including @yurivict 's), Python uses the ASCII encoding by default to read files, but we probably didn't limit ourselves to a 128-character alphabet when writing the README. So perhaps we should update `setup.py` to explicitly specify reading with UTF-8 (by making the change I mentioned above.

[2018-03-26 17:25] babbush commented on #289
If you make that change and Travis doesn't complain, I'll happily merge.

[2018-03-26 17:31] kanavsetia commented on #287
Also, @kevinsung, will you add the three unique indices case to the BKSF code in #286 PR, or should I do a separate PR for that?

And if I am not wrong, you may be missing a case with two unique indices in your code too. Is your code passing all the tests?
`qubit_operator += (coefficient *
                           two_body(edge_matrix_indices, p, q, p, q))`
In addition to this, I think you need

[2018-03-26 17:36] kevinsung commented on #287
If `p` and `q` are different from each other, then `p^ q^ p q = - p^ q^ q p`. So in the code right before that, I subtracted that coefficient, as in the second line of
[code]
The way I wrote my loop, `p` and `q` are guaranteed to be different.

Okay, I will go ahead and try to add your fix to #286 so that can be merged. You mean simply add the lines you mentioned, right:

'elif len(set([p, q, r, s

[2018-03-26 17:42] kevinsung commented on #287
@kanavsetia I'm sorry but I don't completely understand your fix. Would you mind providing your source code for what the body of `bravyi_kitaev_fast_interaction_op` should be? Is that the only function that needs to be changed?

[2018-03-26 18:02] yurivict commented on #289
[code]

[2018-03-26 18:06] kevinsung commented on #289
Wow it turns out that Python 2.7 does not support the `encoding` keyword argument to `open`. How did my PR pass Travis?!

[2018-03-26 18:08] kevinsung commented on #289
Wait this can probably be fixed with `__future__`. Incoming PR...

[2018-03-26 18:13] kevinsung commented on #287
@kanavsetia With your fix, my PR passed Travis, and therefore can be merged. Thanks for all your help! Do you think there are still problems with the indexing in the BKSF code? In that case, we should leave this issue open. It is not nearly as urgent anymore though.

[2018-03-26 18:59] kanavsetia commented on #287
You're very welcome, Kevin. Besides, it was my job to address all the questions related to BKSF, anyway.

I doubt, there's an issue with indexing. @TariniHardikar (correct me if I am wrong) has been using the code for different iop's and and I don't think she has ever encountered the indexing issue.
With your new code, iteration over the indices is being done little differently. It is not immediat

[2018-03-26 19:14] kevinsung commented on #287
I think we've established here that the old indexing scheme in the function `bravyi_kitaev_fast_interaction_op` was incorrect because it skipped some two-body interactions with three unique indices. That indexing was copied straight from `jordan_wigner_interaction_op`, which my PR #286 fixes, and that's what was causing the discrepancy.

It looks to me like that was the only place in the BKSF code

[2018-03-26 19:34] kanavsetia commented on #287
Yeah, I agree with what you just described. I second that we can close this issue.

[2018-03-26 19:39] kevinsung commented on #287
Great. I just want to mention that the iteration routine that I proposed (and used in #286) is about 4x faster because it uses `itertools.combinations` instead of looping over all permutations. If you or @TariniHardikar ever want to speed up the BKSF routine that should be a simple optimization to make.

[2018-03-26 19:39] #287 closed

[2018-03-26 19:45] #281 closed

[2018-03-26 20:39] babbush commented on #289
@yurivict would you mind trying to install the develop branch one more time? PR #291 may have resolved it. I cannot replicate this error on my machine so your input is crucial.

[2018-03-26 20:57] yurivict commented on #289
Yes, now the problem is gone.

[2018-03-26 21:19] babbush commented on #289
Excellent we'll close the issue then. Thanks @kevinsung !

[2018-03-26 21:19] #289 closed

[2018-03-26 21:38] babbush commented on #252
Closed by #292

[2018-03-26 21:38] #252 closed

[2018-03-26 21:56] babbush opened #293 "Comprehensive feature list"
It would be great to have a complete list of all features implemented in OpenFermion. I started such a list in #221 but did not have time to finish it, so I closed the PR. If anyone wants to continue, feel free to reopen.

[2018-03-26 23:18] babbush commented on #245
We merged #257 - did that clarify things?

[2018-03-26 23:46] kevinsung commented on #246
At the very least, we'll want a class that stores the Hermitian matrix T_{pq} and the symmetric matrix V_{pq} as numpy arrays, right? What should it be called? What should the attributes corresponding to these matrices be called?

[2018-03-27 02:01] kevinsung commented on #246
Actually, another possibility is to use a dictionary instead and have the keys be either sets {p, q} or tuples (p,q) where we assume p < q. That would use less memory and also make iteration more convenient.

[2018-03-27 02:07] babbush commented on #246
I actually think that the most natural way to write this class is probably to just have it store two N x N numpy arrays: one for V_{pq} and one for T_{pq}.

[2018-03-27 02:08] kevinsung commented on #246
Is it an implicit assumption of these papers that T_{pq} is real? It seems to me that's necessary for the kinetic term to have a nice Jordan-Wigner transformed form. If so, should that be an assumption of the data structure?

[2018-03-27 02:10] babbush commented on #246
In all the basis sets that we're currently aware of which give this form, that is the case. I think this can be an assumption of the data structure.

[2018-03-27 04:05] kevinsung commented on #271
Moving core functions seems to be pretty tricky. Take `normal_ordered` for instance. Right now it's in `ops` and I want to move it to `utils`. If we want to keep a deprecated version in `ops`, that version should also be named `normal_ordered`, which makes the behavior of something like `from openfermion import *` unpredictable (is it going to import the one from `ops` or the one from `utils`?) It

[2018-03-27 04:07] idk3 commented on #271
I'm not sure I actually see the issue here - why can't `openfermion.ops.normal_ordered` just alias to `openfermion.utils.normal_ordered`? You'd have to remove `normal_ordered` from `ops`'s init but it should be OK otherwise, shouldn't it?

[2018-03-27 04:12] kevinsung commented on #271
If we remove it from `ops/__init__.py`, then `openfermion.ops.normal_ordered` is no longer valid.

What I'm proposing is that we add to `ops/__init__.py` the statement `from openfermion.utils import normal_ordered`. But now that I think of it, that would cause a circular dependency!

[2018-03-27 04:17] babbush commented on #271
My opinion is that we should leave these things where they are for now. If it isn't broken, let's not fix it. Especially not while we're making a bunch of other breaking changes. This is going to drive users crazy.

[2018-03-27 04:26] kevinsung commented on #271
Sure, let's keep the core functions in place. Is it okay if I just move `prune_unused_indices`, `freeze_orbitals`, and `linearize_decoder` though?

[2018-03-27 04:26] babbush commented on #271
Sure

[2018-03-27 04:51] #271 closed

[2018-03-27 15:47] jarrodmcc commented on #246
Can you say more about the benefit for this being assumed to be always real
instead of hermitian?  At some point there was discussion of treating
magnetic fields / vector potentials in OpenFermion which this might
hamstring.

On Mon, Mar 26, 2018 at 7:10 PM, Ryan Babbush <notifications@github.com>
wrote:

[2018-03-27 15:51] babbush commented on #246
Jarrod is right, adding a magnetic field would throw a wrench in things. I tend to agree with Jarrod that it costs us almost nothing to ensure it is Hermitian, but not necessarily real.

[2018-03-27 16:01] idk3 commented on #246
Tpq only needs to be Hermitian but Vpq does need to be real (upper triangular - perhaps we could store Up as the diagonals of Vpq).

@kevinsung real vs complex here doesn't actually change that much, only whether you transform to paired Xs and Ys connected by Z strings (terms XZ...ZX and YZ...ZY) or anti-paired terms (YZ...ZX and XZ...ZY).

[2018-03-27 16:27] kevinsung commented on #246
@idk3 thanks, I see. If T_{pq} has both real and imaginary parts, then the transformed term will involve both kinds of terms. That's not a big deal though; it's still easy to transform.

[2018-03-28 05:54] babbush commented on #246
@kevinsung actually U_p is just one part of the diagonal of T_{pq}. The kinetic operator also contributes the diagonals. For instance, think of the Laplacian in real space.

But in basis sets other than the dual basis, or when there is a magnetic field, U also has off-diagonal components. So to the extent that we care about separating components of the external potential the Hamiltonian should be

[2018-03-28 13:58] chenDeChao0808 commented on #175
still
solutions?

[2018-03-28 16:03] kevinsung commented on #175
The only real solution is to fix `h5py`, and by that I mean wait for the next production release to come out on https://pypi.python.org/pypi/h5py. @babbush gave a way to suppress the warning above:
[code]
For instance, you can put that in your IPython configuration file and then the warning will not show up in Jupyter.

[2018-03-29 01:44] kevinsung opened #295 "Version 0.5"
@babbush I think we should bump the version on pip soon due to some critical bug fixes. Here is a list of changes:
- Fixed a bug in the Jordan-Wigner transform applied to InteractionOperators which caused some terms to be ignored
- Fixed a bug in the Bravyi-Kitaev Superfast Transform which caused some terms to be ignored
- Fixed a bug in the binary code transforms functionality which caused creati

[2018-03-29 03:01] kevinsung commented on #246
@babbush It would be convenient for me to at least have a basic version of this set up, so I'd like to do that. Do you think T and U should be stored separately? For now I plan to have these matrices stored and provide a routine to convert to and from FermionOperators and a Jordan-Wigner Transform to convert to QubitOperators.

[2018-03-29 04:56] babbush commented on #295
@jarrodmcc let's do it tomorrow.

[2018-03-29 04:59] babbush commented on #246
No, don't store T and U individually. Just have a matrix called one_body and a matrix called two_body. one_body stores the coefficients of a^\dagger_p a_q and two_body stores the coefficients of n_p n_q.

[2018-03-30 00:39] gaming-hacker commented on #175
i don't think you want to hack to disable the warnings, you're applying a bandaid that might break future builds or cause weird errors.  i'd suggest let h5py fix their issue.

[2018-03-30 06:55] kevinsung commented on #246
Actually, I'm going to work on other stuff first so if someone wants to jump on this go ahead.

What should the class be called? DiagonalInteractionHamiltonian?

[2018-03-30 06:57] babbush commented on #246
That's a reasonable name.

[2018-04-03 16:14] singular-value opened #301 "Does PolynomialTensor mistakenly implement __neq__ instead of __ne__?"
Hey there, Pranav here. I'm hoping to get involved with OpenFermion, so I started taking a look at https://github.com/quantumlib/OpenFermion/issues/274 which seems like a good first issue (thanks @kevinsung and @idk3 for the clear description and background discussion).

I was reading through the code for `PolynomialTensor` and noticed that it implements a `__neq__` method. Should this method be `

[2018-04-03 16:26] kevinsung commented on #301
Yes, you are correct. It would be great if you can fix that and test it better, perhaps using the EqualsTester utility in `utils/_testing_utils.py`.

[2018-04-03 18:12] singular-value commented on #274
Okay, I am working on this issue.

I wrote https://github.com/singular-value/OpenFermion/commit/df496de3dc33b145bab2af5056fdeb7596b42d56, which updates `__eq__`. In order to allow allow comparisons between `PolynomialTensor`s with different keys, I needed to convert the keys to sets. This also happened to take care of the ordering-sensitivity, so I didn't end up needing to import dict from builtin

[2018-04-03 18:38] kevinsung commented on #301
Note that for the EqualsTester tests to pass you should set `__hash__` to `None` for PolynomialTensor. That's a change that should be made anyway.

[2018-04-03 19:20] kevinsung commented on #246
Well, it's really the two-body interaction that's diagonal and not the one-body interaction, so perhaps DiagonalPotentialHamiltonian or DiagonalCoulombHamiltonian or DiagonalTwoBodyHamiltonian would be more accurate?

[2018-04-04 18:15] ncrubin opened #302 "H16_sto-3g_singlet_ring_0.7414.hdf5 does not have CC amplitudes"
It seems like the H16 ring on the cloud library does not contain singles amplitudes as advertised.

The following code prints `None` assuming the file 'H16_sto-3g_singlet_ring_0.7414.hdf5' is in the directory.
[code]
Which I think should load the amplitudes from the hdf5 file if the property `ccsd_single_amps` is `None`.

[2018-04-04 18:19] babbush commented on #302
Glad to hear somebody is using the cloud library! Yeah if this works for the H15 ring but not the H16 ring I'd say that there is a problem. Want to help fix it?

[2018-04-04 18:39] ncrubin commented on #302
I'd also guess CC calc didn't converge.  The `ccsd_energy` property is listed as `None` for H16.  For H15 the field is filled in.

[2018-04-05 23:29] ncrubin commented on #302
Okay homework update.  Looks like FCI failed. Not the coupled-cluster calc (cc runs fast).  Restarting on another machine (with param adjustments) after I wipe off the burnt potato chip dust from my smoking laptop after that "small" fci calc.

[2018-04-06 04:45] singular-value commented on #274
@kevinsung and @idk3, quick clarification question. Did you resolve in #240 that:

- Attempting to add, subtract, and multiply `PolynomialTensor`s of differing keys should always raise a `ValueError` (instead of the current `TypeError`)
OR that
- Attempting to add, subtract, and multiply `PolynomialTensor`s of differing keys should be permissible iff the differing keys correspond to zero-arrays. I

[2018-04-06 04:50] kevinsung commented on #274
The last one (everything should always be allowed). A lack of key should be considered the presence of a zero tensor (array of all zeros).

[2018-04-07 05:38] #274 closed

[2018-04-07 06:15] singular-value commented on #301
Resolved by pull request #303

[2018-04-07 06:15] #301 closed

[2018-04-09 12:00] kevinsung commented on #246
Ok I'm going to do this now. I'm going to call it DiagonalCoulombHamiltonian for now.

[2018-04-09 15:11] babbush commented on #301
@singular-value thanks for this contribution. If you'd like to be on the OpenFermion release paper, please email me at [my github name]@google.com and I can send you the link to our overleaf.

[2018-04-09 22:14] ncrubin commented on #302
@babbush I've completed the H16 calc.  The new file has all the advertised data--FCI, MP2, HF, CISD, CCSD and all integrals.  I've looked over the instructions on how to upload the file and it seems like I need an OpenFermion admin to send me a signed URL to the cloud library staging area.  Given that there is no change--other than correcting an existing calculation--a PR doesn't seem necessary (n

[2018-04-10 23:37] #246 closed

[2018-04-11 21:16] quid256 commented on #122
Hi, I'm Chris, and I'd like to start getting involved with OpenFermion.

Has this issue been resolved? It seems as though `SymbolicOperator` already has a `__str__` implementation defined which gives a human-readable string representation of the operator?

[2018-04-11 21:25] kevinsung commented on #122
This issue is not resolved yet. Yes, this should use the `__str__` method of `SymbolicOperator`. So the main thing here is to figure out a nice way to support saving to multiple file types (this will add support to plain text files). One possibility is to have the file type detected via the file name extension.

[2018-04-12 15:14] babbush commented on #122
@jarrodmcc always seems to have opinions about how things should be saved. Any thoughts Jarrod? Chris, we should discuss the solution here ideally before you make your PR.

[2018-04-12 17:07] kevinsung opened #309 "Take advantage of spin symmetry in Slater determinant preparation"
Certain quadratic Hamiltonians become block-diagonal if the fermionic modes are ordered so that spin-up modes come before spin-down modes. In this case the circuit depth for preparing Slater determinants and diagonalizing a quadratic Hamiltonian can be reduced by a factor of 2 by noting that Givens rotations only need to be performed between modes with the same spin and doing the two spin sectors

[2018-04-13 18:04] babbush commented on #302
@ncrubin I believe that @Spaceenter sent you the link a couple days ago. Did everything work okay?

[2018-04-13 18:33] ncrubin commented on #302
Uploaded the file.  Did it make it?

[2018-04-13 19:17] jarrodmcc commented on #122
One key question is why we wanted to human readable format to begin with, and do we really have applications of reading in such a file rather than just outputting one?  Knowing this helps determine what we really want to do here.

Something like JSON has massive overhead and not what I would call exceptional readability.  Other ASCII formats are more readable, but probably require special parsers.

[2018-04-13 20:45] quid256 commented on #122
I'm not really sure about the context in which @kevinsung proposed this feature, but my understanding is that a human-readable storage format might be useful in interfacing with other applications or for inspecting simpler operators manually.

I can't speak to what kind of overhead might be incurred by using JSON in these situations, but do you think that the following example is readable enough?

[2018-04-13 22:05] kevinsung commented on #122
I actually just wanted to be able to save and load using the `__str__` method. I was intending to use this only for small operators which I sometimes want revisit and inspect visually. I think simply adding an option to save and load to a text file using the `__str__` method is a good solution.

[2018-04-14 01:24] babbush commented on #122
Currently we have no mechanism for saving and loading FermionOperators and QubitOperators, right? I think the idea was literally just to have a function for saving and loading to/from a text file that is a dump of what comes out when you call  'repr(my_op)'.

[2018-04-14 01:53] kevinsung commented on #122
We currently have the functions `save_operator` and `load_operator` in `utils/_operator_utils.py`. Yes, I was envisioning simply adding an option to these which allows using whatever is returned by `str(operator)`. It seems that's also what @jarrodmcc was suggesting, so I think we can go ahead with that, @quid256 , if you like.

[2018-04-14 20:41] babbush commented on #302
Yep, it seems to be working now. Closing issue. Thanks Nick!

[2018-04-14 20:41] #302 closed

[2018-04-16 01:52] babbush commented on #119
At this point a lot of papers are using OpenFermion. I'm not sure if we still need this open.

[2018-04-16 01:52] #119 closed

[2018-04-20 18:44] jarrodmcc commented on #213
This was fixed in #313 .  The most logical way turned out to be defining the external potential in a symmetrized form in the dual basis that mimics what happens on an odd grid, and defining the external potential in the plane wave form through the FT of this definition.  This lets us keep all the properties we most care about (diagonal form while being hermitian on both even and odd grids) while i

[2018-04-20 18:44] #213 closed

[2018-04-20 19:55] babbush commented on #293
I just realized that I already had this issue open in #222. Whoops.

[2018-04-20 19:56] #293 closed

[2018-04-23 20:02] quid256 commented on #122
@kevinsung is this issue closed now?

[2018-04-25 23:02] kevinsung opened #316 "Jellium model generation"
I asked @idk3 about generating Jellium models and he pointed me to the function `dual_basis_jellium_hamiltonian` in `utils/_low_depth_trotter_error.py`. Doesn't this belong in `hamiltonians/_jellium.py`?

[2018-04-25 23:12] babbush commented on #316
Absolutely. I have no idea how that got there. It must have been moved by @jarrodmcc recent pull request. Jarrod was there some reason we should be aware of, or some reason we might want to not use that function or something to generate jellium models?

[2018-04-26 00:56] kevinsung commented on #316
Actually, @idk3 told me he put it there. @idk3 would you mind moving it to the right place? I think it might need a new name and a better docstring too.

[2018-04-26 01:04] babbush commented on #316
so I don't know what kind of tricks @idk3 is up to but I really don't think that should be there. @kevinsung there is also code in the right place, in `hamiltonians/_jellium.py` with the name `dual_basis_jellium_model` and that is almost certainly the function I would trust and recommend you to use.

[2018-04-26 01:28] idk3 commented on #316
Indeed - the first time I tried to add this, @babbush told me to "get rid of this function, it is redundant with the normal jellium_model code." The problem is that it's a 20-line function that you need every time you want the dual basis jellium Hamiltonian. IMO it reflects a more general restructuring that we might want to think about with `jellium_model` - the problem is the dependence of `jelli

[2018-04-26 04:41] babbush commented on #316
@idk3 I disagree with the premise of this function, but whether it should exist is fair to debate. However, having this function hidden in your Trotter error code is unacceptable. You know it doesn't belong there! Please move it immediately.

[2018-04-26 04:51] idk3 opened #319 "PEP8 vs Pylint"
@kevinsung pointed out some complaints raised by Pylint with my style changes in https://github.com/quantumlib/OpenFermion/pull/317 (lines with no assignment intended to raise errors). It might make sense to switch things over completely to Pylint instead of PEP8 - it has other features that might be helpful as well. Thoughts / objections?

[2018-04-26 05:02] babbush commented on #319
interested to hear thoughts from @Strilanc

[2018-04-26 05:43] idk3 commented on #316
As long as it stays in! ;) https://github.com/quantumlib/OpenFermion/pull/320 addresses this.

[2018-04-26 14:10] kevinsung commented on #319
I think it would be good to have pylint run as part of continuous integration.

[2018-04-26 16:04] babbush commented on #319
If you can setup pylint to run automatically as part of continuous integration then definitely do it. @Strilanc might have some idea how to do that. I would love this.

[2018-04-26 16:57] #316 closed

[2018-04-30 17:17] kevinsung opened #322 "Construct CSC matrix directly when creating sparse matrices"
While investigating the memory usage of some code that numerically calculates a ground state, e.g.
[code]
I was surprised to find that the part of the code that uses the most memory is not the eigenvalue computation itself but the call to the function `get_sparse_operator`. By adding some print statements, I found that the line
[code]
in `utils/_jordan_wigner_sparse.py` causes memory usage to more

[2018-04-30 17:57] jarrodmcc commented on #322
My personal feeling on this is that if someone is going to dedicate time to
writing the routine that directly constructs a particular sparse matrix
form for QubitOperators, that time would be better spent writing the
routine that performs the action of a qubit operator on a state vector
without constructing a matrix representation of the operator.  We've
desired that functionality for a while and

[2018-04-30 18:06] kevinsung commented on #322
You're suggesting that we should implement something like `get_linear_operator` which returns a Scipy LinearOperator object? I think that's a good idea and would certainly satisfy my use case.

[2018-04-30 18:13] jarrodmcc commented on #322
Yes exactly.  The basic functionality should operator exactly like SciPy
LinearOperator objects, and should conform to that standard so we can use
it with SciPy sparse diagonalization and exponentiation routines, but
perhaps doesn't need to be only that, i.e. can act without the need for
SciPy machinery as well.  This type of thing can be used as basic circuit
simulator functionality for testing w

[2018-04-30 18:14] idk3 commented on #322
If it's useful, I wrote some code a while back related to this issue that gets the `LinearOperator` (with matrix-vector multiplication defined for it). My code does something a bit different / more basic than what we should really do - it offloads memory from the usual storage to disk, but it might still be useful or at least a useful starting point.

[2018-04-30 18:30] kevinsung opened #324 "Implement matrix-vector multiplication interface for QubitOperator"
As discussed at #322 , it would be very desirable to be able to compute the action of a QubitOperator on a vector represented by a numpy array without instantiating a Scipy sparse matrix instance. There are several ways one could implement this; I propose that we simply have a function `get_linear_operator` which takes as input a QubitOperator and outputs an instance of LinearOperator (see https:/

[2018-04-30 18:31] kevinsung commented on #322
Closing this in favor of #324 .

[2018-05-01 00:34] kevinsung opened #326 "Refactor jellium model generation method"
The module `_jellium.py` contains a method `standardized_dual_basis_hamiltonian` which provides a different interface for generating jellium models from that provided by the method `jellium_model`. As discussed at #320, this method needs a better name to reflect what it actually does. I actually have doubts about whether it should exist at all. It seems to me that the purpose of this function is t

[2018-05-01 01:39] idk3 commented on #326
Yeah, after thinking about it more, I think the "standardized" function I had is only really natural for a cube / hypercube. The problem is that you *do* (maybe?) need the `Grid`, i.e. maybe there are cases where you might want a 2x4 Grid or something (though I'm not sure how relevant or interesting they are).

The thing I really strongly agree with from your comment is that the Wigner-Seitz radiu

[2018-05-01 02:42] kevinsung commented on #326
To be clear, I'm not proposing we change the standard jellium model generation method `jellium_model`, but only the recently introduced method of @idk3 's. At the minimum, it should be given a reasonable name that reflects what it actually does. Ideally, in my opinion, it should simply output a Grid for use with the standard generation method `jellium_model`. I think that would be something people

[2018-05-01 13:32] idk3 commented on #326
I agree we should be careful about changing how things are "meant" to be accessed. Separating the grid functionality is fair and pretty minimal - https://github.com/quantumlib/OpenFermion/pull/328 addresses this. I still think it would be better to ignore Grid outright and try to make it a class that the user doesn't have to care about - we can do this without breaking any code - but at least this

[2018-05-01 14:54] kevinsung opened #329 "Consistently use numpy arrays instead of sparse matrices for states"
@jarrodmcc has brought up something similar before, the main point being that using sparse matrices incurs a performance penalty and generally doesn't save space anyway because states will be dense. I also think this would be good because numpy and scipy always return numpy arrays for eigenvectors, so we wouldn't have to convert between datatypes to compare them.

I'm proposing that functions like

[2018-05-01 15:03] kevinsung commented on #329
I just realized that `get_ground_state` already returns a Numpy array, so this would simply be making this behavior consistent.

[2018-05-01 18:32] jarrodmcc commented on #329
I support this change

On Tue, May 1, 2018 at 8:03 AM, Kevin J. Sung <notifications@github.com>
wrote:

[2018-05-01 18:35] babbush commented on #329
I do too then. Go for it.

[2018-05-01 18:52] kevinsung commented on #326
Closed in #328 .

[2018-05-01 18:52] #326 closed

[2018-05-04 13:08] michaelkaicher opened #333 "error when using "get_ground_state()""
Hi all,
I constructed a Hamiltonian using FermionOperator following the "_hubbard.py" file, but for a different physical system. After turning this Hamiltonian into a sparse operator via "sparse = get_sparse_operator(Hamiltonian)" - which works fine - I tried to get the ground state using "get_ground_state(sparse)" I get the following error:

Segmentation fault (core dumped)

Any ideas how to fix

[2018-05-04 16:32] babbush commented on #333
that seems like a problem with scipy. Perhaps try updating your scipy distribution? What version are you using?

Another thing to check is whether your Hamiltonian is actually Hermitian. Since the Lanczos algorithm expects a Hermitian matrix it can get pretty messed up if you pass it something else. There is some function somewhere in OpenFermion called "is_hermitian()" or something like that.

[2018-05-04 18:48] michaelkaicher commented on #333
I'm using scipy version 1.0.1 and did already check whether my Hamiltonian is hertian via "is_hermitian()"- it is Hermitian. Updated latest numpy and scipy, still same error message as before.

[2018-05-04 18:51] babbush commented on #333
hmm. Do you know if your Hamiltonian is degenerate? How many qubits is it? I suspect that this is a bug in the scipy lanczos routine. I would suspect this even more if the calculation succeeds for a smaller number of qubits.

[2018-05-04 19:13] michaelkaicher commented on #333
basically for any number. I tried 5, 6 and 10 qubits

[2018-05-04 19:16] babbush commented on #333
Sometimes Lanczos has problems when the system is degenerate. Can you do a dense diagonalization and see if that is the case?

[2018-05-04 19:18] babbush commented on #333
Also, perhaps you can try seeding the get_ground_state function with a random vector as the guess?

[2018-05-07 19:09] kevinsung opened #334 "Write routine to produce transformation matrix for Hartree-Fock state"
A single-particle basis change matrix can easily be produced from a QuadraticHamiltonian instance by calling the method `diagonalizing_bogoliubov_transform`. It's not clear to me, however, how one could easily produce the necessary basis change matrix to describe a Hartree-Fock state. @babbush had some pointers on this:

[2018-05-07 19:18] jarrodmcc commented on #334
After previous discussions we had, I realized I was actually ignoring the somewhat obvious solution to this problem, which is that PySCF, unlike other electronic structure codes, makes it very easy to install custom Hamiltonians and ask for solutions under various methods.  We actually only need to add one interface routine to our PySCF plugin that follows the example here:

http://sunqm.github.io

[2018-05-08 02:46] Manjunathsai7 commented on #175
pip3 uninstall h5py
pip3 install h5py==2.8.0rc1
this can fix problems . hope it will help you.

[2018-05-08 17:36] babbush commented on #333
Michael, I am going to close this issue for now since I do not believe the problem has to do with OpenFermion. If you wish to discuss further please feel free to reopen.

[2018-05-08 17:36] #333 closed

[2018-05-10 01:39] kevinsung commented on #322
I still need the sparse matrix in order to calculate expectation values of states, for instance from the output of a simulator.

[2018-05-10 01:51] babbush commented on #324
Note that @Spaceenter (Wei) and another Google 20%er (Sheila) whose GitHub name I don't know yet, are interested in working on this.

[2018-05-10 13:11] kevinsung commented on #322
Actually, #324 can also be used to calculate expectations.

[2018-05-11 01:40] Spaceenter commented on #324
Shela's github name is sheilaliuxl -- @babbush Could you add her as collaborator?

[2018-05-11 01:41] babbush commented on #324
Done

[2018-05-17 00:37] kevinsung commented on #322
Okay, I still need to get the sparse matrix if I want to compute the ground state within a particular particle number manifold by using jw_get_ground_states_by_particle_number. Can anyone think of a way to do this with a LinearOperator (or any other way that doesn't require computing the matrix)? It's easy to restrict a sparse matrix to a particular particle number manifold, but I don't see how to

[2018-05-17 00:40] babbush commented on #322
Yes it is very simple actually. Just seed the lanczos algorithm (what scipy
is doing) using the Linear Operator with a state that is explicitly in the
correct particle number manifold and it will only give you eigenstates that
are also in that manifold.

On Wed, May 16, 2018, 17:37 Kevin J. Sung <notifications@github.com> wrote:

[2018-05-17 00:49] kevinsung commented on #322
Wow, thanks. So `jw_get_ground_states_by_particle_number` should really be doing that then, since it is much more efficient than explicitly getting the restricted matrix, right?

[2018-05-17 00:49] #322 closed

[2018-05-17 00:56] babbush commented on #322
Yes

On Wed, May 16, 2018, 17:49 Kevin J. Sung <notifications@github.com> wrote:

[2018-05-17 16:16] babbush opened #337 "Travis failing"
It looks like Travis is failing on the two open pull requests for reasons that are totally unrelated to those pull requests. I think that perhaps something in the scipy linear programming module has changed? I'm assigning this issue to those with failing open pull requests but @jarrodmcc and I are also going to try to get to the bottom of this!

[2018-05-17 17:29] kevinsung commented on #337
The problem is that just importing `scipy` does not let you access `scipy.optimize`. I fixed this in my PR. I have no idea why the tests passed up til now though. Seems like some weird import behavior in scipy that was fixed in the latest version.

[2018-05-17 18:29] sheilaliuxl commented on #337
Also "dim = 6 * 5 / 2" is a float, not able to be used for shape = (dim, dim).
With Kevin's change and this one, it's able to pass all tests now.

[2018-05-17 18:30] #337 closed

[2018-05-17 18:37] #324 closed

[2018-05-17 22:32] #329 closed

[2018-05-17 22:58] kevinsung opened #339 "Optimize get_linear_qubit_operator"
This is a place where speed is critical. I just wanted to record here some suggestions that came up so they're not lost:
- As mentioned at #335 , one of the loops can probably be parallelized
- We could use Cython or the Numpy C API or something like that

[2018-05-18 00:42] jarrodmcc commented on #339
Both loops can likely be parallelized, but with different strategies.  It's easier to parallelize over the sum between terms, then do a reduce operation, but that has a higher memory overhead and only speeds up QubitOperators with multiple terms.  The inner loop may actually be a bit tricky due to operations touching the same part of memory.

[2018-05-18 04:26] sheilaliuxl commented on #339
I guess the inner loop is a good candidate for Cython, while the outer one is good for multithreading.

[2018-05-18 23:57] jarrodmcc commented on #339
At some point we will want C++, Cython, or other bindings to optimize some of the routines.  The first addition of this will be the major hurdle, because we have to change the CI, build system, testing etc, but once it's there it has the potential to lower the barrier for others.  For any C++ change we make, I think the Python simulator should be left in place so that if the build fails on someone

[2018-05-23 18:13] babbush opened #346 "non-periodic plane wave Hamiltonians"
Plane waves are periodic basis functions. If one tries to use them to simulate systems of reduced periodicity (i.e. periodic in two-dimensions like graphene, one-dimension like a polymer, or zero-dimensions like a single-molecule in vacuum) then the basis introduces errors from the system interacting with a spurious periodic image that shouldn't be there. In Appendix E, Section 2 of [Phys. Rev. X

[2018-05-23 18:30] kevinsung opened #347 "Support C-ish infrastructure"
It looks like the time has come. Parts of this are being discussed at #339 but it deserves its own issue, which is: how to support optimizations in a faster language such as C, C++, or Cython? I think we could simply have Cython be a dependency, but that requires a C compiler like `gcc` to be present on the system so making it be optional might be more involved.

[2018-05-28 22:56] josh146 commented on #319
I agree with the move to Pylint, while linting with PEP8/pycodestyle, I noticed there were quite a few code issues it didn't pick up, which Pylint did. It's also pretty simple to integrate with Travis. Alternatively you can add a continuous-integration linting service like Codacy, which automates Pylint with pull requests.

[2018-06-07 17:30] obriente opened #360 "Adding Bayesian estimator for QPE"
Over the next few weeks I'll be adding some code to do Bayesian estimation for quantum phase estimation. This is part of a paper in production, along the lines of https://arxiv.org/abs/1508.00869 but with multiple qubits and experimental error.

If anyone wants to help with checking + approving code that would be much appreciated!

Cheers,

Tom.

[2018-06-07 17:35] babbush commented on #360
@jarrodmcc and I have spoken with @obriente about this and we're looking forward to the PR!

[2018-06-07 20:20] babbush commented on #339
Did @sheilaliuxl 's pull requests sufficiently close this issue?

[2018-06-07 22:18] sheilaliuxl commented on #339
@babbush Inner loop (C(ython)) is still a TODO item, while the outer loop is done in #357.

[2018-06-08 00:49] kevinsung opened #361 "Initial guess is not actually optional for Davidson algorithm"
[code]
Output:
[code]

The definition of `get_lowest_n` is
[code]
@sheilaliuxl should `initial_guess` be optional or not? If not, then it should not have a default value of `None`.

[2018-06-08 00:59] kevinsung opened #362 "Use Davidson algorithm in sparse utilities where appropriate"

[2018-06-08 01:05] kevinsung opened #363 "Davidson algorithm should allow sparse matrix input"
Currently it only works for LinearOperators, but it should also work for sparse matrices, right?

[2018-06-08 04:37] sheilaliuxl commented on #363
Absolutely, mostly within 20 iterations for dimension at the order of 10^6 or even higher.

Actually it works for not only sparse matrices, but also for more general matrices when they're diagonal dominant, so that the approximation (H - \lambda I)^{-1} \approx (D_H - \lambda I)^{-1} is valid.

-- Seems no easy way to insert equations in discussion :(

[2018-06-08 06:14] sheilaliuxl commented on #363
Davidson's key inputs are:
1. linear operator (scipy.sparse.linalg.LinearOperator);
2. linear operator's exact diagonal elements (without calculating the whole matrix of course);

With a sparse matrix as the starting point, I'd suggest converting it to a LinearOperator as well, just as the QubitOperator case, and then they can share the same underlying Davidson Algo implementation, which had bette

[2018-06-09 20:39] sheilaliuxl commented on #347
I have been doing some research on this, and here is a brief summary.
Cython is a superset of of Python, and its source code needs to go through 2 stages of compilation:
1. Compile Cython source code into platform independent C/ C++;
2. Compile generated C/ C++ source into a shared library with a standard C/ C++ compiler;

The standard approach for those 2 stages is:
1. `cythonize` from Cython;
2.

[2018-06-11 07:07] aragilar commented on #175
@kevinsung The 2.8 release is now on PyPI, so you should be able to close this now.

[2018-06-11 16:57] kevinsung commented on #175
Great!

[2018-06-12 19:12] #361 closed

[2018-06-12 19:52] #339 closed

[2018-06-13 19:30] #363 closed

[2018-06-13 19:38] babbush commented on #175
I'm reopening because I still incur the error message on a fresh install of OpenFermion. I think we may need to bump the version requirement in requirements.txt for h5py.

[2018-06-13 20:36] #175 closed

[2018-06-19 18:48] babbush commented on #319
I recently linted and noted about 150 violations throughout OpenFermion. I now consider this very high priority.

[2018-07-03 00:30] babbush opened #382 "Proper Coulomb operators in two-dimensions"
Our library currently contains code to generate molecular electronic structure Hamiltonians in 2D in the plane wave and dual bases. Such Hamiltonians are interesting in some contexts, for instance jellium in 2D is a canonical setting in which to study the fractional quantum Hall effect. These Hamiltonians are also useful for small scale experiments.

However, the way that we currently generate the

[2018-07-03 01:33] sunqm commented on #382
James has implemented the analytical Fourier transform for 2D Coulomb kernel. The implementation is here https://github.com/sunqm/pyscf/blob/master/pyscf/pbc/gto/cell.py#L816

[2018-07-05 13:34] irfankhan10 opened #385 "Can't build openfermion image using dockerfile using docker toolbox on windows 10 Home"
If I run openfermion build command on the unedited dockerfile (ubuntu version not specified), I get the error:
"Package 'ipython-notebook has no installation candidate" (error code: 100)

If run openfermion build command on an edited dockerfile (ubuntu 16:04 version specified), I get the error:
"Cannot uninstall 'ipython'. It is a distutils installed project and thus we cannot accurately determine

[2018-07-07 17:20] sheilaliuxl commented on #382
I can probably investigate with limited context though.

[2018-07-12 09:46] michaelkaicher opened #392 "does code of a 'simple' implementation of VQE already exist in OpenFermion?"
Hi all,

besides the "_unitary_cc.py" file, I was wondering whether there is already code, which takes as input a reference state \rho_{init} = |\Psi_{ref}><\Psi_{ref}| as well as the Hamiltonian, the number of electrons and the number of spin-orbitals/qubits and then performs a VQE type optimization, outputting the optimized approximate ground state as well as the corresponding energy?

Sry, if t

[2018-07-12 21:45] babbush commented on #392
Functionality for simulating VQE circuits fits within the scope of plugin libraries that combine with circuit composition frameworks (an example would be OpenFermion-ProjectQ or OpenFermion-Forest but those have limited functionality). In fact, the Google team will be launching a new plugin that does have the functionality you ask for very, very soon. We'll be sure to make this plugin visible from

[2018-07-12 21:45] #392 closed

[2018-07-13 02:56] babbush commented on #334
Hi Kevin. Even if @jarrodmcc review it previously, I am very worried about this design decision. First of all, we would normally like to think about the state preparation as adjustable and part of the variational algorithm. Second of all, if you have something called variational anstatz, which is actually a terrible variational ansatz by itself, people are going to use it improperly and get themse

[2018-07-14 06:53] babbush commented on #153
We are working on this in another library to be released soon. OpenFermion is not really the appropriate place.

[2018-07-14 06:53] #153 closed

[2018-07-14 06:53] babbush commented on #151
This was closed in #352

[2018-07-14 06:53] #151 closed

[2018-07-15 03:43] babbush opened #395 "Givens rotation stuff should not be in ops"
In OpenFermion, "ops" has been the place we keep data structures. This is somewhat strange actually, but it is a closely followed policy so far with the exception of the Givens rotation code. I think it came from "ops = operators" which is a bit unusual, I know.

As we put more and more helper functions into OpenFermion for compiling circuits in plugins, I wonder if we should consider reorganizing

[2018-07-15 09:51] Strilanc opened #396 "SymbolicOperator.__init__ fails when given a unicode string"
The type check only allows `str`, not both `unicode` and `str`. Anyone using `from __future__ import unicode_literals` as part of being ready for python 3 will have a hard time initializing the operator.

[code]

[2018-07-15 09:59] Strilanc commented on #396
It looks like the way to fix this [is with the libary sixes](https://stackoverflow.com/a/11301392/52239):

[code]

[2018-07-15 21:10] kevinsung commented on #395
The reason it's in `ops` is that `QuadraticHamiltonian` depends on it. The bigger problem is that we have data structures that use stuff that belong in a different module (I'd argure that `general_basis_change` in `_polynomial_tensor.py` also belongs in a separate module) but the only other place we have to put that stuff is in `utils`, which depends on `ops`. So I agree that we should have a modu

[2018-07-28 17:56] kevinsung opened #406 "Create linalg module"
With Givens rotations, general basis change, commutators, BCH expansion.

This would be a breaking change.

[2018-07-28 17:57] kevinsung opened #407 "Remove some QuadraticHamiltonian methods"
I don't think QuadraticHamiltonian should depend on Givens rotations. I think the only essential method is `diagonalizing_bogoliubov_transform`.

This would be a breaking change.

[2018-07-28 17:58] kevinsung opened #408 "Move conversion.py out of transforms/"
It doesn't belong there; it's the only thing that's not about fermionic transforms.

This would be a breaking change.

[2018-07-28 17:59] kevinsung opened #409 "Create testing module"
With EqualsTester and the random object generation utilities.

[2018-07-28 18:03] kevinsung opened #410 "Split sparse_tools.py into multiple files"
I think there could be three files: one about states (`get_ground_state`, `jw_configuration_state`, etc.) one about operations (`expectation`, `variance`, etc.), and one about restricting to subspaces (`jw_get_number_indices`, etc.). Perhaps it deserves its own folder.

This would be a breaking change if we move it into a separate module.

[2018-07-28 18:05] kevinsung opened #411 "Remove "jw" prefix from functions in sparse_tools.py"
I think we should just assume the JWT is used. If we eventually support other options, this should be controlled by a function argument rather than having different functions.

This would be a breaking change.

[2018-07-28 18:05] kevinsung opened #412 "Explicitly define imports in top-level __init__.py"

[2018-07-28 18:10] kevinsung opened #413 "Use numpy isclose and allclose where possible"
A lot of the code has stuff like `if abs(x) > EQ_TOLERANCE`. Is there a reason we don't do things the normal way, i.e., `if not numpy.isclose(x, 0)`? This would make the code more readable and portable.

[2018-07-28 18:18] kevinsung opened #414 "Move to pytest"
Writing tests with the `unittest` is a bit unwieldy. I'm not sure it's worth the effort to change all the tests to get rid of `unittest`, but we could do a gradual phase-out in which we rewrite AND improve tests. I think a lot of tests can be considerably simplified, for instance, by using EqualsTester and the random object generation utilities.

[2018-07-28 18:21] kevinsung opened #415 "SymbolicOperator should be an abstract base class"
See https://docs.python.org/3/library/abc.html.

[2018-07-28 18:31] babbush commented on #406
This is not an acceptable name. Pretty much everything in quantum mechanics is linear algebra.

[2018-07-28 18:31] babbush commented on #407
That is fine

[2018-07-28 18:31] babbush commented on #408
I think its fine there. Its code for transforming between data structures.

[2018-07-28 18:33] babbush commented on #411
No, I veto this suggestion. We shouldn't rename things completely on a whim, and this is not a good reason.