[2018-07-28 18:33] #411 closed

[2018-07-28 18:33] babbush commented on #411
I think its important that people know we're using JW to get the sparse representation.

[2018-07-28 18:34] babbush commented on #414
that's fine. I think we actually have (or had) an issue open about this somewhere?

[2018-07-28 18:34] babbush commented on #415
why?

[2018-07-28 18:35] babbush commented on #410
Hmm. I don't think this is very high priority but it would probably make sense when we eventually reorganize modules.

[2018-07-28 18:52] kevinsung commented on #415
- Requiring subclasses to explicitly specify the actions, their string representations, and whether different indices commute prevents mistakes. For instance, with the current setup one might define a class and forget to say that the different indices _do_ commute; then the class would be incorrectly defined.
- Conceptually, a SymbolicOperator with no defined actions doesn't really make sense. Yet

[2018-07-28 19:01] kevinsung opened #416 "Set up pylint as part of continuous integration"
This was agreed upon at #319 . We should use the same configuration as Cirq.

[2018-07-28 19:02] kevinsung commented on #319
Looks like we've decided on a plan. Closing in favor of #416 .

[2018-07-28 19:02] #319 closed

[2018-07-29 05:14] kevinsung opened #417 "Rename haar_random_vector to random_vector"
This function is useful in many situations where you don't really care about the particular distribution the vector is drawn from. In many use cases, the user who wants to generate random vectors might not even know what the Haar measure is. So I think it's nicer to just call the function `random_vector` and have in the documentation that it's drawn according to the Haar measure. @babbush

[2018-07-29 18:06] babbush commented on #417
Kevin, I'm really against these minor name change issues. The library is not improved in any real sense by doing this but it is one more thing that could break people's code. Besides, I disagree that we should call it "random" vector. What does that mean? Is it it random with a flat distribution, with a Gaussian distribution? Is it real, complex? Etc.

[2018-07-29 18:06] #417 closed

[2018-07-29 18:07] babbush commented on #415
ok, sounds good.

[2018-07-31 00:01] kevinsung opened #419 "rotate_basis should be a pure function"
The PolynomialTensor method `rotate_basis` changes the PolynomialTensor object in place. This behavior is inconsistent with our general approach (for example, in `_operator_utils.py`) to have functions that create a new operator as output. Often, one really does want to keep the original operator around. @jarrodmcc @babbush

[2018-07-31 00:04] kevinsung opened #420 "Move to pytest-cov"
The incremental coverage scripts used by Cirq and OpenFermion-Cirq are nice because you can use comments to indicate that certain lines don't need to be covered. I think we should move to that system and stop using coveralls. In the past we have had to override the coveralls status check many times.

[2018-07-31 05:14] babbush commented on #419
I think the reason its like this is because we've only implemented basis rotations for certain 1- and 2-body types of operators. For instance, we haven't written code to do it for 3-body operators or higher.

[2018-07-31 05:15] babbush commented on #420
That's fine. I feel like this is a bit redundant with #414. Also, I would deem all of this very low priority.

[2018-07-31 05:38] kevinsung commented on #419
I believe we did that in https://github.com/quantumlib/OpenFermion/pull/117.

[2018-07-31 05:40] babbush commented on #419
Oh I guess so. Well in that case I support this change but we need to be careful to propagate the change to all dependancies since I believe that changing this will break OpenFermion-Psi4 and OpenFermion-PySCF. Let's not make this change until a big version bump (perhaps to v1.0) is imminent.

[2018-07-31 19:06] bryano commented on #414
I think we can just start using pytest without changing the code: https://docs.pytest.org/en/latest/unittest.html

[2018-08-01 16:30] babbush commented on #385
@irfankhan10 sorry we never responded to this - it has been a very busy period for us developers as a consequence of releasing OpenFermion-Cirq a couple weeks back. Did you actually find a solution to this problem or does it still persist? If you did find a solution would you mind sharing so that others who encounter the issue might benefit?

[2018-08-02 08:47] irfankhan10 commented on #385
Hi,

I don't have a solution yet, but I have an idea that I will try tonight.

On Wed, Aug 1, 2018 at 5:30 PM, Ryan Babbush <notifications@github.com>
wrote:

[2018-08-02 18:30] #415 closed

[2018-08-07 22:48] kevinsung commented on #382
I'm interested in this as well. The functions for generating the Hamiltonians (in `hamiltonians/_jellium.py` and `hamiltonians/_plane_wave_hamiltonian.py`) take as part of their input a Grid object, which can have any number of dimensions. Apparently they only give correct results when the Grid is three-dimensional, and the task here is to also have them give correct results when the Grid is two-d

[2018-08-07 23:03] babbush commented on #382
@sunqm what you reference here might be exactly what we want. Are you aware of on any write up which derives this? It might just be more straightforward to parse that way.

To everyone, I guess all that is required here is to solve Poisson's equation in 2D dimensions, obtain the Fourier transform of that (which I guess James has in that code) and then perform the integrals over the 2D plane wave b

[2018-08-08 06:50] sunqm commented on #382
PRB, 73, 205119  documented the 0D, 1D and 2D truncated Coulomb.  I didn't
carefully whether they are commonly used in other packages. I think James'
implementation of 2D case is the same to the equation in this paper.

On Tue, Aug 07, 2018 at 04:04:00PM -0700, Ryan Babbush wrote:

--
Dr. Qiming Sun
Division of Chemistry and Chemical Engineering
California Institute of Technology

[2018-08-08 17:43] babbush commented on #382
Thanks Qiming. I found a PDF of that PRB [here](https://pdfs.semanticscholar.org/2cd3/2a47724f7099cf7451c7a6be42076f316d5f.pdf). It seems, however, that this work is discussing the Coulomb operator in 3D where it is only periodic in 0D, 1D or 2D. But what we're actually interested in here is not a 3D system with reduced periodicity, but rather a system that is intristically 2D. For instance, if we

[2018-08-09 17:31] kevinsung commented on #382
But 1/|r| is a solution to Poisson's equation for a point charge, even in 2D, right?

[2018-08-09 17:51] kevinsung commented on #382
Based on in-person discussions, if you start with Gauss's law for 2-d (not sure how that is physically motivated), you get a potential that's ln(|r|) instead of 1/|r| (because you integrate around a circle instead of a sphere so you get something proportional to r instead of r^2). [These notes](http://www.maths.manchester.ac.uk/~wparnell/MT34032_2013/greens_notes_online_SECTION3a.pdf) contain pote

[2018-08-09 21:35] babbush commented on #382
https://physics.stackexchange.com/questions/28565/coulomb-potential-in-2d
seems a little bit helpful. Note that its not just the electron-electron operator we're interested in, but also the external potential. The operators in the plane wave basis will come out looking quite similar but will have a different kernel. That is, instead of the term
\sum_{kpq} 1/k^2 a^\dagger_{p+k} a^\dagger_{q-k} a_p

[2018-08-09 21:42] kevinsung commented on #406
Cirq has a module called linalg which serves a very similar purpose.

[2018-08-10 04:16] sunqm commented on #382
James referred to another paper, PRB, 87, 165122 in our code.  Some equations
were documented in the appendix of that paper.  I didn't check how they were
derived. This is just the 2D problem with 3D interactions.  If solving Poisson's
equation in 2D, it will be the true 2D system with 2D interactions.  This is
actually beyond the capability of our code.

Although not available right now, I think

[2018-08-10 23:48] kevinsung opened #427 "Basis change matrices from spatial low rank are not unitary"
Tested this with LiH. Are they supposed to be unitary?
[code]
Output:
[code]

[2018-08-10 23:50] babbush commented on #427
No, in general they are not unitary. This occurs when there is a degeneracy in spectrum of the ERI matrix. This isn't exactly an error. But in general we do need to implement functionality to more carefully handle this situation.

[2018-08-13 22:14] kevinsung opened #428 "Make constructors and attributes of InteractionOperator and DiagonalCoulombHamiltonian more similar"
These two classes are quite similar so it would be nice to have them use the same attribute names and constructors. This would make it possible to write code that can simultaneously handle both kinds of operators. Also, why do I _have_ to specify the constant for InteractionOperator when I usually don't care what it is?

I want to change the constructor of InteractionOperator from
[code]
to
[code]

[2018-08-13 22:43] babbush commented on #428
I think that this isn't a particularly good reason to make a breaking change and that to the extent it is, it is extremely low priority.

[2018-08-14 01:15] kevinsung opened #430 "Purge non-spatial low rank code"
@babbush can you think of a reason to keep it around? It's kind of a burden to maintain.

[2018-08-14 02:54] babbush commented on #430
No, there is no reason to keep it around.

[2018-08-14 03:12] kevinsung opened #431 "Tests raise warnings"
On my setup:
[code]

[2018-08-14 06:03] babbush commented on #431
@sheilaliuxl this seems to originate from the Davidson code. Any ideas what is going on there?

[2018-08-14 18:49] #427 closed

[2018-08-15 19:34] sheilaliuxl commented on #431
@babbush Yes, that's intentional actually.
1. Warns users of not that good usage;
2. Makes sure tests cover this part of script.

What's your suggestion, 1) changing to logging.info, 2) remove completely?

[2018-08-15 19:36] kevinsung commented on #431
You can test that warnings are properly caught. An example from `ops/_symbolic_operator_test.py`:
[code]

[2018-08-16 15:10] michaelkaicher opened #435 "How do I know if two FermionOperator terms are identical?"
Hi all,

given two FermionOperators, e.g. term1 = 1 [0^ 0 1^ 1] and term2 = 1 [1^ 1 0^ 0], can OpenFermion tell me if they are identical? If I use the SymbolicOpertor __eq__-method  term1 == term2, I get "False" as an output, probably because it does not first write term1 and term2 in an ordering of for instance normal-ordering+lowest-to-highest indices, where both operators would read term1 = -1

[2018-08-16 15:14] babbush commented on #435
As a convention we never automatically normal order and always require that the user does that explicitly, because its very costly. So just use
normal_ordered(term_1) == normal_ordered(term_2).
But be warned that equality testing is never completely safe when we're dealing with floats. So a more robust thing to do would be
difference_operator = normal_ordered(term_1 - term_2)
bool(difference_opera

[2018-08-16 15:14] #435 closed

[2018-08-21 21:06] babbush opened #438 "Simulator should run in double precision"
I'm running some simulations now that involve simulating feedback. I need to do this in a hacky way that involves running a circuit which involves a measurement, getting the output state, and reinitializing the system register again and continuing. If I do enough iterations I eventually get the error "ValueError: State is not normalized instead had norm 1.0000141". This is definitely due to the si

[2018-08-21 21:07] babbush commented on #438
Oh my, this was meant for another open source project. Issue closed!

[2018-08-21 21:07] #438 closed

[2018-09-01 02:39] kevinsung commented on #430
Closed in #434

[2018-09-01 02:39] #430 closed

[2018-09-05 01:56] kevinsung commented on #385
@irfankhan10 Can you try again with the latest dockerfile? It was updated recently in #441.

[2018-09-05 13:45] kevinsung opened #444 "get_interaction_operator should raise an error when the given operator is not Hermitian"
This would improve the type safety of InteractionOperator. `get_quadratic_hamiltonian` and `get_diagonal_coulomb_hamiltonian` already do this.

[2018-09-05 19:44] kevinsung opened #445 "Slow tests in transforms/_remove_symmetry_qubits_test.py"
They take about 42 seconds to run.

[2018-09-06 00:00] kevinsung opened #446 "QubitOperator('X0 X0') should simplify to the identity"
Instead, it prints out to
[code]

[2018-09-06 00:04] kevinsung commented on #446
There's a similar thing with FermionOperator, which is that `FermionOperator('0^ 0^')` does not simplify to zero. However, we have `normal_ordered` to simplify FermionOperators, while there is no analogous function for QubitOperators. But since simplifying QubitOperators is cheap (and normal-ordering is expensive), I think it makes sense to deal with this kind of stuff upon initialization.

[2018-09-08 01:15] kevinsung opened #448 "Applying bravyi_kitaev to a QubitOperator should raise an error"

[2018-09-08 01:45] kevinsung commented on #448
Well the reverse BK should be a separate function, `reverse_bravyi_kitaev`. Applying `bravyi_kitaev` to a QubitOperator currently works but gives a nonsense output.

[2018-09-11 05:05] kevinsung opened #449 "In SymbolicOperator __str__, don't print terms with zero coefficient"

[2018-09-11 05:09] kevinsung opened #450 "OpenFermion pip installation requires write access to package files"
The following was reported by Burt Holzman from Fermilab, who installed OpenFermion in a docker image:

(which is installed under a root-controlled /opt/conda) to the notebook
user. I didn't look at the code, but for some reason it expects write
access in site-packages ...

This might have something to do with some code requiring access to the `src/data/` directory. We should investigate.

[2018-09-11 14:38] sammcardle30 opened #451 "UCCSD error?"
Hi all,

I've been trying to use the UCCSD ansatz generating functions, and have run into a couple of problems that I was hoping you could help me with. I've tried generating general UCCSD and singlet UCCSD operators using the functions supplied, for H2 and LiH. When I use the function uccsd_singlet_get_packed_amplitudes() I get the following error (for LiH, similar for H2):

If I instead try a ge

[2018-09-11 15:04] babbush commented on #450
This is a "problem" we've been aware of since the earliest days of development. But we haven't been able to come up with a satisfactory alternative.

[2018-09-11 18:20] kevinsung commented on #450
I guess this would be addressed by #270

[2018-09-13 15:41] kevinsung opened #453 "Replace parity=±1 flag with bosonic=True/False flag"
For instance, in `number_operator`. I think a True/False flag is much more intuitive and pythonic. @josh146  @babbush

[2018-09-13 21:49] kevinsung opened #455 "Total number operator function should be separate from number_operator"
The function `number_operator` has the very awkward property that `number_operator(n_sites, k)` gives the same operator no matter what the value of `n_sites` is. The output only depends on `k`, yet the user is required to specify `n_sites` anyway. I this should definitely be changed.

I propose to have a separate function, `total_number_operator`, that takes in `n_sites`. Then, `number_operator` w

[2018-09-13 23:25] kevinsung opened #456 "Create Hubbard model with more than 2 spins"
From discussing with Joseph Carlson, people want to study a Hubbard model where each site splits up into not only 2 spins, but more. For instance, 3 represents some quark model, 4 some nuclei maybe. We should implement these too. This would be very helpful for the nuclear physics community.

[2018-09-13 23:41] joesink opened #457 "Let SymbolicOperator coeff be sympy expressions"
It would be useful to add sympy symbolic expression compatibility to the FermionicOperator/other operators to allow for cases when the amplitude on the operators is unknown.

[2018-09-13 23:46] kevinsung opened #458 "Create class to represent Majorana operators"
The algebra of Majorana operators is simple because they either commute or anticommute. Algebraically, they are easier to manipulate than the fermionic creation and annihilation operators; the square of any single-mode Majorana operator always equals one. Any two different single-mode Majorana operators always anticommute.

[2018-09-14 20:49] babbush commented on #456
I suggest they implement this!

[2018-09-14 20:52] babbush commented on #457
This is something we've discussed in the past. Indeed, it would be very interesting and would be very useful. It would make OpenFermion a tool for deriving expressions in very general contexts.

It would be great to have more discussion of what the implementation might look like. I think we'd need to implement in such a fashion that the functionality is entirely optional. Otherwise having symbolic

[2018-09-14 22:45] kevinsung commented on #446
Also, `QubitOperator('X0 Y0')` should simplify to `i Z0`.

[2018-09-14 22:47] babbush commented on #446
I mean, if we're going to do this I guess it should be able to do arbitrary multiplication. E.g. it should know how to interpret "X0 Y1 Z3 X2 Z3 Y0", right?

[2018-09-14 22:48] kevinsung commented on #446
Yeah.

On Fri, Sep 14, 2018, 5:47 PM Ryan Babbush <notifications@github.com> wrote:

[2018-09-14 22:55] #449 closed

[2018-09-17 15:23] bryano commented on #456
I'm happy to take a stab at this. Would it be better to generalize the existing single-band Hubbard class or create a new one?

[2018-09-17 16:49] babbush commented on #456
I'm open to you doing it either way.

[2018-09-18 21:50] kevinsung opened #461 "ParallelLinearQubitOperator can't perform more than one multiplication"
I make a ParallelLinearQubitOperator and multiply the same state twice:
[code]
This gives
[code]
It works fine if I only multiply once.

The same error occurs if you try to compute the ground state, like
[code]

It appears that the Pool "shuts off" after one multiplication. @sheilaliuxl

[2018-09-24 22:04] bryano commented on #456
After rereading Kevin's initial comment, I think I may have misinterpreted what was wanted here. In #465, I implemented a Hubbard model with multiple degrees of freedom per site, but still assuming either no spin or spin 1/2. In any case, what I wrote can easily be extended to the case of larger-spin particles.

[2018-09-25 22:37] bryano commented on #456
@kevinsung Could you provide some links to the types of Hamiltonians you had in mind?

[2018-09-26 05:15] kevinsung commented on #456
I actually don't know anything about this, but I asked Joe, who said that he would provide us with some.

[2018-09-27 01:26] kevinsung opened #469 "In Fermi-Hubbard model, allow specifying different coefficients for horizontal and vertical edges"
This is sometimes useful for breaking degeneracies in the spectrum of the tunneling term.

[2018-09-27 22:13] max-radin opened #471 "Make one_body_tensor and two_body_tensor properties of InteractionOperator rather than attributes"
Sometimes InteractionOperator objects behave strangely if the `n_body_tensor` attribute is modified but the `one_body_tensor` and `two_body_tensor` fields remain unchanged, as in the example below.

Maybe instead of having `one_body_tensor` and `two_body_tensor` be attributes, they should be properties that encapsulate `n_body_tensor`?

[code]

[2018-09-27 23:16] kevinsung commented on #456
@bryano Joe provided me with these notes: [multi.pdf](https://github.com/quantumlib/OpenFermion/files/2426186/multi.pdf)

[2018-09-28 05:45] bryano commented on #456
Thanks. #465 allows those types of Hamiltonians to be expressed, with two exceptions: it's just fermionic for as is, and is limited to 1- and 2-body interactions. These are straightforward extensions.

[2018-09-28 16:57] #471 closed

[2018-10-02 06:00] #469 closed

[2018-10-02 19:51] babbush opened #477 "Test related to PubChem functionality fails stochastically"
Perhaps it is because it is pinging a website which is sometimes down? Its started to get rather annoying.

[2018-10-04 13:49] josh146 commented on #453
@kevinsung what is the status of this issue? I can make a quick pull request if it is not already waiting for a merge

[2018-10-04 17:05] kevinsung commented on #453
Please, go ahead.

[2018-10-09 20:41] max-radin opened #479 "Applying Jordan-Wigner to FermionOperator vs. InteractionOperator"
In some cases the result of a Jordan-Wigner transform applied to an InteractionOperator is different if it is converted to a FermionOperator first, as shown in the code below. It seems like `jordan_wigner_interaction_op` only gives the correct result for Hermitian operators.

[code]

[2018-10-09 20:48] kevinsung commented on #479
Indeed, `jordan_wigner_interaction_op` is only guaranteed to work for Hermitian operators and is optimized based on that assumption. Indeed, the InteractionOperator class is intended to represent only Hermitian operators, even though this is neither documented nor enforced. @babbush or @jarrodmcc can correct me if I'm wrong. I think we need to document this better; enforcement would be tricky, tho

[2018-10-12 05:51] kevinsung commented on #451
Sam, I don't have a solution, but the issue has to do with the shape of the arrays `calculated_molecule.ccsd_single_amps` and `calculated_molecule.ccsd_double_amps`. The molecule in your example, LiH at bond length 1.45, happens to be one of the pre-loaded datasets that ships with OpenFermion, so we can see what happens if we use that data:
[code]
This gives
[code]
which are the shapes expected by

[2018-10-18 01:39] viathor opened #481 "Tests flaky due to dependency on network"
We have three tests that rely on the pubchempy module for retrieving data from the PubChem db:

* ExamplesTest.test_can_run_examples_jupyter_notebooks,
* OpenFermionPubChemTest.test_helium,
* OpenFermionPubChemTest.test_water,

defined in

* src/openfermion/tests/_examples_test.py,
* src/openfermion/utils/_pubchem_test.py.

Since pubchempy makes outbound network connections, the tests sometimes fa

[2018-10-18 21:52] #446 closed

[2018-11-01 18:28] babbush commented on #477
This is really the same as issue #481 so I will close

[2018-11-01 18:28] #477 closed

[2018-11-01 18:31] babbush commented on #451
@jarrodmcc any idea what's going on here?

[2018-11-01 18:33] babbush commented on #431
@sheilaliuxl sorry for the huge delay! I would suggest taking Kevin's suggestion.

[2018-11-01 18:33] #428 closed

[2018-11-01 18:35] babbush commented on #347
I think this is not currently urgent and it would be a very large project, so I'm going to close the issue. But thank you for this research Sheila.

[2018-11-01 18:35] #347 closed

[2018-11-01 18:36] babbush commented on #409
Don't we have this already? I'm going to close.

[2018-11-01 18:36] #409 closed

[2018-11-01 18:39] babbush commented on #414
this is redundant with #420

[2018-11-01 18:39] #414 closed

[2018-11-01 18:40] babbush commented on #385
I will close for now since we've made substantial changes to the Docker.

[2018-11-01 18:40] #385 closed

[2018-11-01 18:41] #408 closed

[2018-11-01 18:46] sunqm commented on #451
Is the problem related to the spin-orbital vs spatial-orbital representation? The uccsd amplitudes returned by pyscf are based on spatial orbitals. The t1 amplitude has two components, one for spin-up, the other for spin-down.

[2018-11-02 19:50] kevinsung opened #482 "EQ_TOLERANCE is too stringent"
This is currently causing errors such as
[code]
raising
[code]

[2018-11-02 21:08] babbush commented on #482
just lower the tolerance then. It would be quicker than writing this issue!

[2018-11-13 21:26] Strilanc opened #483 "Development releases"
Currently, openfermion-cirq has to point at this github repository in order to use in-development features of openfermion during development of openfermion-cirq. This causes a bunch of problems w.r.t. packaging, since github dependencies aren't valid dependencies that can be uploaded to pypi or used by setup.py. I recently started making development releases for cirq ([scripts are here](https://gi

[2018-11-14 07:33] #483 closed

[2018-11-14 17:49] #482 closed

[2018-12-10 21:40] kevinsung opened #492 "General Fermi Hubbard model switches x and y dimensions"
I just noticed that in `hamiltonians/_general_hubbard_test.py` there is a test
[code]
as you can see in the two calls, the order of `y_dimension` and `x_dimension` is swapped. If you make them match then the test fails. @bryano do you know what's up with that?

[2018-12-10 22:03] bryano commented on #492
I used the opposite convention for linearizing the indices. The swapping in the test was intentional.

[2018-12-10 22:59] kevinsung commented on #492
Oh ... I would have given you a hard time about that if I had noticed it before. Is there a particular reason you changed the convention? I think we should be consistent.

[2018-12-10 23:37] bryano commented on #492
I thought I had a reason, but I don't what it is at this point. What do you think about having `_hubbard.py` just use `_general_hubbard.py`? The former is just a special case of the latter, but I imagine people have code depending on its interface, so we could just turn it into a wrapper around the general case.

In any case, changing the index linearization convention is just a matter of changing

[2018-12-11 02:16] kevinsung commented on #492
I'd rather keep them separate for now. I've been brewing on some more general design changes that might affect all of this.

We should change the indexing convention to match with the original function.

[2018-12-11 02:46] bryano commented on #492
I realize the reason now: my convention is consistent with `itertools.product`, in the sense that
[code]
iterates over `range(x_dimension * y_dimension)`.

Are you okay with my changing `_hubbard.py` to my convention instead of vice versa?

[2018-12-11 03:37] kevinsung commented on #492
No, please change the newer code to use the old convention. This isn't a good enough reason to break people's code over.

[2018-12-12 20:29] bryano commented on #492
#493

[2018-12-19 02:38] kevinsung commented on #492
Fixed in #493

[2018-12-19 02:38] #492 closed

[2019-01-07 16:07] kevinsung opened #499 "Improve LinearQubitOperator by porting functionality from Cirq"
Currently, we have a function `generate_linear_qubit_operator` in `utils/_linear_qubit_operator.py` which takes a QubitOperator and outputs a LinearQubitOperator or ParallelLinearQubitOperator (subclasses of scipy.sparse.linalg.LinearOperator) which can be used, for instance, in scipy.sparse eigenvalue routines. This class can be made a lot more useful by improving the implementation of `LinearQub

[2019-01-10 00:13] kevinsung opened #502 "Define conversion functions for MajoranaOperator"
After #501 is merged.

[2019-01-13 17:36] #461 closed

[2019-02-05 16:52] vincentelfving commented on #451
I ran into the same problem as @sammcardle30 (have you made any progress?), when I try to create a UCCSD ansatz for any pySCF generated MolecularData object constructed via OpenFermion-PySCF.

After digging a bit deeper, I figured out the following:

As @kevinsung correctly pointed out, the `openfermion.utils._unitary_cc.py` function `uccsd_singlet_get_packed_amplitudes` assumes as input for the s

[2019-02-07 12:25] babbush commented on #451
I believe that @sunqm may have just fixed this with [PR #42](https://github.com/quantumlib/OpenFermion-PySCF/pull/42) on OpenFermion-PySCF. Does this solve your problem?

[2019-02-07 22:59] vincentelfving commented on #451
Thanks a lot @sunqm ! there seems to be just a small typo I commented on at [PR # 42](https://github.com/quantumlib/OpenFermion-PySCF/pull/42)

With that fixed, the above problem as stated is also fixed as there are no code errors anymore, the `uccsd_singlet_get_packed_amplitudes` can now accept ccsd amplitudes generated from `run_pyscf` as they are in the right .shape.

I have opened a  [new Issu

[2019-02-08 01:46] babbush commented on #451
How do you think [PR 44](https://github.com/quantumlib/OpenFermion-PySCF/pull/44) on OpenFermion-PySCF addressed the issue?

[2019-02-09 00:04] vincentelfving commented on #451
@babbush perfect, I think both Issues can be closed:)

[2019-02-09 22:03] babbush commented on #451
Great! Thanks!

[2019-02-09 22:03] #451 closed

[2019-02-15 20:28] jason-jk-kang opened #505 "How to work with data library in Openfermion"
Hi all,

I'm trying to run a basic example in the openfermion-forest integration and I keep bumping into the error

`File "ProjectQ-test.py", line 51, in <module>
    molecule.load()
  File "/home/jasonkang/python_install_packages/OpenFermion/src/openfermion/hamiltonians/_molecular_data.py", line 647, in lo
ad
    with h5py.File("{}.hdf5".format(self.filename), "r") as f:
  File "/home/jasonkang/a

[2019-02-15 20:34] babbush commented on #505
OpenFermion comes with a few data examples pre-loaded but mostly for testing purposes (see https://github.com/quantumlib/OpenFermion/tree/master/src/openfermion/data). The molecule you specify is not one that comes preloaded. There are a few more examples you can download from the OpenFermion cloud library (https://github.com/quantumlib/OpenFermion/tree/master/cloud_library) but so far that featur

[2019-02-15 20:34] #505 closed

[2019-02-28 16:25] #458 closed

[2019-03-15 21:39] sunqm opened #508 "occupied_indices and active_indices in function get_molecular_hamiltonian"
https://github.com/quantumlib/OpenFermion/blob/6fb280c9d223522ed5ce5e90f5cd809beda7f177/src/openfermion/hamiltonians/_molecular_data.py#L790

May be helpful to check consistency between the active indices and occupied indices. Something like:
[code]

It's easy to make mistakes if one does not familiar with quantum chemistry. For example, the curve scanning below produces a wrong results, which is

[2019-03-27 13:49] lcr1103 opened #510 "In the function get_molecular_hamiltonian"
Hello! I an a graduate student majoring quantum computing and I am not familiar with basics in quantum chemistry .Here I have questions about the get_molecular_hamiltonian. I am wondering if there are some one who can help me.

Once we get the Jordan-Wigner transformed  spin-Hamiltonian the following questions will be in physical.

but what's the rules of the qubit encoding? I think it is molecula

[2019-03-27 14:10] lcr1103 commented on #508
I am not familiar with quantum chemistry
so apart from the energy, in the Hamiltonian what does every qubti stand for?
and how to decide the occupied_indices and active_indices?

[2019-03-27 15:24] vtomole commented on #510
Hi @lcr1103 , this question has more to do with how to use OpenFermion than it's implementation. Could you please copy and paste this question to the [Quantum Computing Stack Exchange](https://quantumcomputing.stackexchange.com/) with  `cirq` and `openfermion` tags?

Thank you,
Victory

[2019-03-27 16:09] #510 closed

[2019-03-27 16:10] babbush commented on #510
@lcr1103 by default we use the standard Jordan-Wigner transform. To learn more either do as vtomole suggests or checkout these nice notes by Michael Nielsen: http://michaelnielsen.org/blog/archive/notes/fermions_and_jordan_wigner.pdf

[2019-03-27 16:11] babbush commented on #508
@lcr1103 we've responded to your question in the issue you opened (#508) in the main OpenFermion repo.

[2019-03-28 01:51] lcr1103 commented on #510
@babbush thanks a lot, I will read this first and to see if I can understand

[2019-04-07 20:43] jrstryker opened #511 "Product of FermionOperator and BosonOperator"
I'm a user trying to take advantage of OpenFermion's tools for handling ladder operator algebra.  I have an application in which I have many terms that are sums of products involving one fermionic operator with one bosonic operator.  (I'm also working with boson-boson and fermion-fermion products.) The issue is that multiplication apparently isn't defined for FermionOperator with BosonOperator.

H

[2019-05-04 23:05] vincentelfving opened #515 "bug & suggestions for expectation_computational_basis_state"
I noticed an incorrect behavior, afaik, of the `utils._sparse_tools` function `expectation_computational_basis_state`.
**Shortest reproduction of such an error:**
[code]
returns 15.3 instead of 3.6 which we'd expect. The problem occurs only for the double excitations operators. The [test which was supposed to catch](https://github.com/quantumlib/OpenFermion/blob/c889780b672950800e5aa9d330c128f8abb

[2019-05-06 22:54] babbush commented on #515
Thanks for catching this Vincent. I agree with your proposed change. Rather than add the assertion, one should check to make sure it is true, and if not raise an exception that can make the problem clear to the user.

[2019-05-16 18:20] jason-jk-kang opened #517 "Initial Amplitudes for UCCSD"
Hi all,

I am trying to compute initial amplitudes to pass into a minimizing function, but I am confused how to work with the ccsd_single_amps function within the PyscfMolecularData class.

This is what I have so far:

[code]
n_amplitudes = 5 in this example so my initial amplitudes are [0.1, 0.1, 0.1, 0.1, 0.1]. Surely there must be a better way for me to initialize my amplitudes? Any and all hel

[2019-05-16 18:45] vtomole commented on #517
Hi @jason-jk-kang,

Please copy and paste this question to the [Quantum Computing Stack Exchange](https://quantumcomputing.stackexchange.com/) and we'll get to answering it.

[2019-05-20 21:55] #502 closed

[2019-05-20 23:04] kevinsung opened #520 "Implement Bravyi-Kitaev Transform for MajoranaOperator"

[2019-05-28 13:08] chMoussa opened #524 "How to freeze core orbitals with Openfermion psi4 and pySCF ?"
Hello,

I was wondering if it was possible to get core orbitals indices and freeze them for molecules. Maybe a freeze_core option ?

[2019-05-31 20:37] kevinsung commented on #524
There's `openfermion.freeze_orbitals` in utils/_operator_utils.py

[2019-06-05 14:56] bpcarlos opened #525 "Creating molecule pauli operator hamiltonians"
Hello,
I would like to have the molecule pauli operator hamiltonians of several molecules in the minimal basis, ranging aprox from 14 to 20 qubits. Once I have the geometry of the molecule (from PubChem), how can I create its pauli operator hamiltonian? Thank you!

[2019-06-05 17:11] ncrubin commented on #525
Hello @bpcarlos, please checkout the example ipython notebook for OpenFermion (https://github.com/quantumlib/OpenFermion/blob/master/examples/openfermion_tutorial.ipynb).  It walks through the basics of the library and how to do what you would like to do.

If you find the examples are not clear feel free to raise an issue for better documentation and point out where we could improve.

[2019-06-05 17:11] #525 closed

[2019-06-16 05:57] Kee-Wang commented on #451
Hi everyone, I was wondering is anyone able to get correct result dimension now? The `ccsd_single_amps` and `ccsd_double_amps` still gives me AB and AABB dimension rather than NN and NNNN dimension such that they are not able to be feed into `uccsd_generator`. (I still haven't found any solution to this problem after reading threads, or probably I missed something?)

[2019-06-19 18:54] vincentelfving commented on #451
Hi @Kee-Wang ! which `MolecularData` input object are you using? In the old formatting, the `MolecularData` was in AB and AABB dimension. In this thread there are links PR 42 and PR 44 referring to a fix in OpenFermion-PySCF (not OpenFermion itself) to generate NN and NNNN formatted CCSD amps.

I suggest you try re-making your `MolecularData` with the latest version of OpenFermion-PySCF and that s

[2019-07-09 23:38] #448 closed

[2019-07-09 23:38] #520 closed

[2019-08-21 14:57] ggd87 opened #533 "bug in uccsd_singlet_generator"
Hello,

I have been using the function uccsd_singlet_generator in utils/_unitary_cc.py and noticed that at line 308 there is the for loop

[code]

which will include values where spin_a = spin_b, hence the spin orbitals virtual_1_a = virtual_2_b, or occupied_1_a = occupied_2_b. I don't think there should be excitations in which like spins are excited to/from the same spatial orbital. This doesn't

[2019-08-21 16:33] ncrubin commented on #533
Hi Gabriel,

Thanks for pointing this out.  It is true that this is a redundancy.  Calling normal_order on the fermion operator also would have removed the terms in the generator that are automatically zero (but with extra computational cost!).  Would you like to open a PR with this fix?

[2019-08-22 15:53] ggd87 commented on #533
Hi Nicholas,

I sent a pull request for this. I will close the issue now.

Thanks again,
Gabriel

[2019-08-22 15:53] #533 closed

[2019-09-05 18:28] jacobmarks opened #536 "Import issue in Colab: comb deprecated"
when importing openfermioncirq in colab,
`from scipy.misc import comb, factorial` causes problem "cannot import name comb"

[2019-09-05 19:08] vtomole commented on #536
It's been moved to `special`

`from scipy.special import comb` works for me.

[2019-09-05 19:55] vtomole commented on #536
You are using older version of OpenFermion (0.9.0). Please reinstall OpenFermion on Colab and see that it's version is `0.10.0` and try the import again.

[2019-09-25 16:08] hrwernerer opened #539 "frozen-core in dual plane wave basis/'pseudo-potential'/valence-electrons only"
I have a question regarding the dual plane wave basis.
In my understanding I can create a Fermionic hamiltonian describing the electronic structure in a periodic material, on a discretized grid, with a combination of the Hamiltonian constructors `dual_basis_jellium_model()`  and adding `dual_basis_external_potential()` for the electron-nucleic interactions. (The latter function has a look-up table

[2019-09-25 16:47] babbush commented on #539
Indeed, if you call freeze_orbitals() on the plane wave or dual basis Hamiltonians it will just freeze the lowest energy plane wave or dual basis functions. But what you would really want to do is something like freeze the lowest energy molecular orbitals. For that you would basically need to be working in a molecular orbital basis. However you are also correct that a viable alternative to this wh

[2019-11-13 18:19] ncrubin opened #542 "Implement get_majorana"
We've had Majorana operators in OpenFermion for awhile now.  It would be great to have transformation functions from a FermionOperator to MajoranaOperator.

I would imagine there could be a simple substitution function that maps FermionOperators to their Majorana representation.  Maybe a more efficient implementation for tensor representation of FermionOperators would be doing the basis rotation a

[2019-11-13 23:11] hellmersjl3ds opened #543 "HDF5 Issue on install?"
When doing a developers install of OpenFermi I'm getting a message

error: libhdf5.so: cannot open shared object file: No such file or directory

Do I need to install something manually?

I'm installing on Red Hat 7.  Using Miniconda for my Python environment.  I've created a virtual environment for OpenFermion

BTW I tried it on Windows, with Anaconda as the Python management systems, and it work

[2019-11-13 23:50] kevinsung commented on #543
Can you try running just `pip install h5py` in a clean virtual environment?

[2019-11-22 22:37] hellmersjl3ds commented on #543
That worked fine.

(testhdf5) [jhellmers@quantum qcnotebooks]$ pip install h5py
Collecting h5py
  Downloading https://files.pythonhosted.org/packages/60/06/cafdd44889200e5438b897388f3075b52a8ef01f28a17366d91de0fa2d05/h5py-2.10.0-cp36-cp36m-manylinux1_x86_64.whl (2.9MB)
     |████████████████████████████████| 2.9MB 6.6MB/s
Collecting numpy>=1.7
  Downloading https://files.pythonhosted.org/packages/

[2020-01-07 13:15] #524 closed

[2020-01-09 14:54] HamletWantToCode commented on #382
Hi @babbush , I find this [paper](https://arxiv.org/pdf/1111.5337.pdf) list formulas for Fourier transform of Coulomb potential in 1d, 2d, and 3d (on page 2, eq. 2.9), but the result for 2d case isn't consistent with the stackoverflow [link](https://physics.stackexchange.com/questions/28565/coulomb-potential-in-2d) you provided. There is also a discussion for 1d case derivation [here](https://math

[2020-01-10 02:23] misz3540 opened #547 "error in installing forest openfermion"
Hi. I tried installing forestopenfermion by
pip install forestopenfermion

And, i got the following long error message (cut):
Building wheels for collected packages: scipy
  Building wheel for scipy (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: /Users/michelle/anaconda/envs/py3/bin/python -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/f

[2020-01-10 19:20] babbush commented on #382
I agree that stack overflow link from my post doesn't seem to provide what we want - I'm not sure what is going on with that (maybe I linked to the wrong thing or the content of the page changed, I don't know). The formulas from the paper you found seem reliable. Indeed, it would be nice to have code for these potentials incorporated in OpenFermion and no, I don't think anybody else has made progr

[2020-01-10 19:23] babbush commented on #547
Hey there. I would recommend posting this as an issue on Forest-OpenFermion's GitHub (https://github.com/rigetti/forest-openfermion). Though affiliated, a different group of people maintain that package. Accordingly, I will close this issue on OpenFermion. Good luck!

[2020-01-10 19:23] #547 closed

[2020-01-10 22:21] kevinsung commented on #543
@hellmersjl3ds In the environment in which you are unable to install openfermion, are you able to install h5py by itself? What happens if you do that, and then try to install openfermion?

[2020-01-15 14:21] obriente opened #548 "Normally-ordering a FermionOperator"
Is there any way to put a FermionOperator in normally-ordered form? I can't seem to find it.
(If not, I'm happy to write something.)

[2020-01-15 16:14] obriente commented on #548
Nevermind, found it.

[2020-01-15 16:14] #548 closed

[2020-01-15 21:33] obriente commented on #457
I think I'll need this in my course, as it will allow for better integration with cirq. I'd like to show UCC by saying 'we write the cluster operator in OpenFermion with free parameters and then exponentiate and Trotterize', rather than having to introduce a nice package and then having to do something that feels quite natural by hand. So I'd like to take this on.

I propose beginning by removing

[2020-01-17 15:44] vtomole opened #550 "Remove python 2 from .travis.yml"
Python 2 is passed "end of life": https://pythonclock.org/

[2020-01-17 19:41] bryano commented on #457
[OFC#353](https://github.com/quantumlib/OpenFermion-Cirq/pull/353) is relevant; it's intended to be a first step towards 'writing the cluster operator with free parameters and then exponentiating and trotterizing'. Once that and #549 are in, I can submit a PR with my `CoupledCluster` class in OFC.

[2020-01-18 23:19] babbush commented on #457
@ncrubin was thinking about doing something related recently. I worry that this could be come very unwieldy if we're not careful with it. Tom can you explain the use case a bit more so we get a better picture of what you're hoping to do?

[2020-01-19 04:25] ncrubin commented on #457
I think having symbolic expressions for SymbolicOperator and any derived class is an interesting idea and potentially a huge undertaking.  One thing to consider is how basic algebraic operations will work and mesh with symbolic operations.  I believe symbols in sympy build up an object tree and then evaluate when some function is called requiring the value of the symbol.  But how will __eq__ work

[2020-01-19 17:13] obriente commented on #457
@bryano - indeed; I had noticed that PR and was very happy that you'd worked this out. Is there anything I can help with there? (Also, I might want to ask you how to put this all together.)

@ncrubin - Thanks for the warnings, they're definitely worth paying attention to. For equality testing, what I was planning was to check whether 'abs(coeff1-coeff2)<EQ_TOLERANCE' for each pair of coefficients.

[2020-01-20 02:57] bryano commented on #457
My trotterization code takes in an `InteractionOperator` rather than a `SymbolicOperator` as in #549, so I

1. defined a `SymbolicTensor` class that just adds convenience methods to a `defaultdict`, and
2. defined a `SymbolicInteractionOperator` whose tensors are `SymbolicTensor`s, so that it quacks like an `InteractionOperator`.

The result is a bit hacky, but it works. For UCC, each coefficient

[2020-01-20 10:47] obriente commented on #457
Hmmm, the idea of defining a whole new class for sympy expressions might be a way to do this. Perhaps we can use a sympy.Array to store the data? This might be the best way to utilize the tensor structure.

Out of curiosity, what made you choose InteractionOperators instead of FermionOperators for the trotterization function? To me the latter are in a more quantum-computing-friendly format.

[2020-01-21 01:55] bryano commented on #457
For non-symbolic instances, `InteractionOperator` seemed much more efficient, and I was only interested in chemically-relevant Hamiltonians, which are fully captured by `InteractionOperator`.

[2020-01-22 09:32] obriente commented on #457
Fair enough, that makes sense.

What work would need to be added to your code to allow it to interface with FermionOperators directly (without going through the InteractionOperator representation)? I'd be happy to both write that up and take a look at your SymbolicInteractionOperator class (you mentioned above that you've already written this code? --- if not I can also give it a stab).

[2020-01-22 19:21] bryano commented on #457
In [OFC#353](https://github.com/quantumlib/OpenFermion-Cirq/pull/353), `fermionic_simulation_gates_from_interaction_operator` takes in an `InteractionOperator` and returns the gates (as a mapping from fermionic modes to the gate that acts on them) corresponding to a trotterization of the exponential of the interaction operator using Jordan-Wigner. This in turn delegates to the `from_interaction` m

[2020-02-10 13:11] johnchildren opened #551 "Consider dropping notebook dependencies"
jupyter, nbformat and matplotlib are listed as dependencies of OpenFermion in `requirements.txt` which seen to be only used for examples and the effect of this is that users of this library have a lot of additional dependencies that they may not need.

As a demonstration here is a tree of the dependencies of this project from a fresh clone using the latest versions available:

[code]

I would sugg

[2020-02-10 13:50] nathanshammah commented on #551
I’m interested in rendering a similar dependency tree. How did you generate it, with `johnnydep`?

[by the way, my absolutely non-expert opinion, also I’m not a dev here: It looks like the `requirements.txt` as it now is required to make the My Binder interactive Jupyter notebooks work properly (badge in the Readme file). It may work also under `/examples` but I’m not sure. Probably the `setup.py`

[2020-02-10 13:58] johnchildren commented on #551
This was actually done with [`poetry`](https://python-poetry.org/), I copied over the dependencies by hand and then ran `poetry show -t`.

Oh that's very interesting, I did not notice that but that may well be the case. It looks like you can specify a sub-directory but I can't say I know enough about pip to know whether it would work.

Yes I think it's quite contestable and confusing sometimes, wh

[2020-02-10 14:25] johnchildren commented on #551
It looks like splitting out the file into two copies works:

https://github.com/johnchildren/OpenFermion/commit/e2f3b718ec5a6e9f51dc4750d8bb5c4603533866

The notebook is able to import openfermion correctly, despite it being in the folder above:

https://hub-binder.mybinder.ovh/user/johnchildren-openfermion-hu0gkljh/notebooks/examples/binary_code_transforms_demo.ipynb

If this change is acceptable

[2020-02-19 17:57] hariseldon99 opened #553 "How to pad a dense representation of an operator so as to span the full Hilbert space properly?"
OK. Suppose I have a lattice of spinful fermions with, say, 4 sites (nsites = 4). The Hilbert space should have dimension 4^4 = 256. Any operator in this space should have a matrix representation that is of size 256 X 256.

If I want to create an operator like
<img src="https://latex.codecogs.com/gif.latex?num\_init&space;=&space;\sum_{j&space;\in&space;occupied\_upspins}&space;\left[&space;c^\dag

[2020-02-25 18:42] kevinsung commented on #553
Indeed, you are padding it wrong. Instead of padding the extra dimensions with zeros, you should be tensoring with the identity. So the line
[code]
should be replaced with
[code]
After this change, the output is 2 instead of 0. If you were expecting 4, that's because when you used `jw_configuration_state`, you forgot to expand the sites into their up and down components. So the line
[code]
should

[2020-02-26 00:56] kevinsung commented on #551
I like this idea. However, @johnchildren in your mybinder link, the notebook `openfermion_tutorial.ipynb` fails to execute because matplotlib was not installed. I'll need to think more about the best solution.

[2020-02-26 09:19] johnchildren commented on #551
Oh sorry that link in my comment is wrong, try: https://mybinder.org/v2/gh/quantumlib/OpenFermion/master?filepath=examples

It needs the query in the url that is already in the README.

For example you can click on the badge here: https://github.com/johnchildren/OpenFermion/blob/master/README.rst

Matplotlib does then seem to be installed correctly and restarting and running the notebook yields gr

[2020-02-26 18:53] kevinsung commented on #550
This means we would be dropping support for Python 2 altogether. At the last OpenFermion sync everyone was on board. So unless @babbush or @jarrodmcc have any objections, let's go ahead with dropping Python 2 support.

[2020-02-26 20:15] vtomole opened #557 "Add pylint check"
See: https://github.com/quantumlib/Cirq/blob/master/check/pylint

[2020-02-26 20:16] vtomole commented on #557
Whoops: https://github.com/quantumlib/OpenFermion/issues/416

[2020-02-26 20:16] #557 closed

[2020-02-26 22:23] #551 closed

[2020-02-27 01:08] vtomole opened #562 "Repo organization question: Why have an `src` directory at all?"
Are there plans to have directories except `openfermion` under it in the future?

[2020-02-27 01:11] kevinsung commented on #562
I've often wondered the same thing. I think we should get rid of it and just have `openfermion` at the top level. @babbush can jump in if he objects.

[2020-03-05 19:13] bryano opened #568 "Read the Docs broken"
The [Read the Docs site](https://openfermion.readthedocs.io/en/latest/index.html) only displays the submodules and nothing else. Same is true for the [PDF version](https://openfermion.readthedocs.io/_/downloads/en/latest/pdf/), which implies that it's not just a browser issue. (I'm using Chrome version 80 on Ubuntu.) Searching for anything (on the RTD site) yields no results.

[2020-03-05 20:28] kevinsung commented on #568
Hmm the docs are building locally for me.

[2020-03-05 21:54] kevinsung commented on #568
I switched Read the Docs to use Python 3 instead of Python 2 and now the docs build fine.

[2020-03-05 21:54] #568 closed

[2020-03-17 14:05] jitendrs commented on #542
@ncrubin can you please assign it to me.

[2020-03-21 05:56] jitendrs opened #571 "Correction in example notebbok file `openfermion_tutorial.ipynb`"
OpernFermion example juypter notebook consist of wrong python module name, we need to correct it
From,
ops/_fermion_operators.py.
To,
ops/_fermion_operator.py.

[2020-03-22 12:58] GopiKishan14 commented on #542
@ncrubin can you please assign this to me also?

[2020-03-27 15:53] obriente commented on #536
Seems that some people are having issues with this when using pip to install openfermion; does this need to be updated to 0.10.0?

[2020-03-27 22:36] kevinsung commented on #536
Yes, we need to cut a new release of OpenFermion.

[2020-03-30 23:01] kevinsung commented on #542
@GopiKishan14 To avoid duplication of effort we should have one person working on this at a time, unless you collaborate.

[2020-04-02 00:28] kevinsung opened #578 "Add auto-merge bot"

[2020-04-02 00:41] #571 closed

[2020-04-02 00:54] kevinsung opened #579 "Switch over to GitHub Actions"

[2020-04-08 13:34] ScottPJones opened #582 "Inconsistent handling of EQ_TOLERANCE in _symbolic_operator.py"
In `__iadd__` and `__isub__`, it tests `abs(val) < EQ_TOLERANCE`,  yet in `__eq__`, the comparison is `<=`.
In `compress`, it uses `<=`, and even worse, it can eliminate complex values whose absolute value is > EQ_TOLERANCE, because of the previous checks to see if the real and imaginary parts *separately* are <= the tolerance (Imagine the tolerance is 1.0, and the real and imaginary parts are bot

[2020-04-09 11:16] xabomon commented on #582
Hi all,

My apologies for commenting this issue. I've also been having some odd behaviour when playing around with EQ_TOLERANCE.

Regardless of the value I fix this value to, whenever I create a Fermion or QubitOperator with a coefficient smaller than 1e-8 the operator is not printing. However, if I save this object and I print the terms, they do appear.
The same happens if I leave the EQ_TOLERANC

[2020-04-10 00:39] kevinsung commented on #582
@ScottPJones I agree that we should consistently use `<` or `<=`, but I doubt that it matters in practice. With regards to whether for complex values we should check the absolute value or the real and imaginary parts separately, I don't see a problem with the latter. It's really a matter of convention, and I also don't think it matters in practice.

[2020-04-10 00:44] kevinsung commented on #582
@xabomon The behavior you are seeing is due to the fact that the `__str__` method of SymbolicOperator explicitly ignore small coefficients, and it does this using `np.isclose`, whose default `atol` parameter is `1e-8`:
https://github.com/quantumlib/OpenFermion/blob/e39438f8c07e348ce7684da906ecadf35fa2dada/src/openfermion/ops/_symbolic_operator.py#L306-L307
I acknowledge that this is inconsistent,

[2020-04-10 06:03] xabomon commented on #582
Hi @kevinsung ,
your comment answers basically all my questions, thank you.

In my view, having EQ_TOLERANCE and use it to fix `atol` is a much better option. In this way the user has the option to set the threshold in one part of the code only that will apply to the rest of the package.

Best,
Xavi

[2020-04-13 20:07] ScottPJones commented on #582
@kevinsung Part of the issue is also performance - calculating abs() on a complex number involves doing sqrt(r**2 + i**2).   If the square of EQ_TOLERANCE is calculated once, then you can simply check if
r**2 + i**2 < EQ_TOLERANCE_SQRD.  Also, it's checking 3 conditions, and the code could be simplified.

In pseudocode:

rsq = r**2
isq = i**2
if rsq >= EQ_TOLERANCE_SQRD
    if isq < EQ_TOLERANCE_S

[2020-04-13 23:02] kevinsung commented on #582
I'm skeptical that your proposal would be faster, since it always performs an addition, whereas the current code avoids the addition when operating on a real number. In any case, I doubt any speedup would be significant enough to warrant the reduction in readability.

[2020-04-14 15:43] mstechly commented on #536
I still have this issue with `openfermion==0.11.0`.

[2020-04-14 23:51] kevinsung commented on #536
@mstechly What command is giving you an issue? How can we reproduce it?

[2020-04-15 22:52] warrenalphonso commented on #536
I was getting the same issue with pip install. `pip list` showed OpenFermion at 0.9.0. Using developer install was the only way I could get it to update, which fixed the issue.

Is the pip version not updated? Perhaps it would be better to clarify on the readme if this is the case.

[2020-04-15 23:44] kevinsung commented on #536
@warrenalphonso `pip install openfermion` installs 0.11.0, [which is the latest version](https://pypi.org/project/openfermion/), for me. Can you try doing that in a fresh virtual environment?

[2020-04-16 01:08] warrenalphonso commented on #536
Oops you're right, my mistake.

[2020-04-17 13:23] StefanoPolla commented on #542
I've been working with MajoranaOperator, using custom functions for now. What's the status of this?

[2020-04-18 16:09] Emieeel opened #587 "Parallelization of Jordan-Wigner transformation"
For systems of >10 orbitals, I noticed that a jordan wigner transformation on the fermionic hamiltonian is quite expensive, probably because it is pure python code so it runs on just 1 core. Is there any way of improving the speed of the get_jordan_wigner() function and/or parallelize it?

[2020-04-18 20:54] babbush commented on #587
Probably. It would be nice to have faster code for this. The runtime should be roughly linear in the number of terms in the Hamiltonian. Of course, for large chemistry Hamiltonians with O(N^4) terms, that's not very good. But for the case of molecules there is a special routine that maps the InteractionOperators directly to qubits without going through the fermion Hamiltonian as an intermediate, a

[2020-04-19 06:03] jitendrs commented on #542
@kevinsung can you please assign it to someone else. Apologies for such notice request.

[2020-04-21 13:09] StefanoPolla commented on #542
I'm happy to take it
@ncrubin, @kevinsung can you assign it to me?

[2020-04-21 23:48] ncrubin commented on #553
you can also specify the number of qubits `n_qubits` you want in the `get_sparse_operator'.   This will enforce that you are lifted to the appropriate size space.

[2020-04-21 23:48] #553 closed

[2020-04-21 23:51] ncrubin commented on #550
Done by #574

[2020-04-21 23:51] #550 closed

[2020-04-21 23:59] ncrubin commented on #578
@kevinsung is this auto-merge upon reviewers sign-off?

[2020-04-22 00:01] ncrubin commented on #511
@jrstryker Would you be implemented in implementing or maybe a first pass design?  It might help the broader openfermion community to see an example.

[2020-04-22 01:32] vtomole commented on #578
It automerges once a label is added to the PR.

[2020-04-22 12:24] mstechly commented on #536
@kevinsung couldn't reproduce it, sorry...
It pops in my code from time to time, I'll keep my eye on it and will let you know when it appears again – this time with reproducible example.

[2020-04-22 18:50] kevinsung commented on #578
Yeah, reviews are marked for auto-merge by adding a label, and it only works after the PR has been approved and passes CI.

[2020-04-22 22:26] kevinsmia1939 opened #590 "usr/openfermion/examples/ is not allowed in Filesystem Hierarchy Standard 2.3"
Hello,

I tried to build openfermion on linux openSUSE Tumbleweed.

I noticed that there are files that were placed in usr/openfermion/.
This location are discourage and should be avoid.

Thanks.

[code]

[2020-04-23 00:01] kevinsung commented on #587
I think at some point we might want to implement the basic transforms in Cython.

[2020-04-23 00:43] kevinsung commented on #590
Can you tell us what commands you used to produce that output?

[2020-04-23 14:42] kevinsmia1939 commented on #590
Hello,

I use openSUSE build service which can build package from source code.
This is the repository I made for openfermion.
https://build.opensuse.org/package/show/home:andythe_great/python-openfermion

Here is the .spec file which contain instruction to build the package from source.
https://build.opensuse.org/package/view_file/home:andythe_great/python-openfermion/python-openfermion.spec?expan

[2020-05-04 12:00] michaelkaicher opened #592 "Expectation values of FermionOperator with respect to fermionic Gaussian state"
Hi all,

this is probably already implemented, (it's probably more a pull request than an issue) but I lately wrote some code that computes expectation values of a (normal-ordered) FermionOperator provided by OpenFermion with respect to a fermionic Gaussian state, more precisely its covariance matrix, that outputs the value using Wick's theorem. I was wondering whether there would be code in Open

[2020-05-06 03:32] loriab opened #593 "test_signal trouble with mkl"
I noticed building the new v0.11 that a single test was failing in conda. It looks to be correlated with the MKL version of numpy that is conda's default. Below shows conda python and numpy and the remainder deps from pypi fails a test by slightly (1.7e-6 vs 1.0e-6) more than the absolute tolerance. The openblas version of numpy also from conda is fine. Think this is a too tight test or a real pro

[2020-05-06 06:59] obriente commented on #593
This is probably a stability issue in my implementation of Prony's method that got hit by this version of MKL. I'll look into improving the algorithm. Thanks for raising the issue

[2020-05-07 00:10] ncrubin commented on #592
Hi Michael.  To my knowledge we don't have something explicitly for this.  The closest thing we have is wedge product which can produce arbitrary RDMs from a particle conserving covariance matrix.  It would be great to have your contribution as we push to expand this area.  There are been an increasing number of proposal for using fermionic gaussian states as benchmarking targets.  Feel free to op

[2020-05-07 00:19] ncrubin commented on #590
@kevinsmia1939 to my knowledge we don't explicitly put any files in /usr/openfermion.  I'm not familiar with this build system so I can't even guess why you are hitting this particular problem.  Has this come up with any other python projects and this build system?

[2020-05-08 01:03] kevinsmia1939 commented on #590
I have a feeling that if the data_files is not given a directory, it would go to /usr/ by default?
Does it need to have a (directory, files) pair to get install to a correct directory?
https://docs.python.org/2.5/dist/node13.html

https://github.com/quantumlib/OpenFermion/blob/be2a39f1e7aa1262a665d2e5ad0d4f6bbfad23a2/setup.py#L51

[2020-05-08 01:10] mpharrigan commented on #590
At present, we only officially support installation via `pip`, and we follow normal Python packaging guidelines for `setup.py`. We strongly encourage the use of a virtual environment to avoid polluting system directories.

It's great that you're packaging this up for a linux distro! We'll accept any patches that makes your life easier and doesn't interfere with normal installation into a python vi

[2020-05-12 08:54] michaelkaicher commented on #592
Thanks! I will try to do this as soon as I find time!

[2020-05-12 15:21] mstechly commented on #536
@kevinsung FYI: it seemed actually the version of the library was overwritten to be `0.10.0` instead of `0.11.0`.
I think this issue can be closed.

[2020-05-12 23:15] kevinsung commented on #536
This issue is fixed in the latest pip version of OpenFermion and OpenFermion-Cirq.

[2020-05-12 23:15] #536 closed

[2020-05-18 17:31] ncrubin opened #597 "Change testing badge to reflect versions we test against."

[2020-05-24 18:25] kevinsmia1939 opened #598 "Trying to connect to pubchem.ncbi.nlm.nih.gov when testing packages?"
Hello,
As I am trying to build openfermion for openSUSE Linux, when the test is running it tries to connect to pubchem.ncbi.nlm.nih.gov to fetch some packages?

Since building on openSUSE Linux is headless and no internet connection, the test thus fail?
Package in openSUSE must build with no connection because it must be self contain with provided dependencies.

What package is it trying to downlo

[2020-05-28 05:44] ncrubin commented on #542
Implemented by #589

[2020-05-28 05:44] #542 closed

[2020-05-28 05:54] ncrubin commented on #598
It looks like you have pubchem installed so the test attempts to use the pubchem package to download the geometry of water.

Here's the [culprit](https://github.com/quantumlib/OpenFermion/blob/master/src/openfermion/utils/_pubchem_test.py).

There is currently a pytest skip if the package is not detected.  Skipping logic should be expanded to include when a connection to the NIH server can't be ma

[2020-05-28 13:19] kevinsmia1939 commented on #598
I pass the --ignore flag to pytest to src/openfermion/utils/_pubchem_test.py and the failure is gone now, but there are other failures that look for internet connection I am not sure about. What is the culprit test file for this one?

Thanks.

[code]

[2020-05-28 17:42] ncrubin commented on #598
Looks like it is running the examples/_examples_test.py. which runs the [_openfermion_tutorial.ipynb](https://github.com/quantumlib/OpenFermion/blob/master/examples/openfermion_tutorial.ipynb).  Cell 14 calls pubchem to import the geometry for methane.  The correct fix for this would be to separate pubchem functionality from the main tutorial.

[2020-05-28 17:42] obriente commented on #593
Sorry for the late reply, I was waiting till I found a more satisfactory answer but I don't think one exists; the vanilla implementation of Prony's method is just known to be unstable. I've pushed an increase in the atol so that this hopefully doesn't happen again.

[2020-05-28 20:05] ncrubin commented on #593
Closing by PR #601

[2020-05-28 20:05] #593 closed

[2020-05-28 20:13] loriab commented on #593
thank you

[2020-05-29 00:01] kevinsmia1939 commented on #598
If I make pytest ignore examples/_examples_test.py the test would all fail. But it seems that there are no good way to get around this at the moment? So if I want to package this on a headless server with no internet connection is to just not test?

[2020-06-01 01:29] kevinsmia1939 opened #602 "AssertionError on src/openfermion/measurements/_prony_test.py during testing."
Hello,

I am trying to build openfermion on openSUSE Tumbleweed.
I encounter an error on AssertionError when running test, could I have been missing dependencies package?

Here are the package I included as dependencies:
Python 3.8
networkx
numpy >= 1.11.0
nbformat
PubChemPy
requests
scipy >= 1.1.0
pytest

Full log here: https://build.opensuse.org/build/home:andythe_great/openSUSE_Tumbleweed/x86_6

[2020-06-02 22:23] ncrubin commented on #598
Not sure what you mean the test would all fail. But I mentioned the correct fix in the previous comment.  Another option could be to set up a mock for the test.  Are you interested in taking this fix?

[2020-06-02 22:24] ncrubin commented on #602
The newest commit addresses the strictness of the Prony's method test.

[2020-06-02 22:24] #602 closed

[2020-06-04 23:15] ncrubin opened #603 "InteractionRDM.rotate_basis rotates incorrectly?"
It looks like InteractionRDM.rotate_basis calls the same PolynomialTensor routine as rotate_basis on InteractionOperator.  RDM rotation should be
[code]

and not
[code]

[2020-06-05 19:27] kevinsmia1939 commented on #598
I think it is related to this issue. #481

[2020-06-05 19:27] #598 closed

[2020-06-11 10:26] quantum-rookie opened #604 "The ASCII diagarm"
Hi.when i tried to get the ground state of the tunneling term of a FermiHubbard model Hamiltonian in pycharm, The circuit diagrams I got were different from those in the literature(OpenFermion: The Electronic Structure Package for Quantum Computers).What's wrong?
![image](https://user-images.githubusercontent.com/63296937/84374758-0a924100-ac11-11ea-99c1-263f218e9690.png)

[2020-06-11 16:49] ncrubin commented on #604
Looks like you are generating a circuit below half filling.  The example in the openfermion paper is for half filling.  I'd need to see the code you used to generate this plot to help diagnose any potential problem.

[2020-06-11 16:50] #579 closed

[2020-06-11 23:43] quantum-rookie commented on #604
Ok.
The following code:

import cirq
import openfermion
import openfermioncirq as ofc

hubbard_model = openfermion.fermi_hubbard(2, 2, 1.0, 4.0)
quad_ham = openfermion.get_quadratic_hamiltonian(hubbard_model, ignore_incompatible_terms=True)

qubits = cirq.LineQubit.range(8)
circuit = cirq.Circuit.from_ops(
    ofc.prepare_gaussian_state(qubits, quad_ham)
)

print (circuit.to_text_diagram(transpose

[2020-06-12 05:24] sassan72 opened #605 "about calculation of ground state energy for Bose Hubbard model."
Ho can I calculate ground state energy of Bose Hubbard Hamiltonian with openfermion? I obtained the Hamiltonian matrix. then I followed an example of openfermion. use these two command to calculate ground state energy:
sparse_hamiltonian = get_sparse_operator(hubbard_model)
energy, state = get_ground_state(sparse_hamiltonian)

I have Hubbard_model matrix.

I also added these libraries:
import nump

[2020-06-12 16:20] sassan72 opened #606 "sparse matrix for Hamiltonian."
I run openfermion's example to calculate the ground state wave function for Bose-Hubbard model. after running sparse_operator = get_sparse_operator(hubbard_model) command I got this error. can somebody tell me how I can fix this?

from openfermion.hamiltonians import bose_hubbard
from openfermion.transforms import get_sparse_operator
from openfermion.utils import get_ground_state

# Set model.
x_d

[2020-06-12 16:28] obriente commented on #606
So you need to set trunc=x for integer x>=1 in the call to get_sparse_operator --- this should solve your problem.

The Bose-Hubbard model at U<infinity can have any number of excitations on any site. To make it's Hilbert space finite to get a matrix representation, you need to truncate this at some point, this is defined by the trunc parameter.

However, I think the error message here is designed

[2020-06-12 16:42] obriente commented on #605
I think the answer to #606 solves this problem as well?

[2020-06-12 23:06] sassan72 commented on #605
Hi Obriente. I run the example again after applying your changes. I got another error.ValueError                                Traceback (most recent call last)
<ipython-input-2-39665814f969> in <module>
     22 trunc=1
     23     # Get scipy.sparse.csc representation.
---> 24 sparse_operator = get_sparse_operator(hubbard_model, trunc)
     25 #print('')
     26 #print(sparse_operator)

~/OpenFe

[2020-06-13 13:27] obriente commented on #605
You need to define trunc explicitly - i.e.

Currently your call will set num_qubits=1, and keep trunc=0.

[2020-06-13 16:13] sassan72 commented on #605
thanks, it works.

[2020-06-13 21:18] sassan72 commented on #605
I have written a simple input to calculate ground energy of Bose Hubbard Hamiltonian with Openfermion. the problem is this the ground state and energy of ground state are n't a single output in reality. the ground state is calculated by diagonalizing Hamiltonian which is a sequence of number and the number is equal to dimensionality of our Hilbert space. Actually, ground state is a many body wavef

[2020-06-14 10:11] obriente commented on #605
Looking through the code, it seems that the truncation occurs of all occupations >= trunc, instead of all occupations > trunc. This means you need to set trunc>=2 in order to get non-trivial results.

(Note, if you set trunc = 2, I think you'll have trouble with more than about a 4x4 lattice on a laptop. A 10x10 lattice will definitely run over your memory.)

[2020-06-14 23:06] sassan72 opened #608 "simulation of Bose Hubbard model with directed worm algorithm."
There are many strategies to calculate many body ground state energy for Bose Hubbard model. One of the fastest and most powerful one is the directed worm algorithm which hasn't been implemented in Openfermion software. The next challenge is this: how to add the directed worm algorithm to Openfermion. if we could implement this, it would be very fantastic for future many body research with Openfer

[2020-06-14 23:08] babbush commented on #608
Thanks for this suggestion. Can you give a reference describing the directed worm algorithm?

[2020-06-14 23:18] sassan72 commented on #608
[thesis.pdf](https://github.com/quantumlib/OpenFermion/files/4777376/thesis.pdf)
[0508462-2.pdf](https://github.com/quantumlib/OpenFermion/files/4777377/0508462-2.pdf)

[2020-06-14 23:19] sassan72 commented on #608
the phd thesis is about the directed worm algorithm with all details.

[2020-06-14 23:20] sassan72 commented on #608
here is the original reference: Prokof’ev N. V., Svistunov B. V., Tupitsyn I. S. (1998) “Worm” al- gorithm in quantum Monte Carlo simulations, Physics Letters A 238, 253–257.

[2020-06-14 23:21] sassan72 commented on #608
this method is also applicable for spin full models and fermions.

[2020-06-22 18:34] mstechly commented on #457
Just wanted to add that it would be great to have this feature added to OpenFermion – can't wait to see #549 merged in :)

[2020-07-04 14:22] quantum-rookie commented on #604
so could you tell me how to change the number of electrons in Hubbard model

[2020-07-16 17:22] ncrubin commented on #457
#549 was merged!

[2020-07-16 17:22] #457 closed

[2020-07-16 17:48] ncrubin opened #616 "Reorganization"
Hello all,

One of the goals during the transition to 1.0 is a reorganization of the module structure that will make development more extensible and simpler.  The following is the proposal for the new structure.  Basically we are splitting up utils into more reasonable components and cleaning up transforms.  The reorganization will yield 9 modules (sans third_party)  with clearer purpose.  You'll

[2020-07-19 15:42] tanujkhattar opened #618 "QubitOperator to PauliSum Conversion"
[`openfermion.QubitOperator`](https://github.com/quantumlib/OpenFermion/blob/302449a45ef0106a1ac210174ddefc2b7ffb71a6/src/openfermion/ops/_qubit_operator.py#L39) and [`cirq.PauliSum`](https://github.com/tanujkhattar/Cirq/blob/4df6919aae05f4ea6a2dd164fc846078db6b6bb0/cirq/ops/linear_combinations.py#L298) represent the same logical entity, i.e. A linear combination of Pauli Terms.

Since there is no

[2020-07-19 15:59] tanujkhattar commented on #618
@ncrubin

[2020-07-20 04:08] ncrubin commented on #618
Hi @tanujkhattar, please coordinate with @kevinsung on this larger effort.  I am not in a rush to do this integration especially since cirq is moving quickly to 1.0 and could have significant feature changes.

[2020-07-22 22:11] tanujkhattar commented on #618
Thanks for pointing out the earlier efforts in this direction. I've left some comments on your PR. Will mark this issue as duplicate and close it. Thanks!

[2020-07-22 22:11] #618 closed

[2020-07-23 23:45] ncrubin commented on #616
This is closed by #620

[2020-07-23 23:45] #616 closed

[2020-07-27 16:20] obriente opened #624 "hermitian conjugate in odd location"
The Hermitian conjugation function is currently sitting in operator_utils.py where it's really hard to find, and it also has hardcoded functionality for each subclass of each operator. It should probably be pulled into SymbolicOperator/PolynomialTensor (e.g. as a conj() function to make consistent with numpy) and made more universal. Not entirely sure what the best way forward is here - thoughts?

[2020-07-28 08:16] xabomon opened #626 "Update documentation with new organization"
I have been looking at the documentation and it does not seem to be updated with respect to the new organization of OF.

[2020-07-29 21:15] ncrubin commented on #626
This is very true!  @xabomon please feel free to point out specifics for where we can improve the docs.  The docs upgrade is very important and more input the better!

[2020-07-29 21:53] balopat opened #628 "Colab instead of Binder?"
I've been thinking about a unified way of running notebooks easily in Cirq as well as OpenFermion. I saw the binder link - initially I liked it but then I opened it and it takes way too long to bring up the container (5+ minutes).

What do you think about using Colab?

https://colab.research.google.com/github/quantumlib/OpenFermion

It is much faster - but you'll need a Google account as soon as y

[2020-07-29 22:24] babbush commented on #628
When you say that you'll need a Google account to run anything - do you mean just a gmail for instance? That requirement isn't ideal but I suppose most people have a gmail at this point. It seems like a reasonable price to pay for the faster execution. Can anyone think of any other downsides we should consider?

[2020-07-29 23:16] balopat commented on #628
Yes, a gmail account works. Agreed!

[2020-07-29 23:27] ncrubin commented on #605
@sassan72 it seems like @obriente addressed the issue you raised.

[2020-07-29 23:27] #605 closed

[2020-07-30 06:14] ncrubin commented on #628
I think the price of having a google account is small in comparison to the 5 minute load time of binder.  I'm pro colab transition.

[2020-07-30 09:43] obriente commented on #406
Heh, just ran into this... We now have a linalg module, so I guess we can close this issue. (Ryan, if you still feel the same about the name let's discuss, I think the new naming system could use as much criticism as possible).

[2020-07-30 09:43] #406 closed

[2020-07-30 09:44] obriente commented on #395
givens_rotations is now in linalg, so I guess this can be closed.

[2020-07-30 09:44] #395 closed

[2020-07-30 09:45] #360 closed

[2020-07-30 09:52] obriente opened #630 "Make imports explicit in __init__.py"
With the current state of the docs (and given that the new filestructure might still need some edits), finding whether or not a function already exists can be difficult (esp. if the function is in an odd location). An easy solution to this is to make imports explicit right down to the root directory, as then one can ctrl-f in the __init__ file.

Also, being explicit prevents having multiple functi

[2020-07-30 14:04] obriente opened #631 "Our importing strategy needs some work"
The current codebase is a bit of a mess w.r.t. imports - we have a fair few near-circular imports that are just hacked away and reappear during refactoring.

I'm not entirely sure what the correct standard is for importing in python, but especially as we're now Python3 only and don't have to worry about doing everything in a way that works for Python2 as well, if someone wants to find a more rigor

[2020-07-30 14:43] obriente opened #633 "Adding type hints"
To get this codebase up to standard, we need to add type hints. At the very least, perhaps we should start insisting that all new code has type hints added, but moreover we need to add typing to the code that currently exists.

This is a pretty large project, but luckily it can be done incrementally - I believe at this point it's a stretch goal for v1, if anyone wants to help it would be much appr

[2020-07-30 16:23] obriente opened #634 "opconversions / repconversions distinction unclear"
I don't really understand the difference between opconversions and repconversions as it stands (and especially not between the opconversions.conversions and repconversions.conversions). In particular, currently opconversions contains all functions that map between SymbolicOperator / PolynomialTensor classes that do not formally change the operator being represented (e.g. an operator after a fermio

[2020-07-30 18:44] obriente commented on #631
Looking around, it appears that the solution to this is 'dont have everything depend on each other'. Lol - easier said than done.

However, maybe this is something we need to take into account in this new reorg, as we want to make sure that sensible code edits don't wind up breaking some hacked import that was working before.

[2020-07-30 21:11] obriente opened #635 "Refactoring hermitian conjugation etc functions out of operator_utils"
PR #632 has cleaned up most of operator_utils, but the hermitian conjugation routines remain there. I'd like to refactor them into SymbolicOperator/PolynomialTensor - perhaps as an op.hc() or op.herm() routine (kinda tempting to go the numpy route and make op.conj().T but the extra processing requirements to implement this function twice seems like a bad idea). Also, this will break a *lot* of cod

[2020-07-31 05:46] ncrubin commented on #634
I attempted to make opconversions a module that contained transforms of SymbolicOps.   repconversions transforms representations to and from eachother.  For example, get_interaction_operator can take in many "containers" and returns a new object that is formally a compact representation of a large number of SymbolicOps.   Because we have developed lots of ways to interconvert between these objects

[2020-07-31 17:32] ncrubin opened #636 "Transition docs to tensorflow doc format"
@lamberta This is just a reminder.

We are transition away from sphinx and read the docs for generating and serving docs.  This keeps us aligned with the documentation strategy in the other repos of quantumlib.  We will use the tensorflow docs engine to generate docs.  The OpenFermion docs are already in the Google Style so hopefully there aren't too many doc problems.  Once the new doc infrastruc

[2020-07-31 17:38] balopat commented on #628
Great! We can also put a colab detection logic for installation on top of the notebooks.

[code]

This way they can still work in a local jupyter env as well.
Happy to raise a PR for this.

[2020-07-31 18:03] ncrubin commented on #626
I've added issue #636 which is the start of this process.

[2020-07-31 21:00] obriente commented on #634
Does get_fermion_operator belong in opconversions under this logic? It takes in PolynomialTensors as well as SymbolicOps, so it doesn't completely fit the above schema.

[2020-08-03 04:56] ncrubin commented on #634
Yeah there are a couple of these that aren't nicely fitting in the scheme because they transform SymbolicOps and PolynomialTensors.  I kinda figured these scenarios might pop up since sometimes we use the containers as algebra elements--i.e. things that behave like SymbolicOps.  One thing we could do is separate the get_fermion_operator into fermion_op_from(*) which would let us have all the trans

[2020-08-05 00:31] ncrubin commented on #630
Originally I thought it it wasn't necessary to import from submmodule __init__.py with wildcards (especially from the same global namespace that we were maintaining...because surely we wouldn't use the same method name in two locations and it wasn't obvious to me that this would prevent a name collision!) but @viathor gave some great reason for why not to use wildcard imports in __init__.py.  Put

[2020-08-06 09:06] xabomon commented on #633
I am going to work on a file that already contains functions that do not have type hints, would it be a good idea to type hint the existing functions while I'm on it?

Morever, for the testing file, should I keep using unittest or would it be a good idea to move all the test to pytest?

[2020-08-06 11:44] obriente commented on #631
Looking at cirq's strategy (https://github.com/quantumlib/Cirq/blob/master/cirq/__init__.py), it seems it takes two parts:
1) Make a rough hierarchy of module dependencies which is enforced in testing with feedback --- https://github.com/quantumlib/Cirq/blob/master/dev_tools/import_test.py
2) For any circular imports that can't be avoided, delay them using the delay_import function in https://gith

[2020-08-06 13:20] xabomon opened #639 "Requirement clash with Cirq master"
Hi team,

Installing master branch of Cirq raises an error with requirement of cirq==0.8.2.

Is there a good or easy way to sync releases?

[2020-08-08 20:40] tanujkhattar commented on #631
I did some reading and spent time investigating this issue. My thoughts are as follows:

### 1. `import` statements should be used for modules and packages only, not for individual classes or functions (except in `__init__.py`).

Errors due to circular imports happen mainly when, during a circular import, python is unable to find a symbol `x` from module `m` because `m` has already begun loading (

[2020-08-09 00:51] ncrubin commented on #631
@tanujkhattar Thanks for the analysis and recommendation!  I agree with your second point.  good to know about pydeps.  Seems useful.

[2020-08-09 04:08] #630 closed

[2020-08-09 09:27] obriente commented on #631
@tanujkhattar Thanks for the analysis! And thanks for finding pydeps. I'm running into a recursion depth error when I run it (similar to those in https://github.com/thebjorn/pydeps/issues/33) --- how did you get it to work?

Regarding your first recommendation, I know that we've forced using the full name of each import in openfermion up till now. I think this has made the possibility of simply im

[2020-08-09 10:38] tanujkhattar commented on #631
This is because the graph size is too big so we need to increase python's default recursion depth in pydeps binary. To fix this, I added `sys.setrecursionlimit(10000)` at the beginning of the pydeps script, by directly editing the file present at path returned by:
[code]

Yes! All the same arguments hold for this approach as well. IIUC, these two approaches are identical.

[2020-08-09 11:00] obriente commented on #631
Ah ok, thanks - I had assumed pydeps was running into an infinite loop rather than just a really large one. I'll try that out.

If that works, it might be a simple solution to this circular dependencies problem, though it will be quite a large change throughout. I'm still a bit worried though that a) this might reappear in the future under another guise, and b) having an import hierarchy is probab

[2020-08-10 16:17] ncrubin opened #644 "Can't pip install from git"
[code]

Throws an error:

[code]

@lamberta has this come up before in moving docs around?

[2020-08-10 16:29] ncrubin commented on #644
Might be related to data_files field in setup.py is no longer working with wheels

https://setuptools.readthedocs.io/en/latest/setuptools.html?highlight=data_files

[2020-08-10 17:29] lamberta commented on #644
Looks like I neglected to update the basename of the file in setup.py when I moved/renamed a few tutorials. So these filenames should match the filenames in the [docs/tutorials/](https://github.com/quantumlib/OpenFermion/tree/master/docs/tutorials) directory, e.g. `docs/tutorials/binary_code_transforms.ipynb`.

These were in `/examples`. Do you need to install them with the pip package?

[2020-08-10 18:16] ncrubin commented on #644
I don't see a reason to install them with the package but we were doing that before.  Maybe a user could reference the notebook after they do a pip install to see how something works?  I think the docs should serve that purpose not the notebook.  Let's keep it in the install for now and I'll bring up the topic of deletion at the next openfermion-sync.  I don't think cirq installs their tutorials.

[2020-08-10 23:19] #644 closed

[2020-08-11 11:25] zohimchandani opened #646 "Get a matrix representation of QubitOperator command"
I have some code which looks like this:

[code]

which measures the X & Y expectation values of qubit 0 and 1 and multiplies them with the coefficients named disc_weights[0] & disc_weights[1] respectively. How do I get a matrix representation of this?

[2020-08-11 12:41] obriente commented on #646
You can use the 'get_sparse_operator' function and then cast to dense:
`
from openfermion import get_sparse_operator
matrix = get_sparse_operator(psi).todense()
`

[2020-08-11 18:47] #646 closed

[2020-08-11 18:48] ncrubin commented on #636
Closed by #637

[2020-08-11 18:48] #636 closed

[2020-08-12 00:17] kevinsung commented on #639
Depending on the master branch of Cirq is not a good idea because that exposes us to breaking changes in a way we cannot control. Our strategy is to depend on a version of Cirq that has been released on PyPI; that way we can sync up with Cirq all at once, when we choose to.

[2020-08-12 17:11] #628 closed

[2020-08-12 22:54] mpharrigan commented on #631
One thing that needs to be ironed out is whether we're committed to percolating everything up to the top-level. This can provide convenience and discoverability of functionality and we do it in cirq by being very careful about layering our intra-package dependencies and importing submodules (not functions; classes directly) within the package. Crucially, all user code [including tests! which shoul

[2020-08-12 23:00] mpharrigan commented on #631
Here's a patch of my hack-job:

<details><summary>click to expand</summary>

[code]
</details>

[2020-08-13 06:21] xabomon commented on #639
Hi @kevinsung

Thanks for the answer, that actually makes sense because I was installing Cirq from master and not from the PyPI released branch.

I will close the issue.

[2020-08-13 06:21] #639 closed

[2020-08-13 16:48] kevinsung opened #649 "Flatten ops module?"
It looks like I was late to comment on #616 so I figured I'd open a new issue to say that I disagree with the "operators"/"representations" dichotomy. At the very least, the naming is quite confusing, because a FermionOperator is a "representation" of a molecular Hamiltonian in the same sense that an InteractionOperator is a "representation". Both can represent the same operator, albeit using diff

[2020-08-13 17:06] kevinsung commented on #634
I think that "transforms" should refer to "fermionic transforms," i.e., functions that map between the space of fermionic ladder operators (or Majorana operators) and the space of Pauli matrices. This includes, for example, Jordan-Wigner, and Bravyi-Kitaev. And this should be true regardless, for example, of whether the transformed operators are FermionOperators or InteractionOperators. On the oth

[2020-08-13 17:27] obriente commented on #649
I agree that the naming is a bit confusing at first glance, but I think the distinction is clear. All the objects in 'operators' use a dictionary/hash table structure to store data, but all the operators in 'representations' store data in array form. The former allows for greater flexibility / representation power, but the latter allows for significantly faster manipulation (but is somewhat restri

[2020-08-13 17:54] ncrubin commented on #649
I disagree that a FermionOperator is a representation of a MolecularHamiltonian.  A molecular Hamiltonian is a particular element of a Fermionic algebra--i.e. things that can be built with FermionOperator.  MolecularHamiltonian contains information about the basis--integrals, mo_coeffs, that inform what the Hamiltonian will be but are not yet tied to ladder operators.  To tie them to ladder operat

[2020-08-13 18:00] obriente commented on #634
I'd rather not shift code back into utils - the functionality in there often gets missed by users, which is why I'm pretty keen on making the module as small as possible.

To me a transform is 'something that takes in an operator and spits out an operator' - as opposed to a functional which 'takes in an operator and spits out a number'. So I think both 'conversions' and what you describe as 'trans

[2020-08-13 18:01] ncrubin commented on #597
Resolved by #627

[2020-08-13 18:01] #597 closed

[2020-08-13 18:11] obriente commented on #649
Looking at the definition of 'representation' in math - https://en.wikipedia.org/wiki/Representation_theory - a representation is a map from an abstract algebra to a set of matrices on a vector space. This maps pretty well to the current distinction, so on retrospection I'm pretty happy with the distinction. Could go with 'abstract' vs 'representation' if we wanted to make the distinction clear, p

[2020-08-13 22:00] kevinsung commented on #649
By FermionOperators and InteractionOperators being representations "in the same sense" I simply meant that
[code]
and the InteractionOperator with one-body tensor equal to
[code]
both represent the exact same operator, a_0^\dagger a_1 + a_1^\dagger a_0.

If the distinction is that one class of operators is represented using arrays, then I think we can come up with a better name; I don't find the a

[2020-08-13 22:52] kevinsung commented on #604
@quantum-rookie You can specify the orbitals to occupy by passing the `occupied_orbitals` argument. The orbitals are in ascending order by energy, so to fill the lowest energy 4 orbitals (out of 8) you would do
[code]
If you want to fill 2 spin-up orbitals and 2 spin-down orbitals, then pass in 2 sequences:
[code]

[2020-08-14 16:28] ncrubin commented on #649
You are right they represent the same object.  That is my starting point as well.  The InterationOperator representation you have shown imbues a matrix indexing to represent a particular set of FermionOperators.   This format allows for transformations on the operators that get mapped to linear algebra operations on the InteractionOperator or InteractionRDM matrix--i.e wedge, basis transformation,

[2020-08-19 15:56] ncrubin commented on #649
@kevinsung did you have further thoughts on this?

[2020-08-19 17:03] kevinsung commented on #649
As you agreed, a FermionOperator and an InteractionOperator can both represent the exact same operator, with the only difference being in the underlying data structure. If we are to separate these classes, we should use names that reflect the difference. After all, both are "operators" and both are "representations," so "operator"/"representation" doesn't make sense to me. Perhaps we could use the

[2020-08-20 17:41] kevinsung opened #654 "Testing == for SymbolicOperator and other classes should be exact, not approximate, equality"
Using `==` for exact equality matches its semantics in every other case I can think of. I realize that I actually advocated for changing it, but in hindsight I think that was a big mistake.

Affected classes:
- SymbolicOperator
- MajoranaOperator
- PolynomialTensor

[2020-08-26 12:13] quantum-rookie commented on #604
![image](https://user-images.githubusercontent.com/63296937/91301673-e25dbb80-e7d7-11ea-8830-cfebaed623c2.png)
i dont know why.  so far so bad.
python 3.85
openfermion 0.11.0
openfermioncirq 0.40
cirq0.8.2
@kevinsung

[2020-08-26 14:30] mpharrigan commented on #654
Do we have a sense of how `==` is currently used? How much of an impact to users would it be to remove it? I usually think if something is ambiguous, you should force the user to specify, i.e. (1) leave unimplemented.

In any event, I think this has been the behavior for some time so we should go through a deprecation cycle

[2020-08-27 04:44] ncrubin commented on #649
I disagree with the conclusion you come to.  FermionOperator is a generalization of InteractionOperator so I still think the name representation is okay. You can do some things to InteractionOperator that you can't to FermionOperator.  That's the price you pay for generalization/abstraction.  "dict" and "array" seem worse, to me, since those are key words and don't carry any meaning with respect t

[2020-08-28 02:53] kevinsung commented on #649
In the language of quantum mechanics, an InteractionOperator is an "operator" just as much as a FermionOperator is an "operator." I don't think the word "representation" as it's being used here has a meaning in quantum mechanics.

[2020-08-28 14:59] ncrubin commented on #649
dict is a keyword in python.  we can't use that!  as is array for numpy which we rely on heavily.  Do you have an alternative pair of names to suggest?

[2020-08-28 15:10] obriente commented on #649
How about 'symbolic' and 'sparse'? In the SymbolicOperator and derived classes we are writing down a symbolic form of the operators (quite literally), and I'd say that PolynomialTensor derived classes are supposed to be 2^Nx2^N operators in sparse representations that allow for fast calculations (in the same way that the sparse libraries in scipy allow for faster linear algebra).

[2020-08-28 16:52] kevinsung commented on #649
@obriente As I pointed out above, the symbolic representations are actually sparser than the array representations, since the arrays contain many zero entries. These arrays are dense Numpy arrays, not Scipy sparse matrices. So if anything, the symbolic representations should be called "sparse."

[2020-08-28 16:53] kevinsung commented on #649
Maybe we could call them "symbolic" and "dense."

[2020-08-28 17:04] kevinsung commented on #649
Or maybe just "sparse" (referring to the symbolic operators) and "dense" (for the dense array operators).

[2020-08-28 17:08] obriente commented on #649
There's a pretty strong connection in my mind between 'sparse' and 'optimized for fast calculation', so I would find this definition very confusing. I also definitely wouldn't say 'dense' for the PolynomialTensor class - they're not 2^Nx2^N after all.

How about 'symbolic' and 'tensor' ? That's pretty unambiguous, no?

[2020-08-31 14:18] kevinsung commented on #649
I'm okay with "symbolic" and "tensor".

[2020-09-02 10:58] kevinsung commented on #604
`Circuit.from_ops` was removed in cirq 0.8. Instead of `Circuit.from_ops(...)`, just do `Circuit(...)`. Or downgrade to cirq 0.7.

[2020-09-02 11:13] quantum-rookie commented on #604
ok. i really appreciate your help. thank you!

[2020-09-02 11:14] #604 closed

[2020-09-03 17:15] PabloAMC opened #659 "Including gausslets as a basis option"
The article "[Encoding Electronic Spectra in Quantum Circuits with Linear T Complexity](https://journals.aps.org/prx/abstract/10.1103/PhysRevX.8.041015)" suggests using [Gausslets](https://journals.aps.org/prb/abstract/10.1103/PhysRevB.99.081110) as a basis, since they are more compact than dual wave basis. Including Gausslets as a basis option is something I would like to see available.

[2020-09-03 17:18] babbush commented on #659
I would like to see this too. However, the Gausslets are quite complicated. This would be a very large project.

[2020-09-11 19:17] davidzsoltmanrique opened #660 "prune=False flag in freeze_orbitals seems have no effect"
https://github.com/quantumlib/OpenFermion/blob/02a0088347c31ad3b6b73db18bc598ef6ddb923a/src/openfermion/utils/_operator_utils.py#L165

[2020-09-11 21:15] 34ndju commented on #624
I'd like to begin contributing to this. I think this is a good way to do it:

1. SymbolicOperator should have a conjugate_term() function that Fermion/Boson/Qubit/QuadOperator all implement separately. Then SymbolicOperator should have a H_conj() function (like you mention) that is something like
`def H_conj(self):`
  `conjugate_operator = type(self)()`
  `for term, coefficient in self.terms.items

[2020-09-15 15:38] obriente commented on #624
That would be great if you could give it a first pass.

I think expanding the Hermitian conjugate function to a general PolynomialTensor class is probably a good idea, even if it's not typically used (@ncrubin @kevinsung , any idea why h.c. isn't implemented for PolynomialTensor in general?).

Also, following python naming standards, I think we'll need to call it h_conj.

Other than that I think t

[2020-09-16 19:05] kevinsung commented on #309
This was done in https://github.com/quantumlib/OpenFermion-Cirq/pull/281.

[2020-09-16 19:05] #309 closed

[2020-09-21 20:14] joel-hutchinson opened #665 "Spin models on a honeycomb lattice"
Hi all,

I've been using OpenFermion to study some simple spin models on the Honeycomb lattice related to the Kitaev model, and it occurred to me, given the popularity of the Kitaev model and other spin models e.g. Heisenberg, XY, etc., it would be convenient to define a Hamiltonian function for such models. Getting the connectivity right for the honeycomb lattice takes a bit of thought, so perhap

[2020-09-27 16:39] ncrubin commented on #665
This sounds great to have.  Looking forward to the code!

[2020-09-27 16:44] #420 closed

[2020-09-27 16:50] ncrubin commented on #266
@cmendl I wanted to gauge you interest in this again.  I've certainly implemented lots of my own RDM utilities so maybe that means they should go into the library.  I think if we are restricting ourselves to marginals of particle conserving operators then we can implement RDM generators the way that they do in chemistry FCI codes.

[2020-09-30 06:13] hfitzhugh opened #667 "no attribute 'final_state_vector' -- this error occurs with several of the tutorials (my first git post, hope it is sensible, could not find in search)"
Here is an error I receive while running the circuits_1_basis_change notebook tutorial.  Other tutorials produce the same error.
Thank you.

AttributeError                            Traceback (most recent call last)
<ipython-input-15-c95cdb2b3c9b> in <module>
     13 result = simulator.simulate(circuit, qubit_order=qubits,
     14                             initial_state=initial_state)
---> 15 s

[2020-09-30 15:40] vtomole commented on #667
What versions of Python, Cirq and Openfermion are you running?

[2020-09-30 18:04] hfitzhugh commented on #667
I performed the developer installation of OpenFermion several hours ago using:

git clone https://github.com/quantumlib/OpenFermion
cd OpenFermion
python -m pip install -e .

Python version is 3.8.5, as chosen by the conda environment I created for this, I presume.

For Cirq, if I have this it is the version that would come upon the above installation.  I did not explicitly add or install cirq.  I

[2020-10-07 04:45] jitendrs commented on #633
HI @obriente I will be happy to help you out with this issue. let me know how I can start.

[2020-10-07 06:51] obriente commented on #633
Hi @jitendrs - I guess it's probably best to start adding hints to some of the higher level locations - say transforms, hamiltonians, and circuits. Basically just add the hints, make sure they don't create circular imports, and then create a PR and I can review it. Thanks!

[2020-10-14 23:10] ncrubin commented on #634
I think we've settled this a bit.  @obriente are you okay with this issue being closed?

[2020-10-14 23:11] ncrubin commented on #649
closing since inactive

[2020-10-14 23:11] #649 closed

[2020-10-14 23:30] #606 closed

[2020-10-14 23:32] #543 closed

[2020-10-14 23:33] ncrubin commented on #543
closed due to inactivity.

[2020-10-14 23:34] ncrubin commented on #562
I too have wondered this...

[2020-10-14 23:34] #517 closed

[2020-10-15 07:16] obriente commented on #634
If I remember rightly we'd talked about renaming operators -> symbolic and representations -> tensor but we never got around to implementing it. If we still want to do that then maybe we need to rename 'opconversions' -> 'symconversions' and 'repconversions' -> 'tconversions' or something?

[2020-10-15 07:17] obriente commented on #634
(Specifically, we talked about this in #649 and I think you were ok with the change as well?)

[2020-10-15 15:57] ncrubin commented on #634
Given that I'm fine with the way it is. I'd like to assign the change to someone or close the issue.

[2020-10-15 16:39] obriente commented on #634
If you're ok with the suggested changes I'm happy to have it assigned to me.

Maybe 'symbolic_conversion' and 'tensor_transformations' instead of opconversions and repconversions?

[2020-10-15 17:23] ncrubin commented on #634
SGTM

[2020-10-17 18:08] ncrubin commented on #660
Hi @davidzsoltmanrique, thanks for flagging this.  Could you provide a bit more information about this issue?  maybe a code snippet you are using to test the effect?

[2020-10-17 18:09] #590 closed

[2020-10-17 18:12] ncrubin commented on #453
I believe this is changed.  `number_operator` input line is `number_operator(i, coefficient=1., particle_hole_symmetry=False)`  @kevinsung should this be closed?

[2020-10-17 18:13] #362 closed

[2020-10-19 14:57] kevinsung commented on #453
@ncrubin The definition of `number_operator` is not what you said; it's actually https://github.com/quantumlib/OpenFermion/blob/1997ea6042285339cec58c12c33a903b9ec97a30/src/openfermion/hamiltonians/special_operators.py#L273

This issue has not been fixed.

[2020-10-19 23:21] ncrubin commented on #453
@kevinsung LOL there are a bunch of `number_operator` functions.   Apparently I pasted the one you and Bryan wrote a couple of years ago.  https://github.com/quantumlib/OpenFermion/commit/4c0df2e1e9cf641683259eba4d2736eea34da1f7

[2020-10-20 13:41] kevinsung commented on #453
Oh, it looks like that one should be marked private, since it was defined for use in the file that contains it (and not exported).

[2020-10-22 08:31] Emieeel opened #677 "Factor 1/2 in get_molecular_hamiltonian"
In the function get_molecular_hamiltonian of the molecular_data class, you go from spatial orbitals to spin-orbitals for a given set of molecular integrals to initialize an InteractionOperator:

[code]
I think the factor 1/2 is confusing here. This will cause the two_body_coefficients in this function and the InteractionOperator.two_body_tensor to be 1/2 times the molecular integrals. Maybe it wou

[2020-10-22 22:32] ncrubin commented on #677
Hi @Emieeel I understand how this can be confusing but I think it is consistent with what is output to Interaction operator.  InteractionOperator is strictly coefficient * operator (in matrix form).  There is a 1/2 in front of all the coefficients when defining the Hamiltonian in the spin-orbital basis.

I agree that there is a bit of confusion here so maybe we can elaborate on the documentation i

[2020-10-26 10:45] Emieeel commented on #677
I see, I understand you would have the InteractionOperator representing not only Hamiltonians with this convention but rather general operators.

I could incorporate a function to return the antisymmetrized integrals and J and K matrices within the InteractionOperator or Molecular_data class, would that be useful?

[2020-10-26 21:37] ncrubin commented on #677
Yes that would be a really great addition.  Within the MolecularData class is the most appropriate place.  I would recommend writing stand alone functions and then exposing those functions through the MolecularData class.  That way we can use those tools later and we won't be burdened with instantiating a MolecularData object.

[2020-10-27 05:02] ncrubin commented on #667
Hi Henry,  could you post the exact code here if you are still having this issue?

[2020-10-27 09:13] Emieeel commented on #677
Oh, and do you want them in the basis of spatial orbitals or spin-orbitals? I think spatial orbitals (i.e. the one/two_body_integrals object) would be sufficient for doing Slater-condon type calculations as openfermion works in the restricted formalism as far as I know.

[2020-10-28 01:08] ncrubin commented on #677
Spatial for J and K are fine for all cases.  For the antisymmetric integrals I think you need spin-orbital version...but I'll check on that

[2020-10-30 00:35] ncrubin commented on #667
Okay I got to the bottom of this.  The problem is that openfermion is pinned to Cirq.0.8. WaveFunctionTrialResult had an attribute `final_state` which in `TrialSimulationResult` is `final_state_vector`.  A bunch of stuff has moved under us so I am going to bump the version of cirq we are pinning.

[2020-10-30 02:26] ncrubin commented on #667
#684 fixes this.

[2020-10-30 02:26] #667 closed

[2020-11-03 02:39] #677 closed

[2020-11-12 01:37] ncrubin opened #690 "Docs with incorrect links"
When autogenerating the API docs none of the links for "View source on Github" hyperlink are correct. They seem to be missing the `/` between `src` and `openfermion`.  For example,

`https://github.com/quantumlib/OpenFermion/tree/master/srcopenfermion/circuits/trotter/algorithms/split_operator.py`

srcopenfermion should be src/openfermion.

All autogenerated pages seem to have this problem.   I as

[2020-11-12 07:10] jitendrs commented on #633
@obriente Thanks. let me start looking at the code.

[2020-11-12 17:47] lamberta commented on #690
Hi @ncrubin ,

Yes, appears so. Looking at the Cirq [build_api_docs.py](https://github.com/quantumlib/Cirq/blob/master/dev_tools/docs/build_api_docs.py#L31) script and it does include the trailing slash.

The dev docs are separated into two categories: *narrative* (guides and tutorials in the `docs/` directory) and *reference* (API ref pages generated from docstrings in the source code). And since

[2020-11-12 17:58] yashk2810 commented on #690
The `View source in github` links seem to work fine: https://quantum.devsite.corp.google.com/reference/python/openfermion/ops/BinaryCode

[2020-11-12 18:05] lamberta commented on #690
Yash confirmed the GitHub source links work. Can you ask on go/tf-docs-chat to clarify? Thanks

[2020-11-13 00:32] ncrubin commented on #690
I think requiring users to push to github to view their documentation changes is a problem.  My reasoning behind this is that quite frequently we are writing long mathematical expressions in the docs which don't always translate nicely into rst/markdown.  When writing latex a frequent task is to check that the rendered text is formatted as intended.   I was able to compile the API docs using the s

[2020-11-13 01:02] lamberta commented on #690
To preview LaTeX in Markdown, probably easiest is to open an empty Colab notebook and try it in a new Markdown text cell (Colab supports MathJax): https://colab.research.google.com/notebooks/empty.ipynb
If it renders there and not on the site, it's probably a bug in our conversion. But the only way to really know is to do a full preview on the (internal) staging server. You can do that from a loca

[2020-11-13 01:07] lamberta commented on #690
Ah, OpenFermion already includes a section for building docs: https://github.com/quantumlib/OpenFermion/blob/master/docs/install.md#build-the-docs
So, yes, I think it makes sense for the quantum team to agree on a general plan (follow x from the Google dev docs style guide, follow y from the TensorFlow docs guide, and here's the quantum style guide ...). If would be better to have one of these ins

[2020-11-13 22:32] ncrubin commented on #690
Agreed.  @balopat and I can discuss what's best here.  It seems like I can use colab with a local runtime (jupyter) so I'll figure that out and write that into the openfermion docs building and viewing instructions.  That should be sufficient for viewing the output of the API docs.

[2020-11-13 22:35] yashk2810 commented on #690
@balopat  was working on a dummy site using some thing. Maybe you can use that.

[2020-11-26 10:39] obriente opened #691 "Allowing more general indices for SymbolicOperator"
Currently, we only allow the index of a SymbolicOperator to be a single number. In some cases (e.g. conversion to a sparse matrix or to a PolynomialTensor) this is required, but in many cases it makes sense to label spin or fermionic creation/annihilation operators with more than just one index. E.g. to represent spin, or to put on a lattice. Currently the user then has to keep track of the mappin

[2020-11-27 23:38] ncrubin commented on #691
I'll have to certainly think about this more.  For inspiration you can checkout what I do in the `representability` library in third_party.

https://github.com/quantumlib/OpenFermion/blob/master/src/openfermion/third_party/representability/_bijections.py

I define a bijection which maps you from one set of labels to another.  I did this pretty much because of the scenario you are describing.  Some

[2020-11-28 14:35] obriente commented on #691
Thanks for the quick reply, and that's a useful link.

I agree with the worries about implementation + maintenance, which is why I figured raising the issue for discussion might be a good idea (maybe this is more appropriate to bring up in the Google Group?). I think I'd like to push for something minimal that doesn't change much:

As far as I am aware, as long as the user provides indices that ar

[2020-11-28 19:13] ncrubin commented on #691
Probably bringing up on Google Group is good too since the group will be pinged about this discussion.

I am still biased towards building something on top of the existing infrastructure instead of building 'order_operator_indices' into SymbolicOperator.  I am imagining a new object "LatticeIndexing" or whatever you want to call it that inherits from SymbolicOperator but then just redefines the in

[2020-11-30 16:46] alicjadut commented on #665
This kind of models is quite easy to define in kwant (kwant-project.org). I started working on importing hamiltonians from kwant to openfermion, check it out: https://github.com/alicjadut/kwant_to_openfermion

[2020-12-18 23:38] #690 closed

[2020-12-18 23:38] ncrubin commented on #660
Closing due to inactivity.

[2020-12-18 23:38] #660 closed

[2020-12-28 05:26] basernapairs opened #697 "Couldn't find OpenFermion.Hamiltonians pkg"
Hii i want try this ex. code, but still error when after adding OpenFermion pkg, so where Hamiltonians  ?

![image](https://user-images.githubusercontent.com/75351310/103191392-c433d380-490f-11eb-84d8-fb268893db7a.png)

![image](https://user-images.githubusercontent.com/75351310/103191479-25f43d80-4910-11eb-8c52-7dd3590b0aa6.png)

[2020-12-28 05:49] #697 closed

[2020-12-28 06:05] basernapairs opened #698 "Couldn't find OpenFermion.Hamiltonians Pkg"
Hii i want try this ex. code, but still error when after adding OpenFermion pkg, so where Hamiltonians  ?

![image](https://user-images.githubusercontent.com/75351310/103191392-c433d380-490f-11eb-84d8-fb268893db7a.png)

![image](https://user-images.githubusercontent.com/75351310/103191479-25f43d80-4910-11eb-8c52-7dd3590b0aa6.png)

[2020-12-30 18:38] ncrubin commented on #698
Hi @basernapairs ,  I believe this problem is related to where PyCall is looking for our python packages.  PyCall defaults to a python build that comes in Conda.jl.  Following the docs on PyCall I was able to set up a new environment, install openfermion, point my PyCall build to that envs python, and then successfully import OpenFermion.

I used the following after making a new env with a fresh O

[2020-12-31 18:15] #698 closed

[2021-01-07 18:16] mpharrigan opened #699 "Outline for a series of notebooks comprising tutorials about OpenFermion basics"
I sent this email to some people late last year, reproducing here for reference. The original context was how to document the HFVQE experiment in ReCirq, but on the openfermion sync we talked about how a similar structure of ~4 notebooks could serve as a good tutorial to openfermion basics.

------

The project is to take the paper https://arxiv.org/abs/2004.04174 which has code here: https://gith

[2021-01-18 05:14] loriab opened #701 "conda-forge package?"
Hi, A while ago (https://github.com/quantumlib/OpenFermion/pull/376#pullrequestreview-131830920) you preferred conda packages of openfermion to remain on the psi4 channel. That's worked nicely so far through v0.11. I just finished packaging v1.0 and ended up needing to package cirq and @jcmgray's quimb, too. Users of the psi4 channel probably aren't the target audience for any of those. Also, psi4

[2021-01-18 05:23] jcmgray commented on #701
For what its worth `quimb` should be very easy to package to `conda-forge`, and I plan to - just haven't got round to it yet..

[2021-01-18 11:00] cvjjm opened #702 "smbolic_operator.py::_issmall() could (should?) be a static member of SymbolicOperator"
smbolic_operator.py defines the function `_issmall()`. Unfortunately it is defined in the file but not part of the class, which is why derived classes cannot overwrite it.

I would like to request that `_issmall()` is made part of the class as a `@staticmethod`.

Background: I would like to implement a "vector valued" (`numpy.ndarray` values to be precise) subclass of `QubitOperator`. This is almo

[2021-01-18 11:06] obriente commented on #702
I can't see any potential issues with this. Do you want to make the change?

[2021-01-18 12:17] cvjjm commented on #702
OK. PR opened under #703 .

[2021-01-21 18:12] mpharrigan commented on #701
pyquil and quimb also aren't part of the main requirements of cirq (they're part of an optional set of dependencies we call "contrib").

We should have a cirq conda-forge package, though @balopat

[2021-01-24 15:09] ironmanaudi opened #706 "Documentation issue"
I notice that there is no materials about variational quantum eigensolvers (VQE) in the documentation of OpenFermion. I suppose the algorithm is a hot spot for the lastest researches of quantum computing. Also, without official document, it is hard to find a up-to-date demo code for researcheres to carry out VQE experiments, which could cause some trouble. It would be lovely to add some demo code

[2021-02-08 17:34] PabloAMC commented on #659
@babbush perhaps a stupid question: if not with Gausslets, how can one use plain waves?

I have been trying the most naive way of doing it:
[code]

But does not like it.
[code]
Any idea of how to do something similar? Or plane waves are only available for jellium?
Thanks a lot!

[2021-02-11 11:15] PabloAMC opened #707 "Automatic selection of active orbitals"
Although OpenFermion allows specifying the orbitals from the active space, there is currently no implementation of how to select them automatically. Would this be easy to implement?

[2021-02-11 12:47] PabloAMC opened #708 "Calculating the error from low rank approximation"
I am trying to replicate similar calculations as those performed in [arXiv:1902.02134](https://quantum-journal.org/papers/q-2019-12-02-208/pdf/) page 12 where the authors calculate the error in the calculation of the ground state energy using methods such as CISD, MP2 (and in later papers, it was also suggested to use CCSD) from the low-rank approximation of the two-body Hamiltonian term. The ques

[2021-02-11 16:54] ncrubin commented on #707
Hi @PabloAMC,  Selecting an active space is one of the most challenging pieces of a post-HF calculation.  While OpenFermion does not support automatic active space selection there are tools in pyscf that do this for you.  For example, AVAS (https://github.com/pyscf/pyscf-doc/blob/master/examples/mcscf/43-avas.py) is one such tool.  Even with AVAS there is problem specific tuning.  I would think of

[2021-02-11 16:54] #707 closed

[2021-02-11 16:58] babbush commented on #708
This is a good question. In that paper (and later ones where we explore the low rank truncation) we had to write additional code that would feed the rank truncated Hamiltonian integrals back to the electronic structure packages. We will talk about adding some of that code to OpenFermion but it might take a while since it is kind of complicated to do in a fashion that will work for any system.

[2021-02-12 17:44] ncrubin commented on #708
@PabloAMC you can use pyscf or psi4 (through numpypsi4) to add a custom Hamiltonian.  Here's an example of a custom RHF Hamiltonian created in pysf (https://github.com/pyscf/pyscf-doc/blob/master/examples/scf/40-customizing_hamiltonian.py).  Note that the integral ordering in pyscf is different than in OpenFermion.  Numpypsi4 (https://github.com/psi4/psi4numpy) has many implementation of standard

[2021-02-12 17:44] #708 closed

[2021-02-23 19:29] ncrubin opened #711 "Orbital optimization"
It would be really nice to have orbital optimization routines in OpenFermion.  A basic one can be made with the Hartree-Fock gradient code.

[2021-03-02 03:47] kharazity commented on #635
Why not have hermitian conjugation as a util function _and_ an abstract method on SymbolicOperator, where each subclass implements their own version of `.hc()`?

[2021-03-02 05:31] loriab commented on #701
Is there any way to run tests without these optional dependencies? That's where I'm hitting trouble building and testing a non-contrib cirq package?

[2021-03-02 19:00] mpharrigan commented on #701
It should work as long as you don't run the contrib tests, for example

[code]
from the source directory.

For the conda package, you can probably just get away with testing that `import cirq` works in the conda recipe and rely on the unit tests being run by our CI. Don't know what your opinion of this strategy is

[2021-03-04 00:09] balopat opened #713 "Add nightly integration test with Cirq master"
Similar to [TFQ](https://github.com/tensorflow/quantum/actions/workflows/cirq_compatibility.yaml) OpenFermion could benefit from knowing about breaking changes earlier rather than later coming from Cirq.

[2021-03-04 22:55] loriab commented on #701
Thank you, but the difficulty is that the optional contrib packages are imported at tests collection time, not just run time.

Skipping tests for cirq is ok by me for the psi4 channel, which is what I've done. For conda-forge, they strongly encourage tests. Would import availability guards be reasonable?

[2021-03-04 23:14] mpharrigan commented on #701
oh that's really annoying.

I think import tests will get us most of the way there. I would think conda-forge doesn't want their infrastructure tied up running cirq tests? https://conda-forge.org/docs/maintainer/adding_pkgs.html#test says it should be fine

I also found https://stackoverflow.com/a/57003743 if you still want to try to get the test to run without contrib

[2021-03-07 00:12] ncrubin commented on #481
I think it is time this is revisited.  The pubchem servers have been pretty flakey lately so this problem is appearing more.  @viathor I can revisit this and refactor if you'd like.

[2021-03-07 00:18] ncrubin commented on #481
I propose we remove this functionality or move it to a contrib folder.  pubchempy doesn't support the versions of python we are running and should not be a core dependency of OpenFermion

[2021-03-07 00:31] ncrubin opened #715 "check python 3.8 support"
Expand the supported python versions by checking newer pythons and functionality.

[2021-03-09 13:44] xabomon opened #718 "Latest Cirq release conflicts with OpenFermion requirements"
Hi all,

I'm experiencing conflicts between latest cirq release (v0.10.0) and the cirq requirements in Openfermion (v0.9).

How long would it take for this to be updated?

[2021-03-11 05:40] ncrubin commented on #718
I pushed a new version to pypi 1.0.1 which works with v0.10.0 cirq.   OpenFermion (v0.9) certainly had issues which the 1.0.1 cut works out.

[2021-03-19 17:35] #718 closed

[2021-03-31 07:40] michaelkaicher opened #719 "Is there a better way to do matrix exponentials of polynomials of FermionOperators/MajoranaOperators?"
Hi all, I have not found a function in openfermion that would allow me to compute the matrix exponential of a (in my case second-order) polynomial of fermionic (or majorana) operators (the matrix exponential will here be a unitary operator). The dumb way I do it is I calculate the polynomial using `FermionOperator()`, and then I use `get_sparse_operator()` to get its sparse matrix representation.

[2021-04-01 03:55] ncrubin commented on #719
As far as I know OpenFermion does this capability directly. The sequence of `get_sparse_operator` -> `expm()` is the common mode of operation.

[2021-04-01 08:08] michaelkaicher commented on #719
Thank you for the quick reply! I will use expm() then! But I was more thinking if there's a way OpenFermion could compute these matrix exponentials approximately using a Taylor expansion and quick commutator evaluations of the symbolic operators. But this probably will be super slow and inefficient except if the argument in the exponential has some special properties like in case of the fermionic

[2021-04-01 09:04] obriente commented on #719
The datastructure we use for FermionOperators is pretty inefficient - we just store everything as a dict. I think doing the matrix exponential using the sparse form of the matrix will probably be faster than any Taylor expansion you could do here.

[2021-04-01 22:22] babbush commented on #719
Michael, can you state more completely what you are trying to do? I suspect that whatever it is can be accomplished with very high numerical efficiency using our new OpenFermion-FQE (fermionic quantum emulator) library. It is accessible to you, but we are still working on docs / tutorials / release paper so it isn't really "launched" yet...

[2021-04-02 10:06] michaelkaicher commented on #719
Hi Ryan, what I need to do is compute a polynomial of fermionic operators and take its matrix exponential, then multiply it with the vacuum state |0> (a one-dimensional array of length 2^N). In the simplest form, this will look something like this:

|Psi(M)> = U(M)*|0>

where M is a (2N x 2N) matrix and U(M) is a unitary of the form

U(M) = exp( sum_{p,q=1}^{2N} A_p * M_{pq} * A_q )

where A_p are

[2021-04-02 16:40] ncrubin commented on #719
The FQE exploits number and Sz symmetry to save wavefunction memory.   Since Majorana's are translated to number breaking fermion ladder operators (they are a linear combination of raising and lowering). I'm not confident you will get a large savings with FQE.  If you have particle conservation then FQE can save you a lot of memory and it implements very fast products.  In fact for dense fermionic

[2021-04-02 16:46] michaelkaicher commented on #719
@ncrubin: Some of the models I consider are in fact number-conserving, meaning that matrix elements which would change particle number those not containing an equal number of creation and annihilation operators) are zero. So for those type of systems it would be extremely helpful if I could try FQE

[2021-04-03 05:56] ncrubin commented on #719
FQE can be found here (https://github.com/quantumlib/OpenFermion-FQE).  Happy to answer any questions as you get started with the library.  Like Ryan said, we've soft launched the library and would appreciate feedback!   FQE will digest FermionOperators so you won't have to do anything very fancy to get started.

[2021-04-04 07:44] michaelkaicher commented on #719
@ncrubin Thanks a lot! I will make sure to try it for number conserving systems, and of course just see what it can do in general. Cheers!

[2021-04-04 17:22] #719 closed

[2021-04-08 19:22] PabloAMC opened #720 "Symmetry in low rank Hamiltonian factorization"
I am using the function low_rank_two_body_decomposition (https://github.com/quantumlib/OpenFermion/blob/deeaad5fea69ceadfad9f5befeea9249516cb761/src/openfermion/circuits/low_rank.py#L76) to get a low-rank factorization of the Hamiltonian, and want to recover the Hamiltonian in the form of
:math:`\sum_{pqrs} V_{pqrs} a^\dagger_p a_q a^\dagger_r a_s` from equation 7 in https://quantum-journal.org/pa

[2021-04-08 20:20] mafaldaramoa opened #721 "Angle of rotation in trotterize_exp_qubop_to_qasm is off by a factor of 2"
Hello,

I'm a student using OpenFermion for a project, and I'm having a problem with openfermion.circuits.trotterize_exp_qubop_to_qasm. I was trying to use it to trotterize the UCCSD operator, but it was working strangely.

I saw that it uses trotter_operator_grouping to decompose the operators, then it calls pauli_exp_to_qasm to trotterize each operator.

And I don't understant something regardin

[2021-04-09 09:10] PabloAMC commented on #720
Actually the `g_{pql}` are symmetric _within the precision of the calculation_, so I am just using `(g + g.T)/2` for each value of `l` and that works.

[2021-04-09 09:10] #720 closed

[2021-04-13 04:57] ncrubin commented on #721
Hi @MafaldaRA ,  I'm assuming the Rz evolution you are talking about is the ladder-of-cnot way of implementing a multi qubit term.  I think your question ultimately comes down to the convention on the Rz rotation so it mayor may not be a bug. Could you maybe use your code to implement a simple test comparing the output of a matrix exponential of the full 2^n x 2^n Pauli operator and the circuit to

[2021-04-13 07:11] jitendrs commented on #715
Hi @ncrubin Can you assign this issue to me.

[2021-04-13 17:44] PabloAMC opened #722 "On finding the norm of the Hamiltonian"
In eq 36 from https://journals.aps.org/prx/pdf/10.1103/PhysRevX.8.041015 the norm of the Hamiltonian is used. In fact, this Hamiltonian norm is used also in other articles that do not use plane waves, such as https://quantum-journal.org/papers/q-2019-12-02-208/pdf/ implicitly assumed in the O(1) appearing in the definition of M (page 9).
I have seen that Openfermion has prepared a way to compute t

[2021-04-13 18:29] MafaldaRA commented on #721
@ncrubin sure.
For example, if I do:
[code]
The resulting circuit is:
[code]
Then I get the corresponding unitary matrix by using CIRQ's `unitary()` method on the circuit, and compare it with the exponentiated matrix:
[code]
But if I add a 0.5 factor to the Pauli string on the calculations, the resulting unitary turns out to be equivalent to the circuit one.
[code]
So that it seems like there the

[2021-04-13 18:42] ncrubin commented on #715
@jitendrs thanks for taking a look at this!

[2021-04-13 18:57] ncrubin commented on #721
Awesome. Thank you for doing that.  Indeed it looks like an issue on the Trotter step implementation. One thing to note, if you want to check if two unitaries are equivalent up to phases you can do abs(trace(U1.conj().T @ U2)), taking the norm of the inner product of the unitaries.  This should be equal to the size of your hilbert space.  If it isn't then you know the unitaries aren't the same eve

[2021-04-13 19:15] obriente commented on #721
I have a feeling that this is an issue with the definition of 'Rz' - some people would say 'Rz(theta)=exp(1j * Z * theta)', some people would say 'Rz=exp(-1j * Z * theta / 2)'. Cirq uses the latter, whereas I think this code uses the former (I think the original implementation of this code predates cirq by a year or so, it's pretty old lol.)

Thanks for spotting the error. What this code should do

[2021-04-13 22:46] MafaldaRA commented on #721
@ncrubin I had no idea about that problem, thanks for the tip!

@obriente I noticed that simulate_trotter gives a direct implementation for CIRQ. But it uses other algorithms that I don't think are suitable for what I want. I checked the article about the low rank algorithm for instance (arxiv:1808.02625) and I saw that it relies on the eight-fold symmetry of the Hamiltonian.

I wanted to trotteri

[2021-04-14 07:42] obriente commented on #721
Yes, this would be good to implement - been difficult to find the time to do this though, as this more standard Trotterization isn't so state-of-the-art anymore. You can definitely use a low rank factorization for UCCSD, but it's a bit more complicated to get your head around, and the operator isn't exactly the same as you implement doing it term-by-term.

Cheers,

Tom.

[2021-04-14 07:53] obriente commented on #722
I take it that by norm you mean spectral norm / largest eigenvalue? Bounding this well is hard. The bounds I know of is the Frobenius norm that you mentioned, and a quick wikipedia scan also claims the spectral norm is bounded by sqrt(||A||_1 ||A||_{\infty}), where ||A||_1 and ||A||_{\infty} are the largest (absolute value) row sum and largest (absolute value) column sum respectively. Doing anythi

[2021-04-14 11:49] jitendrs commented on #715
@ncrubin Thank you.

[2021-04-14 19:44] PabloAMC commented on #722
Thanks @obriente for the answer. Right now I am even more confused than yesterday because executing
[code]
prints
[code]
and I must be doing something wrong then because supposedly ||H||/lambda << 1 (as can be seen from the definition of lambda in my first comment and the fact that H_j are unitary).

[2021-04-14 22:40] obriente commented on #722
Not sure that I follow why ||H||/lambda << 1 is necessary here? Note that the 1 norm / infinity norm I mentioned in the above definition are defined w.r.t. the matrix columns in the 2^Nx2^N matrix representation of the operator, while summing abs(d.values) will give you this 'induced one-norm', which is like the 1-norm in a vector space defined on some basis vectors that are not norm-1 in the orig

[2021-04-15 07:50] PabloAMC commented on #722
Sorry, there was a typo: I did not mean `<<` but only `<`. As for the prove of why ||H||<lambda:
[code]

[2021-04-26 10:49] PabloAMC opened #723 "Are there plans to implement double rank factorization or tensor hypercontraction methods?"
Are there plans to include in OpenFermion methods to perform the double rank factorization method of [https://arxiv.org/pdf/2007.14460](https://arxiv.org/pdf/2007.14460) and the tensor hypercontraction method [https://arxiv.org/pdf/2011.03494](https://arxiv.org/pdf/2011.03494), for example once they are published?
Thanks!

[2021-04-26 15:27] babbush commented on #723
I am not sure if we will include the double factorization method. It would definitely be in scope though and we'd welcome the contribution. The tensor factorization method is available in QChem and we will likely also add functionality to OpenFermion to use it in the context of fault-tolerant resource estimates, eventually. That's a larger project on a roadmap but I can't say when we would be fini

[2021-05-17 15:34] vincentelfving opened #729 "get_sparse_operator does not handle DOCIHamiltonian objects as expected"
`DOCIHamiltonian` subclasses `PolynomialTensor`. That means, if a user applies  `get_sparse_operator` to an instantiation of a `DOCIHamiltonian`, it will 'work' and automatically assume that it is a `FermionOperator` according to [this check](https://github.com/quantumlib/OpenFermion/blob/fef1fd13faa8fd28f79b017cbcdd31460413137b/src/openfermion/linalg/sparse_tools.py#L1255) .
(The reason is (I gue

[2021-05-17 15:41] obriente commented on #729
So, a DOCIHamiltonian has a representation in fermion form (where it has twice as many spin orbitals) and one in qubit form (which we have correct). It was my intention for get_sparse_operator to provide the first, not the second, and with this specified I wouldn't expect the two representations to have the same expectation value on the same state. But, there's clearly a bug here - I would expect

[2021-06-03 08:43] quantumdip opened #731 "Identity operator is automatically added"
I am new to OpenFermion, so kindly expect that this may be a feature that could be turned off (but I was unable to do so) than a bug. The problem happens when I use the FermionOperator and the jordan_wigner transformation. Specifically, an identity operator is automatically added when two or more terms including four operators are added.

As a minimal example consider the two different terms from

[2021-06-03 18:44] babbush commented on #731
Actually this is not a bug and the identity operator should be there. The JW transform of the number operator is (I - Z) / 2. That way it has eigenvalues of 0 and 1. Thus n_0 n_1 = I/4 - Z_0 / 4 - Z_1 / 4 + Z_0 Z_1 / 4. So the sum of two terms n_0 n_1 + n_1 n_2 has an identity term with coefficient 0.5. I am going to close this issue.

[2021-06-03 18:44] #731 closed

[2021-06-04 09:00] quantumdip commented on #731
Thanks for the quick clarification. Indeed, you are correct.

Is it possible to use the other convention, i.e. (I + Z) / 2 ?

I was trying to reproduce the JW transformation from https://arxiv.org/pdf/1411.2465.pdf (see Eq.(2)), and OpenFermion is not giving the correct result. They use the + convention, I believe.

[2021-06-04 15:16] babbush commented on #731
Yeah that would "fix" it. It is a bit strange to use the 1 + Z convention. This is just a change of gauge but it means that the number operator acting on |1> gives 0 and acting on |0> gives 1, which is very counterintuitive.

[2021-06-04 18:17] quantumdip commented on #731
As it turns out, that is still not enough. Unfortunately, the very first example I learnt of JW transform (from the arXiv paper referred to above) is incorrect. That is why the cosset over removing the identity operator.

The second term of Eq.(4) is missing the Identity term, and IZI should have a coefficient of 0.5. It is still a valid Hamiltonian but does not represent Eq.(2).

Anyway, this has

[2021-06-21 08:18] ChrisW918 opened #732 "Failed to import Ansatz from Openfermioncirq"
I followed the instruction in github to import types of ansatz from _openfermioncirq.varional_ , but it reports the fault:

ModuleNotFoundError: No module named 'openfermion.ops._givens_rotations'

I tried to check the _ops_ package, and it turns out that _givens_rotations_ has been removed.

How can I fix this? Or is there other ways to import ansatz?

[2021-06-21 08:30] obriente commented on #732
Hi Chris,

The file you want can be found in openfermion.linalg now instead of openfermion.ops .

Openfermioncirq has been depreciated, so it's not so surprising that the links are broken. You can find most of what you might be looking for these days in openfermion.circuits .

Cheers,

Tom.

[2021-06-21 16:11] ncrubin commented on #715
any news on this?  It would be nice to add the 3.8 tag to OpenFermion

[2021-06-21 16:12] ncrubin commented on #419
One can use `general_basis_transform` as a substitute which is standalone.

[2021-06-21 16:12] #419 closed

[2021-06-21 16:16] ncrubin commented on #266
closing due to inactivity.

[2021-06-21 16:16] #266 closed

[2021-06-21 16:16] #334 closed

[2021-06-21 16:17] ncrubin commented on #412
handled by reorg.

[2021-06-21 16:17] #412 closed

[2021-06-21 16:18] ncrubin commented on #634
resolved on our reorg.

[2021-06-21 16:18] #634 closed

[2021-06-21 16:19] ncrubin commented on #626
new docs website and reorg takes care of this....though further documentation and tutorials are always needed!

[2021-06-21 16:19] #626 closed

[2021-06-21 16:20] ncrubin commented on #608
closing due to inactivity.  Expanded simulation techniques can also be interfaced through OpenFermion-FQE.

[2021-06-21 16:20] #608 closed

[2021-06-22 01:29] ChrisW918 commented on #732
Hi Tom,

Cool. I was trying to structure ansatz for calculating optimal ground-state-energy, yet it seems all the tutorials or illustrations online are overdue.

Do you updated any available source?

[2021-06-22 13:55] cvjjm opened #733 "Possible bug in InteractionRDM.get_qubit_expectations()"
I think I may have fond a bug in:

https://github.com/quantumlib/OpenFermion/blob/9b1c22cae2124cf1d4e48d6d123767f8491a0b41/src/openfermion/ops/representations/interaction_rdm.py#L95

Running the very simple example code:
[code]
returns the result `[-3.0, -1.0, -1.0]`.

In my understanding of the documentation is that `InteractionRDM(np.diag([1, 1, 1, 1]), np.zeros((4, 4, 4, 4)))` should correspond

[2021-06-22 14:54] obriente commented on #732
@tanujkhattar , do the tutorials that you were drafting still work on the current version of openfermion? They haven't been added to master yet but perhaps they're still valuable to Chris.

@ChrisW918 , apologies, the openfermion tutorials for VQEs are bit out of date (mainly because most of the workflow is done using cirq these days). For the actual variational loop, you can have a look at https:

[2021-06-23 10:07] ChrisW918 commented on #451
Hi guys, I got a question that what is the return of uccsd_generator. Is that a circuit under uccsd ansatz? If so, how can I create a cost_function to apply optimizer and get the ground state energy of an arbitary molecule? It seems the present tutorial online is outdated and not get Cirq included.

[2021-06-23 10:18] obriente commented on #451
Hi Chris, the function generates a FermionOperator which would correspond to the cluster operator with the input singles and doubles operators. This still needs to be converted into a quantum circuit via exponentiation / Trotterization (see the routines in openfermion.circuits.trotter), and then the cost function for the Hamiltonian needs to be implemented separately.

Cheers,

Tom.

[2021-06-23 10:40] cvjjm commented on #733
I fooled myself when cooking up the minimal example (of course my RDM is non-representable and thus the strange return value exceeding the operator norm of the observable is possible). I still think there is a problem but I will have to get back to you with a better example.

[2021-06-24 02:14] ChrisW918 commented on #732
Thanks @obriente . I tried to def a cost_function to run iteration, yet the results were not expected.
Could you help me check the code please?

set up the basics of a molecule
[code]

initiate molecule's structure
[code]

#create the packed_amplitudes for later inputs
[code]

#def the cost_function
[code]

#run iteration
[code]

The function value of my current set up returns

[code]

Seems the f

[2021-06-25 01:44] ChrisW918 commented on #451
Thanks for reply, Tom @obriente. Is it work if I apply Jordan_Wigner as qubit transformer than trotter? And then convert the hamiltonian to sparse_hamiltonian using _get_sparse_operator( )_, which enables to return energy as output. Actually I posted my code in issue #732 , could you take a look at it.

[2021-06-25 07:33] ChrisW918 commented on #732
Sorry, it seems I didn't join Cirq in the function, yet I wonder for which function's output is an available observable for Cirq to exacute?

[2021-06-25 15:59] ncrubin commented on #733
ah..representability...

[2021-06-28 04:29] jitendrs commented on #715
@ncrubin I am still working on it. I will try to list out changes soon for validation.

[2021-07-07 11:19] tanujkhattar commented on #732
@obriente yes, the draft still works with the latest openfermion but the VQE tutorial was supposed to come in part-2, which never happened.

@ChrisW918 To give you a brief example of how to create and optimize an ansatz using Cirq, please see this example: https://colab.research.google.com/drive/1E7kgzBg_uUX58SA5ENHS4A1GVXJh2xtf?usp=sharing

[2021-07-12 10:02] ChrisW918 commented on #732
@tanujkhattar Thanks. And I noticed that the optimization used in your example is COBYLA, which accepts imaginary parameters, yet when I tried to apply optimizer like 'SLSQP' or 'Nelder-Mead', the program reports the direct cause of the exception is

`TypeError: can't convert complex to float`

It seems the generated parameters from ansatz is a list of imaginary numbers. Is imaginary parameter nec

[2021-07-12 17:03] tanujkhattar commented on #732
Since all the coefficients of the pauli terms in our `pauli_sum_hamiltonian` are real numbers, `p.estimated_energy()` will always return a complex number with imaginary part == 0.  I've sent a PR in Cirq to ensure that `p.estimated_energy` returns a `float` instead of `complex`. But in the meantime, returning `p.estimated_energy().real` from the cost function should be sufficient to support other

[2021-07-13 01:13] ChrisW918 commented on #732
@tanujkhattar Thanks for your expanation! I'm going to close this issue.

[2021-07-13 01:13] #732 closed

[2021-07-14 17:05] mpharrigan opened #736 "Release version compatible with Cirq 0.11"

[2021-07-21 14:28] balopat opened #737 "wrong LaTex formatting in docstrings"
https://quantumai.google/reference/python/openfermion/hamiltonians/FermiHubbardModel has uncompiled LaTex.
This is due to two issues:
* instead of `.. math::` notation, use `$$ ... $$` for multiline LaTex
* the new line in the middle of the expression might make the expression not compile either

[2021-07-24 15:23] #737 closed

[2021-07-26 17:07] ncrubin commented on #736
resolved by #739

[2021-07-26 17:07] #736 closed

[2021-08-04 19:19] A1eph0 commented on #633
Hi!
I am new to OpenFermion. If no one is currently working on this, I would like to take this up.

[2021-08-05 14:57] babbush commented on #633
@A1eph0 sure! That would be great!

[2021-08-11 09:27] PabloAMC opened #741 "Computing the parameter lambda from a MolecularHamiltonian"
I'm trying to understand how to compute the lambda parameter of a Molecular Hamiltonian. For example, let us say I have the following Molecular Hamiltonian data
[code]
One way I had thought of calculating the lambda parameter is as the sum of absolute values of the amplitudes in the Jordan-Wigner operator, eg
[code]
On the other hand though, one may use the amplitudes of the Hamiltonian, similarly

[2021-08-11 09:54] PabloAMC commented on #741
By the way, a third way I can think of is
[code]
To give an example, with water the values I get are
[code]

[2021-08-11 10:13] Emieeel commented on #741
Indeed, it makes sense that these are all slightly different values. The correct lambda value for a qubit Hamiltonian would be the first one (but you could substract the constant if you want). In https://arxiv.org/abs/2103.14753 appendix C we elaborate on why these values are slightly different, it has to do with the reordering of integrals when writing the Hamiltonian as a weighted sum of Pauli s

[2021-08-12 18:22] babbush commented on #741
@Emieeel I don't think the lambda value in our paper is "incorrect" (if that is what you mean to claim then can you describe this a bit better?). If I understand correctly, you are pointing out there is an additional symmetry in the Hamiltonian that can be taken advantage of. In particular, I think what you are pointing out is equivalent to the following. If you write it out in the normally ordere

[2021-08-15 20:13] PabloAMC commented on #741
Hey @Emieeel thanks a lot for your answer. So if I get it right, the reason why `self.lambda_value < lambda` above, is due to equation C18 in your article, `|g_{pqrs} - g_{psrq}| < |g_{pqrs}| + |g_{psrq}|`due to the grouping of terms @babbush is mentioning above (thanks also Ryan!).
Do we also know why `lambda_0` happens to be even larger than `lambda`? (sorry for the notation)

[2021-08-16 09:49] Emieeel commented on #741
@babbush Hi Ryan, thank you for pointing this out. Indeed our main point here was that one could take advantage of this symmetry of the Hamiltonian, such that you get the exact same lambda value for a qubit Hamiltonian (obtained for example by a JW transformation in OpenFermion) written in terms of unique Pauli operators -- for which this symmetry is not apparent -- but I agree that this not incor

[2021-08-16 15:11] babbush commented on #741
@Emieeel yep that is correct, I agree with everything you write in your most recent comment.

[2021-09-09 10:00] ChrisW918 opened #742 "Query about function uccsd_singlet_paramsize"
Hi,

I was testing the ansatz generated by unitary_cc, and want to know the parameter size for a built ccsd circuit.

I saw a function _uccsd_singlet_paramsize( n_qubits, n_e)_, is this my expectated function, namely, return the size of a parameter vector which later is used in optimization?

Following is the code I used

[code]

4
2

[2021-09-10 06:55] ncrubin commented on #742
yup! that's the number of parameters for restricted UCCSD.  The function definition is pretty clear. You can see we are adding together the number of single UCC amplitudes and doubles UCC amplitudes.  Since we are working with a restricted ansatz we consider spin-free excitation operators (thus the computations with spatial orbitals).

[2021-09-10 06:56] #741 closed

[2021-09-14 06:26] #742 closed

[2021-09-20 18:37] mpharrigan opened #743 "Release version compatible with Cirq 0.12"
See title.

It also might be worth explicitly depending on `cirq-core` and `cirq-google` rather than the entire metapackage.

[2021-09-21 14:24] PabloAMC opened #744 "Question: How to convert InteractionOperator.one_body_tensor to one_body_integrals (respectively two_body)?"
Hi!
I have `one_body_tensor` and a `two_body_tensor` corresponding to an InteractionOperator from a Hamiltonian.

**How can they be converted to `MolecularData.one_body_integrals` or `MolecularData.two_body_integrals` format?**

I think the opposite can be done using
[code]
according to https://github.com/quantumlib/OpenFermion/blob/40f4dd293d3ac7759e39b0d4c061b391e9663246/src/openfermion/chem/mol

[2021-10-13 12:31] cb2014 opened #745 "Possible small error in tutorial example code?"
In the tutorial code,
https://github.com/quantumlib/OpenFermion/blob/master/docs/tutorials/intro_to_openfermion.ipynb, under the heading "InteractionOperator and InteractionRDM...", there is the following block of code,

`for p in range(n_orbitals):
    for q in range(p + 1, n_orbitals):
        kappa[p, q] = random_angles[index]
        kappa[q, p] = -numpy.conjugate(random_angles[index])

[2021-10-13 18:46] ncrubin commented on #745
You are right.  It shouldn't be indented.  The loops are for forming the generator matrix kappa.  Indeed we are rotating with some partial kappa every time which isn't the intended function based on the text.  Thanks for finding the issue.  Feel free to open a PR to change it.  If I don't hear back in a couple of days I'll get around to making the change over the weekend.

[2021-10-14 10:25] cb2014 commented on #745
Glad to know I am not mistaken. As far as fixing it, I'm not hacker enough to be able to handle it (don't even know what "opening a PR" means) and will leave it to the pros. Thanks!

[2021-10-14 10:25] #745 closed

[2021-10-19 23:03] ncrubin commented on #743
just ran tests. only one fails..I will check what this is.

[2021-10-19 23:27] #743 closed

[2021-10-20 08:18] eul94458 opened #750 "Faster normal_ordered() suggestion"
It is about the function normal_ordered_ladder_term().

[normal_ordered_ladder_term](https://github.com/quantumlib/OpenFermion/blob/d3734cf27d518708d445788bd05b85349b1957cd/src/openfermion/transforms/opconversions/term_reordering.py)

I realized that we can actually break the layer of _for j in range(i, 0, -1):_ .

Since if no action at the certain j th index, it implies everything in front of tha

[2021-10-21 21:08] mpharrigan opened #751 "Release version that supports Cirq 0.13"

[2021-10-26 10:20] jamesphysics opened #752 "Implement Bravyi-Kitaev Transform for InteractionOperator"

[2021-11-01 18:45] #752 closed

[2021-11-09 00:20] mpharrigan commented on #713
This will be done in #755

[2021-11-12 18:45] mpharrigan commented on #751
@ncrubin can you do this at some point

[2021-11-12 18:45] mpharrigan commented on #751
Following #755 we won't necessarily need a new PyPI release for each new cirq version

[2021-12-06 23:03] #751 closed

[2021-12-08 16:04] kevinsung opened #760 "bogoliubov_transform and optimal_givens_decomposition differ by transpose"
The two routines have largely the same functionality but unfortunately differ by a transpose in their input. For example:
[code]
raises an AssertionError but if the line
[code]
is changed to
[code]
then there is no error.

These routines should actually be merged into one. The difference between the two routines is that `bogoliubov_transform` includes an argument that can be used to optimize the c

[2021-12-10 17:13] kevinsung opened #761 "optimal_givens_decomposition has bad side effects"
If you call `optimal_givens_decomposition` and then construct another circuit using the same qubits, the latter circuit can be incorrect. For example, below I create two circuits that should be identical, but the second one is different and incorrect:
[code]
[code]
[code]

[2021-12-11 23:38] ncrubin commented on #761
This is because `optimal_givens_decomposition` is mutating the variable `mat` I think.  Can you confirm this?

[2021-12-11 23:53] ncrubin commented on #760
do you recall if bogoliubov_transform is using the Clements algorithm to construct the circuit?  If not then they should not be merged into one.

[2021-12-12 15:09] kevinsung commented on #761
You're right, the issue is that `mat` is being mutated.

[2021-12-12 15:15] kevinsung commented on #760
`bogoliubov_transform` does not use the Clements algorithm, which means that using `bogoliubov_transform` without specifying the initial state is obsoleted by `optimal_givens_decomposition`. However, if the initial state is specified then the algorithm used by `bogoliubov_transform` is actually more efficient than the Clements algorithm. That's why I think the functions should be merged. Instead o

[2021-12-12 18:07] ncrubin commented on #760
They should not be merged because they are performing different
algorithms.  Researchers should have the option to pick which one they want
to use.  It is not the job of openfermion to make quadratic Hamiltonian
implementation blackbox.  Clements can be used more broadly for shadow
tomography and such.

On Sun, Dec 12, 2021 at 7:16 AM Kevin J. Sung ***@***.***>
wrote:

[2021-12-13 01:48] kevinsung commented on #760
That's a valid point. However, in this case the "different algorithms" are based on the same idea (decomposing the unitary into Givens rotations), so it seems to me that one strategy really does completely obsolete the other.

[2021-12-13 02:34] ncrubin commented on #760
In optimal_decomposion there isn't a good way to take advantage of particle number.  One algorithm does not obsolete the other.  If you'd like to submit a PR based on your prior observation updating the documentation to say that one of these methods implements U^{dag} then that would be good.  Otherwise I will close this issue.

[2021-12-24 01:34] #760 closed

[2022-01-03 10:19] raghavven opened #762 "Not generating .hdf5 file"
_Hi All,_

_The molecular data class is not generating .hdf5 file in the location it says it has created one. For e.g. I am running the following code._
from openfermion.chem import MolecularData

## Set parameters to make a simple molecule.
diatomic_bond_length = .7414
geometry = [('H', (0., 0., 0.)), ('H', (0., 0., diatomic_bond_length))]
basis = 'sto-3g'
multiplicity = 1
charge = 0
description

[2022-01-06 17:22] ncrubin commented on #762
Hi @raghavven, could you try saving it outside your site-packages and python directory?  Maybe to some random directory in your home?  I am wondering if there is a permissions issue here.

[2022-01-06 17:27] ncrubin commented on #762
Actually, it is because the save method is not called.  For your molecule to show up in that directory you can call `molecule.save()` which will write the hdf5 file.

[2022-01-06 17:27] #762 closed

[2022-01-06 17:35] ncrubin commented on #750
Hi @eul94458 can you be a bit more specific here?  maybe with a worked example?  Certainly there are a lot of improvements we can apply to this area of the code and it would be great to see performance gains here.

[2022-01-06 17:37] ncrubin commented on #744
for one body tensor you can take the even or odd indices which will be exactly the one_body_integrals.  The two_body you are correct in scaling by 2.

[2022-01-06 17:37] #744 closed

[2022-01-06 18:53] ncrubin commented on #733
@cvjjm do you still think there is a problem?

[2022-01-06 19:01] cvjjm commented on #733
Sorry, I forgot to close this. All fine.

[2022-01-06 19:01] #733 closed

[2022-01-10 10:55] raghavven commented on #762
Thanks so much for your reply @ncrubin . It worked.

[2022-01-12 10:28] eul94458 commented on #750
Say there is a fermion operator (6^ 5^ 3 2^ 1 0)

 First the program will look at compare (6^, 5^),
then it see it is normal ordered, it proceed to next comparison.

Next is (3, 2^), it is not normal ordered, so indices are swaped.
New operator will be (6^ 5^ 2^ 3 1 0).

Next it will compare (5^, 2^), and this is normal.

Then (6^ 5^), this is normal too.

And then I notice that we have already co

[2022-01-20 04:30] ncrubin commented on #715
We now test against python 3.8 and 3.9 in our CI so this issue can be closed

[2022-01-20 04:30] #715 closed

[2022-01-23 20:35] peterse opened #764 "`SymbolicOperator.isclose` bug for operators with many terms?"
the following [lines of code](https://github.com/quantumlib/OpenFermion/blob/6a2fdacdd77c5101bc47f3d2bde821f0db717b28/src/openfermion/ops/operators/symbolic_operator.py#L635-L636)  (v1.3.0 release branch) implementing `SymbolicOperator.isclose` are doing something strange when comparing two operators:

[code]

This behavior means that operators `x` and `y` whose terms have large coefficients will

[2022-02-02 13:02] PabloAMC commented on #723
The features requested have been included in the merged PR above and are now available (https://github.com/quantumlib/OpenFermion/tree/master/src/openfermion/resource_estimates).
Thanks for including them!

[2022-02-02 13:02] #723 closed

[2022-02-03 16:35] cvmxn1 opened #765 "OpenFermion is not compatible with cirq 0.13 (currect version)"
The current version of OpenFermion is not compatible with cirq v0.13.  When attempting to run the necessary checks prior to pushing , this error notified me that certain features of cirq had been completely deprecated, which forces tests to be interrupted during collection. Prior to this, the version of cirq that was used, was v0.10. This issue was fixed by downgrading to an older version, v0.12.

[2022-02-04 21:19] wpol-psiq opened #766 "Inconsistent bits for rotations in DF and THC resource estimates"
In both the double-factorization and tensor hypercontraction versions of qubitization detailed in the [THC paper](https://arxiv.org/abs/2011.03494), we often need to load angles or coefficients into our computation. These angles need to be represented by some number of bits; in this paper in particular, we have `aleph` and `beth`.

In the [DF](https://github.com/quantumlib/OpenFermion/blob/master/

[2022-02-06 19:12] PabloAMC opened #767 "Would it be helpful adding first quantization methods to resource estimates?"
I've seen that OpenFermion now includes some cost estimates: https://github.com/quantumlib/OpenFermion/tree/master/src/openfermion/resource_estimates

They are from the most up-to-date rank-factorization methods, but I could help with the first-quantization methods. Would this be useful for the library maintainers?

I already have coded a version of the qubitization technique, and could probably "

[2022-02-06 19:42] PabloAMC opened #768 "Allowing more flexible parametrization of the cost estimate functions"
In the recent cost estimates functions, there are a number of hardcoded parameters in the system:
https://github.com/quantumlib/OpenFermion/blob/cf53c063d0f124a02ff8776bb7f8afb110d4bde6/src/openfermion/resource_estimates/surface_code_compilation/physical_costing.py#L189-L201
Should we add them as parameters to some class that the user can willingly change?

[2022-02-06 20:04] PabloAMC opened #769 "Taking into account both T gates and Toffoli gates in the cost estimation"
Right now only Toffoli gates are taken into account for the estimation of time and physical qubits required to synthesize non-Clifford gates in the circuit.
https://github.com/quantumlib/OpenFermion/blob/cf53c063d0f124a02ff8776bb7f8afb110d4bde6/src/openfermion/resource_estimates/surface_code_compilation/physical_costing.py#L176-L184
From a Toffoli gate, 2 T gates might be obtained (https://quantum

[2022-02-07 03:25] babbush commented on #767
I think that would be helpful. I assume you are referring to the estimates from (https://journals.aps.org/prxquantum/abstract/10.1103/PRXQuantum.2.040332)?

I don't think the initial state preparation is going to be so important since one can anti-symmeterize the initial states with very significantly less complexity than the cost of phase estimation, so it is essentially a negligible additive fac

[2022-02-07 19:48] mpharrigan commented on #765
hmm we test against cirq 0.13 and `cirq.Qid` was introduced a really long time ago.

I'll investigate

[2022-02-07 19:53] mpharrigan commented on #765
I couldn't reproduce naively.

Can you paste your exact openfermion and cirq version

[2022-02-07 19:58] cvmxn1 commented on #765
The version used when I ran into this incompatibility for openfermion and cirq version was 1.0.0 and 0.13.0 respectively. The reason for using such an outdated version of OF is because it is installed in editable mode, for method development.

[2022-02-07 20:02] mpharrigan commented on #765
Ok, you need a more recent version of openfermion to use a recent version of Cirq. Since you've installed in editable mode it should just be a matter of `git pull origin master` in your openfermion directory. I recommend doing all development vs the `master` branch rather than vs the 1.0 release. You can always merge in the latest changes to your feature branch using `git pull` or `git merge`

[2022-02-07 20:02] #765 closed

[2022-02-07 23:45] kevinsung opened #771 "Bug in QuadraticHamiltonian diagonalization"
The following code raises an error:
[code]
This is due to an incorrect assumption in the QuadraticHamiltonian code regarding the format of the Schur decomposition.

[2022-02-15 18:56] PabloAMC commented on #767
Yes, I am referring to that 🙂.

Ok, give me a couple of weeks (as I am a bit busy right now) and I'll get it done.

[2022-02-23 04:22] snow0369 opened #773 "Obtaining Fock matrix"
Even though there is the `fock_matrix` attribute in the documentation of `MolecularData`, it doesn't seem to be implemented.
Could you make an update here, please?

[2022-02-27 17:49] #771 closed

[2022-02-27 17:53] ncrubin commented on #773
Let me expand, In canonical orbitals the fock matrix is diagonal with entries as the MO-energies.  So you could construct it simply.  In non-canonical orbitals (an arbitrary orthogonal basis) you can construct the fock operator in the usual way.

[2022-02-28 06:14] snow0369 commented on #773
Sorry for the late reply. I mean the Fock matrix in terms of atomic orbitals, which is discussed [here](http://forum.psicode.org/t/fock-matrix-in-original-basis/1570). Though there is a mention of this attribute in the docstring of `MolecularData`, in this [line](https://github.com/quantumlib/OpenFermion/blob/master/src/openfermion/chem/molecular_data.py#L291), I couldn't find its actual implement

[2022-02-28 06:15] snow0369 commented on #773
I am using both of them, having the same problem. Thank you.

[2022-02-28 06:27] snow0369 commented on #773
Ahh, I realized that it can be derived from Roothaan's equation since the canonical orbital, overlap, and orbital energies are given.

[2022-03-02 11:15] alanspace opened #774 "Cannot import name 'MolecularData' from 'openfermion.hamiltonians'"
Hello developers, I'm encountering a problem in opening a jupyter notebook from this GitHub repository:

https://github.com/hsim13372/QCompress

When I run the example [qae_h2_demo.ipynb](https://github.com/hsim13372/QCompress/blob/master/examples/qae_h2_demo.ipynb)

I got the following error:

---------------------------------------------------------------------------
ImportError

[2022-03-02 12:11] #774 closed

[2022-03-02 12:45] alanspace commented on #774
Hello Tom,

It is so nice of you helping me go through this.

I have changed
[code]

to

[code]

However, I encountered another error, which I have asked in another repository, regarding `No module named 'ruamel'
`
---------------------------------------------------------------------------
[code]

------------------------------------------------------------------------------

I hope you or other d

[2022-04-04 22:00] drewrisinger opened #775 "[cirq 0.14.0]: test failures"
The following tests fail when built against ``cirq-core 0.14.0`` (which is nominally compatible according to ``requirements.txt``:
* src/openfermion/circuits/gates/fermionic_simulation_test.py::test_fermionic_simulation_gate[gate9]
* src/openfermion/circuits/gates/fermionic_simulation_test.py::test_fermionic_simulation_gate[gate10]
* src/openfermion/circuits/gates/fermionic_simulation_test.py::tes

[2022-04-04 22:04] drewrisinger commented on #775
not sure who to ping exactly, but looks like @mpharrigan revamped the CI build system to work with ``cirq ~= 0.13.0``

[2022-04-04 22:32] mpharrigan commented on #775
Thanks, I'll take a look

[2022-04-13 21:38] wjhuggins opened #776 "The implementation of bogoliubov for a general fermionic gaussian that doesn't mix spin up and spin down is broken"
When bogoliubov_transform is called with a transformation_matrix that has shape N x 2N the check that determines whether or not the transformation mixes spin up and spin down and the subsequent code is broken. The current check (_is_spin_block_diagonal) and some of the subsequent code is only valid for a square transformation_matrix.

To reproduce:

Call bogoliubov_transform with the following arg

[2022-04-13 21:40] wjhuggins commented on #776
It can be circumvented by adding the following code to _is_spin_block_diagonal(matrix)
    if matrix.shape[0] != matrix.shape[1]:
        return False

It should be possible to implement properly for a general fermionic gaussian transformation though.

[2022-05-20 08:00] lmarti-dev opened #782 "`prepare_slater_determinant` doesn't flip bits as expected"
I hope this is the right place to ask this question.

I am trying to implement an algorithm which prepares a Slater determinant as described in arXiv:1711.05395.

The `prepare_slater_determinant` expects an `initial_state` which should be the "computational basis state that the qubits start in".

However, this piece of code seems to defeat that purpose as it doesn't correctly flip the bits, but ra

[2022-05-20 13:24] kevinsung commented on #782
This is intended. The algorithm starts out by setting the first N_f qubits to 1 and the rest to 0, where N_f is the number of particles. In your example, since there are 4 orbitals and 2 particles, the algorithm will add X gates to make the starting state `1100`.

[2022-05-25 10:04] lmarti-dev commented on #782
Thanks for the answer.

I feel like the purpose of `initial_state` still eludes me, though.

For example, if I run this simple code

[code]

I get

[code]

whereas, naively, I would expect

[code]

[2022-05-25 10:06] lmarti-dev commented on #782
Apologies for the closing and reopening, this was unintended

[2022-05-25 11:43] kevinsung commented on #782
Why do you expect this?

[2022-05-25 11:44] kevinsung commented on #782
Just to clarify, `initial_state` refers to the state of the qubits _before_ the circuit is applied.

[2022-05-25 11:48] lmarti-dev commented on #782
The documentation for `prepare_slater_determinant` mentions

Which I would expect results in the circuit being setup in such a way that qubits 2 and 3 are set to one.

If I understand correctly, this means `initial_state` informs the function of the computational state that will be inputed?

[2022-05-25 12:14] kevinsung commented on #782
Yes, it refers to the state before the gates of the circuit get applied (including the X gates)

The circuit assumes 2 and 3 and set to one, so it is flipping them to set them to zero, and adding X gates to set qubits 0 and 1 to one, which is required for the rest of the circuit.

[2022-06-13 19:30] #773 closed

[2022-07-19 21:27] beevus77 opened #787 "FermiHubbardModel documentation latex not rendered"
In the documentation for the openfermion.hamiltonians.FermiHubbardModel, none of the LaTeX is rendering in the descriptive comments.

[2022-07-20 21:02] yurivict opened #789 "Not compatible with the latest release of cirq - 1.0.0"
[Line](https://github.com/quantumlib/OpenFermion/blob/master/requirements.txt#L1).

[2022-07-27 00:13] mpharrigan commented on #775
Is this fixed following #791 ?

[2022-08-07 03:56] ncrubin commented on #789
Can you elaborate on this a bit more?  I've been working with the 0.15.0 and 1.0 release and everything seems fine.

[2022-08-07 19:53] yurivict commented on #789
This was perhaps a version mismatch at some point.
There is no problem now.

Thank you.

[2022-08-07 19:53] #789 closed

[2022-08-09 17:45] ncrubin commented on #775
I believe this is fixed now.

[2022-08-09 17:45] #775 closed

[2022-08-11 22:50] yurivict opened #796 "OpenFermion-Dirac breaks with the current version of OpenFermion"
The README says that Dirac is supported, but all examples in OpenFermion-Dirac break: https://github.com/bsenjean/Openfermion-Dirac/issues/6

[2022-08-11 23:16] ncrubin commented on #796
I've left a comment on the OpenFermion-DIRAC repository (https://github.com/bsenjean/Openfermion-Dirac/issues/6#issuecomment-1212582066)

eigenspectrum was moved from utils to linalg.sparse_tools.py. This change needs to occur for almost all examples in OF-DIRAC.

[2022-08-12 07:12] bsenjean commented on #796
Hi Nicholas,

Sure, I'll do ASAP ;)

Best,
Bruno

Le ven. 12 août 2022 à 01:17, Nicholas Rubin ***@***.***> a
écrit :

[2022-08-12 07:32] bsenjean commented on #796
This is fixed ;)

[2022-08-12 07:35] yurivict commented on #796
Thanks!

[2022-08-12 07:35] #796 closed

[2022-08-17 14:36] vprusso opened #797 "Deprecated usage of `scipy.optimize.optimize import OptimizeResult`"
In files [hartree_fock_test.py](https://github.com/quantumlib/OpenFermion/blob/7c3581ad75716d1ff6a0043a516d271052a90e35/src/openfermion/hamiltonians/hartree_fock_test.py) and [hartree_fock.py](https://github.com/quantumlib/OpenFermion/blob/7c3581ad75716d1ff6a0043a516d271052a90e35/src/openfermion/hamiltonians/hartree_fock.py) the import pattern of

[code]

yields the following deprecation warning:

[2022-08-21 05:11] buttercutter opened #798 "Jordan-Wigner ↔ Bravyi-Kitaev transformation"
I am trying to convert Jordan-Wigner mapping to Bravyi-Kitaev mapping for an existing QASM file.

I found [this stackexchange thread](https://quantumcomputing.stackexchange.com/a/12427/21223) to be relevant, but I am not sure whether it had been correctly implemented by the author.

Could anyone advise ?
Or if possible, could this be made as part of OpenFermion internal coding implementation ?

[2022-08-25 20:00] Amana-L commented on #787
Hi, I'd like to help with this issue. Can you provide the link to the error please?

[2022-09-06 08:51] lmarti-dev commented on #787
Hi, I'd also be interested in seeing this issue solved.

the page beevus77 is mentioning is [here](https://quantumai.google/reference/python/openfermion/hamiltonians/FermiHubbardModel?hl=en)

and you can find a few more by searching the unrendered token `math::`, [like so](https://quantumai.google/s/results?q=math%3A%3A)

[2022-09-09 01:09] Amana-L commented on #787
Is there a reason for this document to be in python(.py) instead of a notebook (.ipynb)? Then, it would have been easier to display the equations in markdown using the same LaTex notation.

[2022-09-23 15:14] MafaldaRA commented on #660
Hello,

I came across this problem also.

Here's a snippet:

[code]

Output:

[code]

It eliminated the `1 [1^ 0]` term as expected, but renumbered the 2,3 orbitals as 0,1, even though I set `prune=False`. So now the `0.5 [3^ 2]` term reads `0.5 [1^ 0]`, which is not what I wanted.

I took a look at [the source code for `freeze_orbitals`](https://github.com/quantumlib/OpenFermion/blob/v1.5.1/src/o